@charset "utf-8";

/* リセット */
* {
	-webkit-text-size-adjust: none;
	box-sizing: border-box;
}
body {
	font-size: 16px;
	color: #404040;
	min-width: 320px;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
a{
	color: #076baf;
}
/* ヘッダ */
.header-area{
	padding: 11px 3.125% 0;
	background: url(/sp/img/bg_green-dark.png) repeat-x 0 -100px;
	-webkit-background-size: 320px 105px;
}
.header-area .logo{
	width: 122px;
	height: auto;
	float: left;
	margin: 10px 0 0;
}
.header-area .tel{
	width: 171px;
	height: auto;
	float: right;
}
.header-area .txt{
	margin: 5px 0;
	text-align: center;
	font-size: 12px;
}
.header-area .cnt-txt{
	background: #e5f4ec;
	padding: 8px 14px;
	margin: 0 0 13px;

}
.header-area .cnt-txt ul{
	text-align: center;
	margin: 0 0 6px;
}
.header-area .cnt-txt li{
	display: inline-block;
}
.header-area .cnt-txt li:first-child{
	margin-right:10px;
}
.header-area .cnt-txt li span{
	color: #2c9673;
}
.header-area .cnt-txt .info{
	display: block;
	text-align: right;
	font-size: 8px;
}
/* カルーセル */
#kodawari-car .title{
	background: url(/sp/img/bg_green-left-arrow.png) no-repeat 0 center;
	background-size: cover;
	line-height: 55px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	padding: 0 0 0 14.0625%;
}
#kodawari-car .box-bg {
	border: 1px solid #e0e0e0;
	background-color: #FFFFFF;
	margin: 11px 0 18px;
}
#kodawari-car .box-bg .carousel {
	background-color: #f4f0eb;
	padding: 9px 20px 0;
	border: 1px solid #fff;
}
#kodawari-car .box-bg .carousel li {
	padding: 7px;
	background-color: #FFF;
	margin: 8px 5px;
}
#kodawari-car .box-bg .carousel li p {
	text-align: center;
	font-size: 14px;
	line-height: 1.5;
	margin: 9px 0 0;
}
#kodawari-car .box-bg .carousel li p span {
	font-size: 11px;
	display: block;
	margin: 9px 0 0;
}
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.owl-carousel{
	display: none;
	position: relative;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-item{
	float: left;
	height: 100%;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}
.owl-carousel .owl-prev{
	position: absolute;
	top:0;
	left:0;
	width: 3.125%;
	height: 100%;
	text-indent: -9999px;
	background: #cabcae url(/sp/img/icon_arrow_left.png) no-repeat center center;
	background-size: 3px auto;
}
.owl-carousel .owl-next{
	position: absolute;
	top:0;
	right:0;
	width: 3.125%;
	height: 100%;
	text-indent: -9999px;
	background: #cabcae;
	background: #cabcae url(/sp/img/icon_arrow_right.png) no-repeat center center;
	background-size: 3px auto;
}

/* 電話番号バナー */
.tel-banner{
	background: -webkit-gradient(linear, left top, left bottom, from(#DDEBE4),  
            color-stop(0.5, #E5F4EC),  
            to(#E5F4EC));
	padding: 13px 0;
	text-align: center;
}
.tel-banner img{
	width: 92.8125%;
}
/* サイト注意事項 */
.notice{
	background: url(/sp/img/bg_notice.png) repeat-x;
	background-size: auto 50px;
}
.notice .title{
	line-height: 50px;
	padding: 0 4.6875%;
	font-weight: bold;
	background: url(/sp/img/icon_arrow_down.png) no-repeat right center;
	background-size: 39px auto;
	width: 87%;
	margin: 0;
}
.notice ul{
	display: none;
	background: url(/sp/img/bg_cream.png) repeat-y;
	background-size: 100% auto;
	padding: 15px 4.375%;
	list-style-position: outside;
	
}
.notice ul li{
	font-size: 11px;
	list-style:none;
	margin: 0 0 1.5em;
	text-indent: -2em;
	padding: 0 0 0 2em;
}
.notice ul li:before {
 content:"※　"
}
.notice ul li:last-child{
	margin: 0;
}
/* フッタナビ */
#nav{
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
}
#nav .featured{
	background: url(/sp/img/bg_green_bright.png);
	background-size: cover;
	padding: 10px 0;
}
#nav .featured li{
	padding: 3px;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.5, #fff), to(#f2f2f2));
    margin: 0 0 2px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
#nav .featured li:last-child{
	margin: 0;
}
#nav .featured li a{
	border-left:4px solid #9DCCA2;
	display: block;
	padding: 6px 0 8px 8px;
	font-weight: bold;
	text-decoration: none;
	background: url(/sp/img/bg_pc.png) no-repeat right center;
	background-size: 32px auto;
	width: 95.5%;
}
#nav .featured li a span{
	line-height: 33px;
	display: inline-block;
	padding: 3px 0 0;
}
#nav .featured li a img{
	width: 31px;
	border: 1px solid #d6d6d6;
	margin-right: 6px; 
}
#nav .regular{
	padding: 0;
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.1);

}
#nav .regular li{
	background: -webkit-gradient(linear, left top, left bottom, from(#fff),  
           color-stop(0.5, #fff),  
           to(#f2f2f2));
   float:left;
   width: 50%;
   line-height: 43px;
   padding: 2px 0 0;
}
#nav .regular li a{
	text-decoration: none;
	padding: 0 7px;
	background: url(/sp/img/bg_pc.png) no-repeat right center;
	background-size: 32px auto;
	display: block;
	border-bottom: 1px solid #EAEAEA;
	border-left: 1px solid #EAEAEA;
	width: 87%;
}
#nav .regular li.mini a{
	font-size: 11px;
}
#nav .to-top{
	text-align: center;
	padding: 12px 0;
}
#nav .to-top a{
	background: url(/sp/img/bg_to-top.png) no-repeat 0 1px;
	background-size: 13px auto;
	text-decoration: none;
	font-size: 14px;
	padding: 0 0 0 15px;
}
.pc-mobile{
	background: #E5F4EC;
	line-height: 45px;
	padding: 2px 0 0;
	text-align: center;
	color: #404040;
	font-weight: bold;
}
.pc-mobile span{
	color: #2c9673;
}
/* フッタ */
#footer{
	text-align: center;
	font-size: 10px;
	line-height: 23px;
	padding: 2px 0 0;
	color: #fff;
	background: url(/sp/img/bg_green-dark.png) no-repeat;
	background-size: cover;
}
/* 問い合わせリンク */
.result-request{
background:url(/sp/img/bg_green-dark.png) no-repeat;
background-size: cover;
color: #fff;
text-align: center;
padding: 10px 0;
position: fixed;
left: 0;
bottom: -100px;
visibility: hidden;
z-index: 65535;
width: 100%;
-webkit-transition: all .5s ease-out;
transition: all .5s ease-out;
	-webkit-box-shadow: 0px -2px 2px rgba(0,0,0,0.2);
	}
	.result-request .record{
		margin: 0 0 10px;
	}
.result-request .record span {
	font-weight: bold;
}
.result-request .submit_button{
	color: #076baf;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.5, #fff), to(#ddd));
	border: none;
	border-radius: 5px;
	line-height: 40px;
	width: 90%;
	font-size: 16px;
	font-weight: bold;
}



.result-request2{
background:url(/sp/img/bg_green-dark.png) no-repeat;
background-size: cover;
color: #fff;
text-align: center;
padding: 10px 0;

/*position: fixed;*/
position: absolute;
bottom: 0;
/*visibility: hidden;*/
display:none;
z-index: 65535;
width: 100%;
-webkit-transition: all .5s ease-out;
transition: all .5s ease-out;
	-webkit-box-shadow: 0px -2px 2px rgba(0,0,0,0.2);
}
.result-request2 .record{
	margin: 0 0 10px;
}
.result-request2 .record span {
	font-weight: bold;
}
.result-request2 .submit_button{
	color: #076baf;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.5, #fff), to(#ddd));
	border: none;
	border-radius: 5px;
	line-height: 40px;
	width: 90%;
	font-size: 16px;
	font-weight: bold;
}


p.text {
    width: 90%;
    line-height: 140%;
    font-size: 100%;
    margin: 3.13% auto;
}
p.text-13 {
    width: 90%;
    line-height: 140%;
    font-size: 14px;
    margin: 0 auto 3.13%;
}
.small {
    font-size: 10px;
}
#examination-button{
	border-top: 1px solid #BDD1C7;
	padding: 11px 0;
	text-align: center;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2),  
            color-stop(0.5, #fff),  
            to(#fff));
}
#examination-button img{
	width: 90.625%;
}

/*----Breadcrumb----*/
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
		font-size:90%;
}
.breadcrumb > li {
  display: inline-block;
  line-height: 1.5;
}
.breadcrumb > li + li:before {
  content: ">";
  padding: 0 5px;
  color: #666;
}
.breadcrumb > .active {
  color: #999999;
}

.header-area .menu{
	float: right;
	margin: 6px 0 0;
	background: url(../common_img/bg_section-title.png) no-repeat;
	color: #fff;
	padding: 5px 10px;
	font-size: 11px;
	border-radius: 5px;
}
.header-area .menu span{
	line-height: 15px;
	background: url(../common_img/icon_menu.png) no-repeat right center;
	background-size: 15px auto;
	padding: 2px 18px 0 0;
	display: block;
}

#nav_menu{
	display: none;
	border-top: 1px solid #ddd;
	margin: 10px 0 0;
	position: absolute;
	width: 9em;
	right: 0;
	top: 46px;
	background: #ddd;
	-webkit-box-shadow: -3px 3px 3px rgba(0,0,0,0.2);
	z-index: 9999;
}
#nav_menu li{
	background: -webkit-gradient(linear, left top, left bottom, from(#fff),  
           color-stop(0.5, #fff),  
           to(#f2f2f2));
 	margin: 0 0 1px;
border-bottom: 1px solid #eee;
padding: 10px 4.675%;
}
#nav_menu li a{
	text-decoration: none;
	font-weight: bold;
	font-size: 13px;
}

/*メニュー用*/
#build-menu-page {
  left: 0;
  position: relative;
  background-color: #fff;
}

#build-menu {
	visibility: visible;
	z-index: 0;
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	-o-transform: none;
	-ms-transform: none;
	transform: none;
	display: none;
	width: 145px;
  padding: 20px 0px 0px 0px;
  position: static;
  z-index: 0;
  top: 0;
  height: 100%;
  overflow-y: auto;
  left: 0;
  float:right;
}

.build-menu-animating #build-menu-page {
	position: fixed;
	overflow: hidden;
	width: 100%;
	top: 0;
	bottom: 0;
}

.build-menu-animating.build-menu-close #build-menu-page,
.build-menu-animating.build-menu-open #build-menu-page {
	-webkit-transition: -webkit-transform 250ms;
	-moz-transition: -moz-transform 250ms;
	-o-transition: -o-transform 250ms;
	-ms-transition: -ms-transform 250ms;
	transition: transform 250ms;
}

.build-menu-animating.build-menu-open #build-menu-page {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.build-menu-animating #build-menu { display: block }

.build-menu-open #build-menu {
	display: block;
	-webkit-transition-delay: 0ms, 0ms, 0ms;
	-moz-transition-delay: 0ms, 0ms, 0ms;
	-o-transition-delay: 0ms, 0ms, 0ms;
	-ms-transition-delay: 0ms, 0ms, 0ms;
	transition-delay: 0ms, 0ms, 0ms;
}

.build-menu-open #build-menu,
.build-menu-close #build-menu {
	-webkit-transition: -webkit-transform 250ms, opacity 250ms, visibility 0ms 250ms;
	-moz-transition: -moz-transform 250ms, opacity 250ms, visibility 0ms 250ms;
	-o-transition: -o-transform 250ms, opacity 250ms, visibility 0ms 250ms;
	-ms-transition: -ms-transform 250ms, opacity 250ms, visibility 0ms 250ms;
	transition: transform 250ms, opacity 250ms, visibility 0ms 250ms;
}

.header-area .telsp{
	width: 171px;
	height: auto;
	margin:0 auto 0 auto;
}

#fix-content {
	left: 0;
	border-top: 2px solid #2c9673;
	padding: 5px 0;
	background: #fff;
    position: fixed;
	bottom: 0;
	z-index: 99;
	width: 100%;
	box-sizing: border-box;
}
#fix-content a {
	text-decoration: none;
}
#fix-content #footer_tel_top {
	margin-right: 5px;
	padding-top: 5px;
	width: 57%;
	text-align: center;
}
#fix-content .lead {
	color: #404040;
	font-size: 11px;
	text-decoration: none;
}
#fix-content .tel a {
	display: block;
	text-align: center;
	text-decoration: none;
}
#fix-content .caption {
	color: #f8952b;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
}
#fix-content img.icon-tel {
	margin-bottom: 5px;
	vertical-align: middle;
	width: 20px;
}
#fix-content a .txt-tel {
	color: #404040;
	font: normal normal bold 1.5em/1 Arial, Helvetica, sans-serif;
	text-decoration: none;
}
#fix-content p.txt-touch {
	font-size: 14px;
	line-height: 1.2;
}
#fix-content div#box-kantan {
	background: #f8952b;
	border-radius: 4px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	color: #fff;
	float: right;
	font: normal normal bold 1.1em/1 Arial, Helvetica, sans-serif;
	margin-right: 5px;
	padding: 10px 0;
	right: 0;
	text-align: center;
	text-decoration: none;
	top: 0;
	width: 43%;
}
#fix-content div#box-kantan p.txt-kantan {
	font-size: 12px;
	padding-bottom: 5px;
}

/*おすすめの霊園枠（160616）*/
.section h2.ttl-osusume {
	background: url(/sp/img/bg_green-left-arrow.png) no-repeat 0 center;
	background-size: cover;
	border: none;
	line-height: 2.5;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	padding: 0 0 0 14.0625%;
}

.section h5.ttl-osusume {
	background: url(/sp/img/bg_green-left-arrow.png) no-repeat 0 center;
	background-size: cover;
	border: none;
	line-height: 55px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	padding: 0 0 0 14.0625%;
}

.osusume-list li {
    border-bottom: 1px solid #ccc;
	font-size: 13px;
	line-height: 1.5;
    padding: 10px 12px;
}
.osusume-list li h3 {
    margin-bottom: 10px;
}
.osusume-list li h3 a {
    font-size: 15px;
    font-weight: 700;
    color: #118650;
}
.osusume-list .thumb {
    float: left;
    width: 35%;
}
.osusume-list .right {
    float: right;
    width: 61%;
    padding-left: 10px;
}
.osusume-list .right .price {
    display: block;
    color: #e60012;
    font-size: 15px;
    font-weight: 700;
}
.osusume-list .right .price + span {
    display: block;
    color: #e60012;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 3px;
}
.osusume-list .right .price + span img {
    width: 15px;
    vertical-align: -2px;
    margin-right: 0;
}
.osusume-list .right .price + span + span {
    margin-bottom: 3px;
    display: block;
}

/*レコメンド枠（160621）*/
.section h2.ttl-recomend {
    background: #ececec;
    border-top: 1px solid #b7b7b7;
    border-bottom: 2px solid #b7b7b7;
    padding: 9px 12px;
    font-size: 14px;
    font-weight: 700;
	line-height: 1.5;
    position: relative;
}
.section h2.ttl-recomend img {
    width: 13px;
    height: auto;
    vertical-align: middle;
    margin-right: 6px;
    float: left;
    margin-top: 2px;
}
.section h2.ttl-recomend span {
    float: left;
    width: calc(100% - 22px);
}

/*イメージ内おすすめ表示（160712）*/
.conbox .img {
	position: relative;
}
.conbox .img .ico-osusume {
	position: absolute;
	right: 5%;
	top: 35%;
	width: 65%;
	z-index: 1;
}

/*お客様の声追加（160719）*/
.section {
	box-sizing: border-box;
	font-size: 13px;
	line-height: 1.5;
}
.section h2 {
    background: #ececec;
    border-top: 1px solid #b7b7b7;
    border-bottom: 2px solid #b7b7b7;
    padding: 9px 12px;
    font-size: 14px;
    font-weight: 700;
    position: relative;
}
.section h2 a {
    position: absolute;
    right: 0;
    top: 11px;
    font-size: 12px;
    padding-right: 15px;
}
.section h2 a:after {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    background: url(../common_img/ico-arrow-down.png) no-repeat 0 0;
    background-size: 100% 100%;
    margin-left: 5px;
}
.section h2 span.pos {
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    right: 12px;
    top: 11px;
}
.section h2 img {
    width: 13px;
    height: auto;
    vertical-align: middle;
    margin-right: 6px;
}
.section .container {
	padding: 0 12px;
}
.section .btn-voice {
	cursor: pointer; 
	margin: 0 auto 10px;
	text-align: center;
	width: 80%;
}

.button-label {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 31px;
    font-size: 0;
    z-index: 2;
}

.text-detail {
    position: absolute;
    right: 6px;
    top: 45%;
    margin-top: -10px;
    height: 20px;
    width: auto;
    z-index: 1;
}

.review-block {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 8px 33px 8px 10px;
    position: relative;
}
.review-block:before {
    content: "";
    width: 30px;
    height: 100%;
    background: #999 url(../detail/img/bg_arrow_right.png) no-repeat center bottom;
    /*background-position: 50% 87%;*/
    background-position: 50% 50%;
    position: absolute;
    right: 0;
    top: 0;
}
.review-block .avatar {
    float: left;
    width: 20%;
    padding-right: 5px;
}
.review-block .view {
    float: left;
    width: 80%;
    padding-left: 5px;
    font-size: 10px;
}
.review-block .view h3 {
    font-weight: 700;
    font-size: 13px;
    color: #118650;
}
.review-block .view .img-star {
    font-size: 15px;
    font-weight: 700;
    color: #e60012;
    line-height: 1;
    margin-bottom: 5px;
}
.review-block .view .img-star img {
    width: 15px;
    vertical-align: -2px;
}
.review-block .comment {
	clear: both;
	padding-top: 5px;
}
.review-block .box-ttl {
	clear: both;
	line-height: 1.0;
	margin-bottom: 2px;
}
.review-block .box-ttl .label-txt {
	background: #ccc;
	color: #000;
	display: inline;
	font-size: 10px;
	line-height: 1.0;
	padding: 4px 4px 2px;
	text-align: center;
}
.review-block .box-ttl .ttl-reien {
	color: #076baf;
	display: inline;
	font-weight: bold;
	font-size: 15px;
	line-height: 1.2;
}

/*さがすトップ改修（161108）*/
.more-select {
	display: none;
}
.txt-more-select {
	color: #076baf;
	text-align: center;
}

/*履歴ボタン追加（161122）*/
#header-main-02 .header-area {
	padding: 4px 5px 5px 5px;
}
#header-main .header-area {
	padding: 4px 5px 5px 5px;
}
.header-area .menu01 {
	margin-top: 3px;
}
.header-area .txt-header {
	color: #207515;
	float: left;
	font-size: 10px;
	letter-spacing: -1px;
	line-height: 1.4;
	margin: 0;
	padding: 7px 0 0 0px;
	white-space: nowrap;
}
.header-area .img-rireki {
	cursor: pointer;
	display: inline-block;
    float: right;
	margin: 3px 5px 0 0;
	width: 42px;
}

.area-rireki-top {
	background: #fff;
	margin: 10px 5px;
}
.area-rireki-top .box-num-rireki .txt-num {
	margin-bottom: 5px;
}
.area-rireki-top .box-num-rireki .txt-num span {
	color: #e60012;
}
.area-rireki-top .innerbox .box-matome {
	background: #faf8ed;
	border: 2px solid #118650;
	border-radius: 4px;
	padding: 5px;
	position: relative;
}
.area-rireki-top .innerbox .box-matome:after,
.area-rireki-top .innerbox .box-matome:before {
	border: solid transparent;
	content: " ";
	height: 0;
	left: 22px;
	pointer-events: none;
	position: absolute;
	top: 100%;
	width: 0;
}
.area-rireki-top .innerbox .box-matome:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #faf8ed;
	border-width: 10px;
	margin-left: -10px;
}
.area-rireki-top .innerbox .box-matome:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #118650;
	border-width: 13px;
	margin-left: -13px;
}
.area-rireki-top .innerbox .box-matome span {
	display: inline-block;
}
.area-rireki-top .innerbox .box-matome .txt {
	display: inline-block;
	font-size: 14px;
	line-height: 1.0;
}

.box-btn-rireki {
	background: rgba(0, 0, 0, 0.5);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	margin: 0 auto;
	padding: 10px 5px;
	width: 100%;
}
.box-btn-rireki p {
	display: inline-block;
	width: 42%;
}
.box-btn-rireki p.btn-kengaku {
	display: inline-block;
	width: 84%;
}



/*追加20161121*/
#main-menu {
	/*position: fixed;*/
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.7);
	/*z-index: 99999;*/
	z-index: 1;
	-webkit-overflow-scrolling: touch;
}

#main-menu .menu-inner {
	float: right;
	/*height: 100%;*/
	/*position: relative;*/
	background: #fff;
	width: 80%;
	overflow: auto;
}

#main-menu h2 {
	background-color: #ececec;
	font-weight: 700;
	color: #333;
	font-size: 15px;
	border-bottom: 1px solid #ccc;
	padding: 9px 10px 6px;
}

#main-menu ul li {
	padding: 0 0 0 10px;
	border-bottom: 1px solid #ccc;
}

#main-menu ul li a {
	display: block;
	padding: 11px 10px 10px 20px;
	background-repeat: no-repeat;
	background-position: 0 13px;
	text-decoration: none;
	color: #333;
	font-size: 13px;
}

#main-menu ul .ico-menu-1 a {
	background-image: url(../common_img/ico_star.png);
	background-size: 14px 12px;
}

#main-menu ul .ico-menu-2 a {
	background-image: url(../common_img/ico_h_2.png);
	background-size: 13px 13px;
}

#main-menu ul .ico-menu-3 a {
	background-image: url(../common_img/ico_recently.png);
	background-size: 12px 12px;
}

#main-menu ul .ico-menu-4 a {
	background-image: url(../common_img/ico_document.png);
	background-size: 11px 13px;
}

#main-menu ul .ico-menu-7 a {
	background-image: url(../common_img/ico_2.gif);
	background-size: 12px 12px;
}

#main-menu ul .ico-menu-8 a {
	background-image: url(../common_img/ico_3.gif);
	background-size: 12px 12px;
}

#main-menu ul .ico-menu-9 a {
	background-image: url(../common_img/ico_4.gif);
	background-size: 12px 12px;
}

#main-menu ul .ico-menu-10 a {
	background-image: url(../common_img/ico_pet.png);
	background-size: 12px 12px;
}

#main-menu ul .ico-menu-11 a {
	background-image: url(../common_img/ico_1.gif);
	background-size: 12px 12px;
}

#main-menu ul .ico-menu-12 a {
	background-image: url(../common_img/ico_tree.png);
	background-size: 12px 12px;
}

#main-menu .banner {
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

.open-nav {
	overflow: hidden;
}

.close-menu {
	width: 22px;
	height: 22px;
	display: block;
	background: url(../common_img/ico_close.png) no-repeat 0 0;
	background-size: 100% 100%;
	position: fixed;
	right: 83%;
	font-size: 0;
	top: 10px;
}


/*まとめて申込（170502）*/
.box-matome {
	font-size: 15px;
	position: relative;
	background: #faf8ed;
	border: 2px solid #118650;
	border-radius: 5px;
	margin: 0 5px 8px;
	padding: 2px 5px;
}
.box-matome:after, .box-matome:before {
	top: 100%;
	left: 7%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.box-matome:after {
	border-color: rgba(250, 248, 237, 0);
	border-top-color: #faf8ed;
	border-width: 7px;
	margin-left: -7px;
}
.box-matome:before {
	border-color: rgba(17, 134, 80, 0);
	border-top-color: #118650;
	border-width: 10px;
	margin-left: -10px;
}

.box-matome  label input {
	height: 24px;
	width: 24px;
}

.list-osusume li {
    border: 1px solid #ccc;
	border-radius: 5px;
	display: flex;
	flex-flow: nowrap;
	font-size: 13px;
	justify-content: flex-start;
	line-height: 1.5;
	margin: 0 5px 5px;
    padding: 0;
}
.list-osusume li .box-check {
	background: #bdc8ca;
	border-radius: 4px 0 0 4px/4px 0 0 4px;
	position: relative;
	text-align: center;
	width: 36px;
}
.list-osusume li .box-check label {
	display: inline-block;
	/*height: 100%;*/
	width: 36px;
}
.list-osusume li .box-check label input {
	height: 18px;
	left: 4px;
	margin-top: -9px;
	position: absolute;
	top: 50%;
	width: 18px;
}
.list-osusume li .box-detail {
	background: none;
	border: none;
	margin: 0;
	padding: 5px;
	position: relative;
	text-align: left;
}
.list-osusume li .box-detail h5.ttl-reien {
	background: none;
	border: none;
	display: block;
	line-height: 1.2;
	margin: 0;
	padding: 0;
	width: 100%;
}
.list-osusume li .box-detail h5.ttl-reien a ,
.list-osusume a li .box-detail h5.ttl-reien{
	background: none;
	border: none;
	color: #118650;
	font-size: 15px;
	font-weight: 700;
	left: 5px;
	position: absolute;
	top: 5px;
    text-decoration: underline;
}
.list-osusume li .box-detail h5.ttl-reien a:after,
.list-osusume a li .box-detail h5.ttl-reien:after{
	background: none;
	border: none;
}
.list-osusume li .box-detail .box-inner {
	display: flex;
	margin-top: 30px;
	width: 100%;
}
.list-osusume li .box-detail .box-inner .thumb {
	margin-right: 5px;
	width: 40%;
}
.list-osusume li .box-detail .box-inner .txt-price {
    color: #e60012;
    font-size: 15px;
    font-weight: 700;
	white-space: nowrap;
}
.list-osusume li .box-detail .box-inner .txt-price img {
	vertical-align: baseline;
	width: 80px;
}

.fix-btn02 {
	position: fixed;
	z-index: 30;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0;
	background: rgba(0, 0, 0, 0.6);
}
.fix-btn02 .txt {
	text-align: center;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	padding: 5px 0 0;
}
.fix-btn02 .linetab {
	display: block;
	width: 310px;
	margin: 0 auto;
	padding: 5px 0 0;
}
.fix-btn02 .linetab p {
	display: block;
	width: 150px;
	margin-right: 10px;
	margin-bottom: 5px;
	float: left;
}
.fix-btn02 .linetab p:nth-last-of-type(1) {
	margin-right: 0;
}

/*東証ロゴ変更（170721）*/
.area-listed {
	display: flex;
	flex-flow: nowrap;
	font-weight: bold;
	margin: 5px 0 5px;
	width: 100%;
}
.area-listed img.logo-listed {
	height: 36px;
	margin: 0 5px;
	width: 32px;
}
.area-listed .txt-listed {
	display: inline;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.2;
}
.area-listed .txt-listed span {
	color: #f00;
}

/*固定フッター改修（170808）*/
#fix-content div#box-easy {
	background: #f14f0f;
	border-radius: 4px;
	color: #fff;
	float: right;
	font: normal normal bold 1.1em/1 Arial, Helvetica, sans-serif;
	margin-right: 5px;
	padding: 10px 0;
	right: 0;
	text-align: center;
	text-decoration: none;
	top: 0;
	width: 44%;
}
#fix-content div#box-easy p.txt-easy {
	font-size: 12px;
	padding-bottom: 5px;
}

/*レコメンド改修（170808）*/
.sec-rec {
	margin-bottom: 10px;
}
.sec-rec ul {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	margin: 0 3%;
}
.sec-rec li a {
	background: #f8f8f8;
	border: 1px solid #ccc;
	color: #404040;
	display: block;
	margin-bottom: 10px;
	padding: 0;
	text-decoration: none;
	width: 100%;
}
.sec-rec li a h4 {
	color: #076baf;
	font-size: 14px;
	margin-bottom: 3px;
}
.sec-rec li a .box-img {
	height: auto;
	margin: 0 0 5px;
	position: relative;
	width: 100%;
}
.sec-rec li a .box-img img {
	margin: 0 auto;
	max-height: 480px;
	max-width: 640px;
	text-align: center;
}
.sec-rec li a .box-img .bg-rec {
	background: rgba(0,0,0,0.6);
	bottom: 0;
	color: #fff;
	padding: 5px 10px;
	position: absolute;
	width: 100%;
}
.sec-rec li a .box-img .bg-rec h4 {
	color: #fff;
	font-size: 16px;
	font-weight: normal;
}
.sec-rec li a .box-img .bg-rec .txt-p {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.0;
}
.sec-rec li a .box-img .bg-rec .rank {
	display: inline-block;
	float: right;
	line-height: 1.0;
	text-align: right;
}
.sec-rec li a .box-img .bg-rec .rank img {
	width: 68px;
}
.sec-rec li a .box-img .bg-rec .rank span {
	color: #f14f0f;
	font-size: 16px;
	font-weight: bold;
	vertical-align: baseline;
}
.sec-rec li a ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0 5px 5px;
	width: 100%;
}
.sec-rec li a ul li {
	display: inline;
	line-height: 1.0;
}
.sec-rec li a ul li.icon {
	background: #fff;
	border: solid 2px #118650;
	border-radius: 4px;
	color: #118650;
	font-size: 11px;
	line-height: 11px;
	margin: 2px 4px 4px 0;
	padding: 2px 2px 0;
}
.sec-rec li a ul li.icon-eki {
	margin-right: 2px;
}
.sec-rec li a ul li.icon-eki img {
	height: 22px;
	width: auto;
}
.sec-rec li a ul li.icon-pet {
	margin-right: 4px;
}
.sec-rec li a ul li.icon-pet img {
	height: 18px;
	margin: 2px 0;
	width: auto;
}
.sec-rec li a .txt-p {
	font-size: 20px;
}
.sec-rec li a .txt-a {
	font-size: 14px;
	margin: 0 5px;
}
.sec-rec li a .txt-t {
	font-size: 14px;
	margin: 0 5px 5px;
}
.sec-rec li a .btn-r {
	clear: both;
	display: block;
	margin: 0 auto 10px;
	text-align: center;
	width: 90%;
}

/*ヘッダー改修（170912）*/
#header-main-02 .area-header {
	padding: 0 0 0;
}
#header-main .area-header {
	padding: 0 0 0;
}
.area-header {
	background: url(/sp/common_img/bg_header01.gif) repeat-x left top;
	background-size: 5px 4px;
	border-top: 1px solid #fff;
	box-shadow: 0 0 3px #d5d5d4;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 0;
}
.area-header .logo {
	height: auto;
	margin-top: 12px;
	padding-left: 1%;
	width: 25%;
}
.area-header .img-tel {
	display: inline-block;
	margin-top: 12px;
	padding: 0 1%;
	width: 38%;
}
.area-header .img-rireki {
  background: url(/sp/common_img/bg_rireki.png) center top no-repeat;
	background-size: 43px;
	border-left: 1px solid #d5d5d4;
	color: #118650;
	cursor: pointer;
	display: inline-block;
	font-size: 8px;
	margin: 0;
	padding-top: 32px;
	text-align: center;
	text-decoration: none;
	width: 17%;
}
.area-header .menu01 {
  background: url(/sp/common_img/bg_menus.png) center top no-repeat;
	background-size: 43px;
	border-left: 1px solid #d5d5d4;
	color: #118650;
	cursor: pointer;
	display: inline-block;
	font-size: 9px;
	margin: 0;
	padding-top: 32px;
	text-align: center;
	text-decoration: none;
	width: 17%;
}
.area-header .menu01 span {
  display: block;
}
.area-header .menu01 span.close {
	background: url(/sp/common_img/icon_menu01_close.png) no-repeat center 4px;
	background-size: 13px 13px;
}
.area-header #main_overlay {
	background: rgba(0, 0, 0, 0.7);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	text-align: right;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.area-header #main_overlay span {
	background: #ccc;
	border-radius: 3px;
	display: inline-block;
	margin-top: 3px;
	overflow: auto;
	position: fixed;
	right: 270px;
}

/*メニュー改修（171017）*/
#main-menu .list-icon li {
	background: #fff url(/sp/common_img/icon_link.png) no-repeat 98%;
	background-size: 8px;
	padding: 0 0 0;
	border-bottom: 1px solid #ccc;
}
#main-menu .list-icon li a {
	color: #333;
	font-size: 15px;
	line-height: 1.2;
	padding: 14px 12px 12px 26px;
	text-decoration: none;
}
#main-menu .mb-80 {
	margin-bottom: 80px;
}
#main-menu .list-icon li.icon-01 a {
	background: #ebfbdb url(/sp/common_img/bg_rireki.png) 0 center no-repeat;
	background-size: 24px;
	color: #045896;
}
#main-menu .list-icon li.icon-02 a {
	background: #ebebeb url(/icon_img/icon_navi01.png) 3px center no-repeat;
	background-size: 18px;
	color: #045896;
	padding: 4px 10px 2px 26px;
}
#main-menu .list-icon li.icon-03 a {
	background: transparent url(/sp/common_img/ico_h_7.png) 5px center no-repeat;
	background-size: 14px;
}
#main-menu .list-icon li.icon-04 a {
	background: transparent url(/sp/common_img/ico_star.png) 3px center no-repeat;
	background-size: 18px;
}
#main-menu .list-icon li.icon-05 a {
	background: transparent url(/sp/img/icon_15.png) 3px center no-repeat;
	background-size: 18px;
}
#main-menu .list-icon li.icon-06 a {
	background: transparent url(/sp/img/icon_06.png) 3px center no-repeat;
	background-size: 18px;
}
#main-menu .list-icon li.icon-07 a {
	background: transparent url(/sp/img/icon_04.png) 3px center no-repeat;
	background-size: 18px;
}
#main-menu .list-icon li.icon-08 a {
	background: transparent url(/sp/img/icon_05.png) 3px center no-repeat;
	background-size: 18px;
}
#main-menu .list-icon li.icon-09 a {
	background: transparent url(/sp/img/icon_14.png) 3px center no-repeat;
	background-size: 18px;
}
#main-menu .list-icon li.icon-10 a {
	background: transparent url(/sp/img/icon_02.png) 3px center no-repeat;
	background-size: 18px;
}
#main-menu .list-icon li.icon-11 a {
	background: transparent url(/sp/img/icon_10.png) 3px center no-repeat;
	background-size: 18px;
}
#main-menu .list-icon li.icon-12 a {
	background: transparent url(/sp/img/icon_07.png) 3px center no-repeat;
	background-size: 18px;
}
#main-menu .list-icon li.icon-13 a {
	background: transparent url(/sp/img/icon_08.png) 3px center no-repeat;
	background-size: 18px;
}
#main-menu .list-icon li.icon-14 a {
	background: transparent url(/sp/img/icon_12.png) 3px center no-repeat;
	background-size: 18px;
}
#main-menu .list-icon li.icon-15 a {
	background: transparent url(/sp/img/icon_18.png) 3px center no-repeat;
	background-size: 18px;
}
#main-menu .list-icon li.icon-16 a {
	background: transparent url(/sp/img/icon_13.png) 3px center no-repeat;
	background-size: 18px;
}

#main-menu .list-icon li a span {
	border-right: solid 1px #045896;
;
	margin: 0 4px 0 0;
	padding: 0 4px 0 0;
}
#main-menu .list-icon li a span:last-child {
	border-right: none;
}

#main-menu .list-toku li {
	padding: 0 0 0 2px;
	border-bottom: 1px solid #ccc;
}
#main-menu .list-toku li a {
	background: #fff url(/sp/common_img/icon_link.png) no-repeat 98%;
	background-size: 8px;
	align-items: center;
	color: #333;
	display: flex;
	flex-flow: nowrap;
	font-size: 15px;
	justify-content: flex-start;
	padding: 10px 10px 8px 2px;
	text-decoration: none;
}
#main-menu .list-toku li a .icon-img {
	width: 16%;
}
#main-menu .list-toku li a p {
	line-height: 1.2;
	margin-left: 8px;
	width: 70%;
}
#main-menu .list-toku li a p strong {
	font-weight: bold;
}

/*おすすめ霊園枠アイコン（171010）*/
.list-osusume .box-detail .box-inner .list-icons {
	display: flex;flex-wrap: wrap;
	justify-content: flex-start;
}
.list-osusume .box-detail .box-inner .list-icons li {
	border: none;
	border-radius: 0;
	color: #fff;
	display: inline-block;
	font-weight: normal;
	line-height: 16px;
	height: 16px;
	margin: 0 2px 2px 0;
	padding: 1px 2px 0;
	text-align: center;
	white-space: nowrap;
}
.list-osusume .box-detail .box-inner .txt-p {
	color: #e60012;
	font-size: 15px;
	font-weight: 700;
	line-height: 1.2;
	white-space: nowrap;
}
.list-osusume .box-detail .box-inner .txt-p img {
	vertical-align: baseline;
	width: 80px;
}
.list-osusume .box-detail .box-inner ul.list-icons li.icon-eki {
	background: #00ace6;
	font-size: 12px;
}
.list-osusume .box-detail .box-inner ul.list-icons li.icon-garden {
	background: #6a9c3a;
	font-size: 9px;
}
.list-osusume .box-detail .box-inner ul.list-icons li.icon-staff {
	background: #e60012;
	font-size: 7px;
}
.list-osusume .box-detail .box-inner ul.list-icons li.icon-pet {
	background: #a08d76;
	font-size: 11px;
}

/*サイトマップ（171031）*/
.list-sitemap {
	border-bottom: solid 1px #eaeaea;
	font-size: 18px;
	line-height: 1.2;
	margin: 10px 10px 10px;
	padding-top: 5px;
}
.list-sitemap li a {
	background: url(/sp/common_img/icon_list.png) left 4px no-repeat;
	background-size: 6px;
	color: #299064;
	display: block;
	margin: 0 0 10px 12px;
	padding-left: 12px;
	text-decoration: none;
}
.list-sitemap li.list-top a {
	font-weight: 700;
	margin: 0 0 10px;
}
.list-sitemap li .txt-search {
	background-size: 6px;
	display: block;
	font-weight: 700;
	margin: 0 0 10px 0;
	padding-top: 10px;
	text-decoration: none;
}

/*運営会社（171031）*/
.cont-company {
	font-size: 14px;
	line-height: 1.5;
	margin: 10px 10px 0;
}
.cont-company section {
	margin-bottom: 20px;
}
.cont-company h2 {
	border-bottom: solid 1px #118650;
	color: #118650;
	font-size: 16px;
	font-weight: bold;
	line-height: 2.0;
	margin-bottom: 10px;
}
.cont-company h3 {
	color: #118650;
	font-size: 15px;
	font-weight: bold;
}
.cont-company .img-company {
	width: 80%;
	margin: 0 auto 10px;
}
.cont-company .img-company figcaption {
	font-size: 13px;
}
.cont-company ul.lists li {
	list-style-type: none;
	padding-left: 1em;
	text-indent: -1em;
}
.cont-company .tbl-company {
	border-collapse: collapse;
	border-top: solid 1px #118650;
	border-left: solid 1px #118650;
	width: 100%;
}
.cont-company .tbl-company th {
	background: #ebf8ec;
	border-bottom: solid 1px #118650;
	border-right: solid 1px #118650;
	padding: 2px;
}
.cont-company .tbl-company th.w-40 {
	width: 40%;
}

.cont-company .tbl-company td {
	border-bottom: solid 1px #118650;
	border-right: solid 1px #118650;
	padding: 2px;
}

/*アコーディオン（171031）*/
.area-acc {
  margin: 0;
  padding: 0;
}
.area-acc input {
  display: none;
}
.area-acc label {
  cursor : pointer;
  display: block;
	position: relative;
}
.area-acc label h2:after {
	bottom: -5px;
	content: '\f150';
	font-family: 'FontAwesome';
	font-size: 24px;
	font-weight: normal;
	position: absolute;
	right: 10px;
}
.area-acc .cssacc:checked + label + .accshow {
  height: auto;
  opacity: 1;
}
.area-acc .cssacc:checked + label h2:after {
  content: '\f151';
  padding-left: 10px;
}
.area-acc .accshow {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.5s;
}

/*フッターメニュー改修（171114）*/
#area-menu-f .ttl-new {
	background: url(/sp/img/bg_green.png) repeat-x;
	clear: both;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	line-height: 36px;
	padding: 0 4.6875%;
}
#area-menu-f .list-toku {
	margin: 0 0 10px;
	padding: 0;
}
#area-menu-f .list-toku li {
	border: none;
}
#area-menu-f .list-toku li a {
	align-items: center;
	background: #fff url(/sp/common_img/icon_link.png) no-repeat 98%;
	border: none;
	border-bottom: solid 1px #ccc;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	box-shadow: 0 0 0 0 rgba(0,0,0,0);
	-webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
	-moz-box-shadow: 0 0 0 0 rgba(0,0,0,0);
	color: #404040;
	display: flex;
	flex-flow: nowrap;
	font-size: 16px;
	font-weight: normal;
	justify-content: flex-start;
	line-height: 1.4;
	margin: 0;
	padding: 2%;
	text-align: left;
	text-decoration: none;
	width: 100%;
}
#area-menu-f .list-toku li a .icon-img {
	height: 15%;
	width: 20%;
}
#area-menu-f .list-toku li a .icon-img02 {
	border: solid 2px #ebfbdb;
	box-sizing: border-box;
	/*height: 15%;*/
	width: 20%;
}
#area-menu-f .list-toku li a p {
	margin-left: 5%;
	width: 70%;
}
#area-menu-f .list-toku li a p strong {
	font-size: 16px;
	font-weight: bold;
}

/*見学予約改修（170822）*/
.area-btn-tel {
	background: #f1f1f1;
	font-size: 13px;
	line-height: 1.5;
	padding: 10px 10px;
	text-align: center;
}
.area-btn-tel .txt-lead {
	color: #ff5722;
	font-weight: bold;
	text-align: center;
}
.area-btn-tel a {
	text-decoration: none;
}
.area-btn-tel a .btn-kengaku {
	background: linear-gradient(#fff, #efebe1);
	border: solid 1px #999;
	border-radius: 4px;
	box-shadow: 0 2px #666;
	color: #404040;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.0;
	margin-bottom: 5px;
	padding: 8px 0 6px;
}
.area-btn-tel a .btn-kengaku .freedial {
	background: url(../images/orange_arrow.png) 0 5px no-repeat;
	background-size: 24px;
	color: #404040;
	font-size: 32px;
	font-weight: 600;
	letter-spacing: -2px;
	margin-bottom: 4px;
	padding-left: 15px;
}
.area-btn-tel .btn-kengaku .freedial img.icon-freedial {
	vertical-align: baseline;
	width: 46px;
}
.area-btn-tel a .btn-kengaku .txt-time span {
	color: #ff5722;
}

/*フッターナビ改修（17171114）*/
#navi {
	background: #53a57d;
	color: #fff;
	padding: 20px 10px 10px;
}
#navi .ttl-txt {
	border-left: solid 5px #fff;
	font-weight: bold;
	line-height: 1.0;
	margin-bottom: 10px;
}
#navi ul.list-navi-f {
	margin: 0 0 10px;
}
#navi ul.list-navi-f li {
	border-left: solid 1px #fff;
	display: inline-block;
	line-height: 1.0;
	margin-bottom: 10px;
	padding-left: 5px;
	white-space: nowrap;
}
#navi ul.list-navi-f li:first-child {
	border-left: none;
}
#navi ul.list-navi-f li a {
	color: #fff;
	text-decoration: none;
}

#footer-new {
	background: url(/sp/img/bg_green-dark.png) repeat;
	padding: 20px 0 80px;
	position: relative;
}
#footer-new address {
	color: #fff;
	font-size: 10px;
	text-align: center;
}
#footer-new .to-top a {
	background: #ccc;
	border-radius: 4px;
	box-shadow: 0 2px #666;
	color: #404040;
	display: inline-block;
	margin: 0 auto;
	left: 30%;
	padding: 8px 0 6px;
	position: absolute;
	text-align: center;
	text-decoration: none;
	top: 10px;
	width: 40%;
}
#footer-new .pc {
	margin: 0 5px 20px 0;
	text-align: right;
}
#footer-new .pc a {
	color: #fff;
}

/*バナー設置（171121）*/
.bnr-kengaku {
	margin: 0 auto 10px;
	width: 92%;
}

/*グローバルナビ改修（180130）*/
#main-menu ul .ico-menu-5 a {
	background: url(../common_img/ico_h_7.png) 0 center no-repeat;
	background-size: 8px 13px;
}
#main-menu ul .ico-menu-6 a {
	background: url(../common_img/ico_star.png) 0 center no-repeat;
	background-size: 9px 12px;
}
#main-menu ul .ico-menu-13 a {
	background: url(../common_img/ico_h_13.png) 0 center no-repeat;
	background-size: 12px 10px;
}
