@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src: url("../fonts/icomoon.eot?4p80hy");
	src: url("../fonts/icomoon.eot?#iefix4p80hy") format("embedded-opentype"), url("../fonts/icomoon.woff?4p80hy") format("woff"), url("../fonts/icomoon.ttf?4p80hy") format("truetype"), url("../fonts/icomoon.svg?4p80hy#icomoon") format("svg");
}

/*---------------------
	icon
----------------------- */

[class^="icon-"], [class*=" icon-"] {
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*---------------------
	オープンボタン
----------------------- */
button#open_btn {
	background: none;
	border: none;
	/*margin: 15px auto;*/
	margin-top:5px;
	margin-bottom:15px;
	padding: 0px;
}

/*---------------------
	クローズボタン
----------------------- */
.icon-close:before {
	content: "\e600";
}

#close_btn {
	float: right;
	margin-top: 10px;
	outline: none;
	border: none;
	background: none;
}
#close_btn span {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #404040;
	line-height: 30px;
	cursor: pointer;
}
#close_btn span:before {
	color: #fff;
	font-size: 15px;
}

/*---------------------
    モーダルウィンドウ
----------------------- */
#modalbox {
	overflow: auto;
	max-width: 640px;
	border-radius: 10px;
	background-color: #fff;
	/*以下モーダルウィンドウに必要な箇所*/
	position: fixed;
	z-index: 999;
	display: none;
	width: 90%;
	height: auto;
}
#modalbox section {
	padding: 3%;
}
#modalbox h2 {
	line-height: 1.5;
	padding-bottom: 3%;
}
#modalbox ul {
	border-top: solid 1px #999;
	clear: both;
	padding: 3% 0;
}
#modalbox ul li {
	line-height: 1.5;
}
#modalbox ul#list_link li {
	display: inline-block;
	float: left;
	text-align: center;
	width: 50%;
}
#modalbox ul#list_link li img {
	width: 50%;
}
/*---------------------
    モーダルウィンドウ
    レイヤー
----------------------- */
.layer {
	position: fixed;
	top: 0;
	z-index: 99;
	display: none;
	width: 100%;
	height: 100%;
	background-color: #333;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)"!important;
	opacity: 0.5;
}

/*時間外モーダルウィンドウ表示（171121）*/
#modalform {
	/*overflow: auto;*/
	overflow-x: auto;
	max-width: 640px;
	border-radius: 10px;
	background-color: #fff;
	/*以下モーダルウィンドウに必要な箇所*/
	position: fixed;
	z-index: 999;
	display: none;
	width: 90%;
	height: auto;
	top:0px;
}
#modalform section {
	padding: 3%;
}
#modalform h2 {
	background: url(/sp/common_img/icon_tel.png) left 2% no-repeat;
	background-size: 20px;
	color: #14ae67;
	font-weight: bold;
	line-height: 1.5;
	/*margin-right: -20px;*/
	padding: 0 0 10px 24px;
}
#modalform ul {
	border-top: solid 1px #999;
	clear: both;
	padding: 3% 0;
}
#modalform ul li {
	line-height: 1.5;
}
#modalform ul#list_link li {
	display: inline-block;
	float: left;
	text-align: center;
	width: 50%;
}
#modalform ul#list_link li img {
	width: 50%;
}
#modalform .form-reserve #div_inf_chk {
	border-top: none;
	margin-bottom: 0;
	padding: 0 0 0;
	position: relative;
}
#modalform .form-reserve #div_inf_chk label {
	display: block;
	margin: 0 20px 10px;
}
#modalform .form-reserve .input-date {
	margin-bottom: 10px;
	position: relative;
}
#modalform .form-reserve .input-date input {
	border-radius: 4px;
	font-size: 14px;
  height: 40px;
  margin-top: 0;
  padding: 0 5px;
	width: 50%;
}
#modalform .form-reserve .input-date select {
	height: 40px;
	line-height: 1.0;
	padding: 0;
	text-align: center;
	width: 30%;
}
#modalform .form-reserve .btn-next {
	padding: 0 0;
}
#modalform .form-reserve .btn-next button {
	background: #f37e01;
	border: none;
	border-radius: 4px;
	box-shadow: 0 2px 0 #e15f00;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	margin: 0 0 10px;
	padding: 12px 0 10px; 
	width: 100%;
}
#modalform .form-reserve .input-table input {
	font-size: 12px;
}
#modalform .form-reserve .input-table span.icon-nes {
	background: #ee4c4c;
	color: #fff;
	display: inline-block;
	font-size: 9px;
	font-weight: 600;
	padding: 2px 3px 2px;
	position: absolute;
	right: 10px;
	top: 14px;
}
#modalform .form-reserve .input-date .icon-nes-01,
#modalform .form-reserve #div_inf_chk .icon-nes-01 {
	background: #ee4c4c;
	color: #fff;
	display: inline-block;
	font-size: 9px;
	font-weight: 600;
	margin-left: 5px;
	padding: 2px 3px 2px;
	vertical-align: middle;
}
#modalform .area-end {
	padding: 3%;
}
#modalform .area-end .ttl-end {
	color: #14ae67;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: 10px;
	text-align: center;
}
#modalform .area-end dl dt {
	display: inline-block;
	width: 22%;
}
#modalform .area-end dl dd {
	display: inline-block;
	width: 76%;
}
#modalform .area-end .btn-close {
	background: #999;
	border: none;
	border-radius: 4px;
	box-shadow: 0 2px 0 #666;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	margin: 0 auto;
	padding: 7px 0 5px;
	text-align: center;
	width: 80%;
}

/*gmapモーダルウィンドウ表示*/
#gmap_modal_window {
	/*overflow: auto;*/
	overflow-x: auto;
	max-width: 640px;
	border-radius: 10px;
	background-color: #fff;
	/*以下モーダルウィンドウに必要な箇所*/
	position: fixed;
	z-index: 999;
	display: none;
	width: 90%;
	height: auto;
	top:0px;
}
#gmap_modal_window section {
	padding: 3%;
}
#gmap_modal_window h2 {
	background: url(/sp/common_img/icon_tel.png) left 2% no-repeat;
	background-size: 20px;
	color: #14ae67;
	font-weight: bold;
	line-height: 1.5;
	/*margin-right: -20px;*/
	padding: 0 0 10px 24px;
}
#gmap_modal_window ul {
	border-top: solid 1px #999;
	clear: both;
	padding: 3% 0;
}
#gmap_modal_window ul li {
	line-height: 1.5;
}
#gmap_modal_window ul#list_link li {
	display: inline-block;
	float: left;
	text-align: center;
	width: 50%;
}
#gmap_modal_window ul#list_link li img {
	width: 50%;
}
#gmap_modal_window .form-reserve #div_inf_chk {
	border-top: none;
	margin-bottom: 0;
	padding: 0 0 0;
	position: relative;
}
#gmap_modal_window .form-reserve #div_inf_chk label {
	display: block;
	margin: 0 20px 10px;
}
#gmap_modal_window .form-reserve .input-date {
	margin-bottom: 10px;
	position: relative;
}
#gmap_modal_window .form-reserve .input-date input {
	border-radius: 4px;
	font-size: 14px;
  height: 40px;
  margin-top: 0;
  padding: 0 5px;
	width: 50%;
}
#gmap_modal_window .form-reserve .input-date select {
	height: 40px;
	line-height: 1.0;
	padding: 0;
	text-align: center;
	width: 30%;
}
#gmap_modal_window .form-reserve .btn-next {
	padding: 0 0;
}
#gmap_modal_window .form-reserve .btn-next button {
	background: #f37e01;
	border: none;
	border-radius: 4px;
	box-shadow: 0 2px 0 #e15f00;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	margin: 0 0 10px;
	padding: 12px 0 10px; 
	width: 100%;
}
#gmap_modal_window .form-reserve .input-table input {
	font-size: 12px;
}
#gmap_modal_window .form-reserve .input-table span.icon-nes {
	background: #ee4c4c;
	color: #fff;
	display: inline-block;
	font-size: 9px;
	font-weight: 600;
	padding: 2px 3px 2px;
	position: absolute;
	right: 10px;
	top: 14px;
}
#gmap_modal_window .form-reserve .input-date .icon-nes-01,
#gmap_modal_window .form-reserve #div_inf_chk .icon-nes-01 {
	background: #ee4c4c;
	color: #fff;
	display: inline-block;
	font-size: 9px;
	font-weight: 600;
	margin-left: 5px;
	padding: 2px 3px 2px;
	vertical-align: middle;
}
#gmap_modal_window .area-end {
	padding: 3%;
}
#gmap_modal_window .area-end .ttl-end {
	color: #14ae67;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: 10px;
	text-align: center;
}
#gmap_modal_window .area-end dl dt {
	display: inline-block;
	width: 22%;
}
#gmap_modal_window .area-end dl dd {
	display: inline-block;
	width: 76%;
}
#gmap_modal_window .area-end .btn-close {
	background: #999;
	border: none;
	border-radius: 4px;
	box-shadow: 0 2px 0 #666;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	margin: 0 auto;
	padding: 7px 0 5px;
	text-align: center;
	width: 80%;
}
