@charset "utf-8";


.cL_green {
	color: #14895c !important;
}
/* リセット */
#header-main {
	border-top: 3px solid #1f9058;
	position: relative;
	z-index: 12;
}
.header-area {
	padding: 4px 10px 5px 10px;
	background: url(/sp/common_img/bg_header01.gif) repeat-x left top;
	-webkit-background-size: 5px 4px;
	-moz- background-size: 5px 4px;
	background-size: 5px 4px;
	-webkit-box-shadow: 0 0 3px #d5d5d4;
	-moz-box-shadow: 0 0 3px #d5d5d4;
	box-shadow: 0 0 3px #d5d5d4;
	border-top: 1px solid #fff;
}
.header-area .logo {
    float: left;
    height: auto;
    margin: 5px 0 0;
    width: 122px;
}
.header-area .header_txt {
	float: left;
	padding: 5px 0 0 10px;
	color: #207515;
	font-size: 10px;
	letter-spacing: -1px;
	line-height: 1.4;
	white-space: nowrap;
}
.header-area .menu01 {
    background: url(/sp/common_img/bg_menu.png) no-repeat;
	-webkit-background-size: 42px 33px;
	-moz- background-size: 42px 33px;
	background-size: 42px 33px;
    border-radius: 5px;
    color: #fff;
    float: right;
    font-size: 10px;
	font-weight: bold;
	padding: 0;
	width: 42px;
	height: 33px;
	text-align: center;
	cursor: pointer;
}
.header-area .menu01 span {
    background: url(/sp/common_img/icon_menu01.png) no-repeat center 4px;
	-webkit-background-size: 25px 13px;
	-moz- background-size: 25px 13px;
	background-size: 25px 13px;
    display: block;
    padding: 20px 0 0 0;
	letter-spacing: -1px;
}
.header-area .menu01 span.close {
	background: url(/sp/common_img/icon_menu01_close.png) no-repeat center 4px;
	-webkit-background-size: 13px 13px;
	-moz- background-size: 13px 13px;
	background-size: 13px 13px;
}
#nav_menu {
	margin: 0;
}
#nav_menu li{
	background: -webkit-gradient(linear, left top, left bottom, from(#fff),  
           color-stop(0.5, #fff),  
           to(#f2f2f2));
    background: -moz-linear-gradient(top, #fff, #f2f2f2); 
    background: -o-linear-gradient(top, #fff, #f2f2f2);
    background: -ms-linear-gradient(top, #fff, #f2f2f2);  
}

#count {
	background: #f4f1e9;
	/*-webkit-box-shadow: 0 3px 3px #f1f2f2;
	-moz-box-shadow: 0 3px 3px #f1f2f2;
	box-shadow: 0 3px 3px #f1f2f2;*/
	position: relative;
	z-index: 11;
}
#count ul {
	padding: 4px 0;
	text-align: center;
}
#count ul li {
	display: inline-block;
	width: 96px;
	height: 41px;
	position: relative;
}
#count ul li p.numb {
	position: absolute;
	left: 46px;
	top: 20px;
	color: #186c49;
	font-weight: bold;
}

#telBox {
	padding: 4px 5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#d6effe),  
           color-stop(0.5, #d6effe),  
           to(#87d2ff));
    background: -moz-linear-gradient(top, #d6effe, #87d2ff); 
    background: -o-linear-gradient(top, #d6effe, #87d2ff);
    background: -ms-linear-gradient(top, #d6effe, #87d2ff);
}
#telBox2 {
	padding: 2px 5px;
}
#topmenu h2 {
	padding: 2px 0;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#91c84f), to(#74b22b)); 
	background: -webkit-linear-gradient(top, #91c84f, #74b22b);  
	background: -moz-linear-gradient(top, #91c84f, #74b22b); 
	background: -o-linear-gradient(top, #91c84f, #74b22b);
	background: -ms-linear-gradient(top, #91c84f, #74b22b);
	text-align: center;
}
#topmenu h2 img {
	width: 92px;
}
#topmenu div.menubox {
	padding: 0 5px;
	background: #e0fd9b;
}
#topmenu ul {
	display: table;
	width: 100%;
	border-collapse: separate;
	border-spacing: 5px;	
}
#topmenu ul li {
	display: table-cell;
	margin: 0 5px;
	vertical-align: middle;
}
#topmenu ul li.w01 {
	width: 30%;
}
#topmenu ul li.w02 {
	width: 20%;
}
#topmenu ul li.w01 a {
	display: block;
	padding: 1px 0 0 0; 
	text-align: center;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#20a364), to(#1d8b63)); 
	background: -webkit-linear-gradient(top, #20a364, #1d8b63);  
	background: -moz-linear-gradient(top, #20a364, #1d8b63); 
	background: -o-linear-gradient(top, #20a364, #1d8b63);
	background: -ms-linear-gradient(top, #20a364, #1d8b63);
	border: 1px solid #006a40;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
#topmenu ul li.w01 a span {
	display: block;
	padding: 10px 0 ;
	-webkit-box-shadow: 0 -1px 0 #6cc399;
	-moz-box-shadow: 0 -1px 0 #6cc399;
	box-shadow: 0 -1px 0 #6cc399;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
#topmenu ul li.w02 a {
	display: block;
	padding: 1px 0 0 0;
	text-align: center;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f1ede2)); 
	background: -webkit-linear-gradient(top, #fff, #f1ede2);  
	background: -moz-linear-gradient(top, #fff, #f1ede2); 
	background: -o-linear-gradient(top, #fff, #f1ede2);
	background: -ms-linear-gradient(top, #fff, #f1ede2);
	border: 1px solid #cfc6af;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
#topmenu ul li.w02 a span {
	display: block;
	padding: 7px 0 12px;
	border: 1px solid #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
#topmenu ul li a span img.img01 {
	width: 53px;
}
#topmenu ul li a span img.img02 {
	width: 66px;
}
#topmenu ul li a span img.img03 {
	width: 43px;
}

.page_title {
	border-top: 1px solid #164800;
	border-bottom: 1px solid #164800;
	position: relative;
}
.page_title .sp_h_ttl01 {
	padding: 0 10px;
	border-top: 1px solid #2c946c;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#088253), to(#369f74)); 
	background: -webkit-linear-gradient(top, #088253, #369f74);  
	background: -moz-linear-gradient(top, #088253, #369f74); 
	background: -o-linear-gradient(top, #088253, #369f74);
	background: -ms-linear-gradient(top, #088253, #369f74);
}
.page_title .sp_h_ttl01 span.bg {
	display: block;
	padding: 5px 0 5px 13px;
	background: url(../common_img/sp_com_h_bg001.png) no-repeat left center;
	-webkit-background-size: 4px 16px;
	-moz-background-size: 4px 16px;
	background-size: 4px 16px;
	color: #fff;
	font-size: 14px;
	line-height: 1.5;
	font-weight: bold;
}
.page_title .btn {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -11px;
	width: 65px;
}

.search_title {
	padding: 6px 10px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f6f6f6)); 
	background: -webkit-linear-gradient(top, #fff, #f6f6f6);  
	background: -moz-linear-gradient(top, #fff, #f6f6f6); 
	background: -o-linear-gradient(top, #fff, #f6f6f6);
	background: -ms-linear-gradient(top, #fff, #f6f6f6);
	border-bottom: 1px solid #bababa;
	line-height: 1.2;
	position: relative;
}
.search_title .sp_h_ttl02 {	
	color: #2c9673;
	font-size: 15px;
	font-weight: bold;
}
.search_title .sp_h_ttl02 span {
	display: block;
	padding: 5px 0 5px 40px;
}
.search_title .sp_h_ttl02 span.bg01 {
	background: url(/sp/img/icon_01.png) no-repeat no-repeat left center;
	-webkit-background-size: 28px 23px;
	-moz-background-size: 28px 23px;
	background-size: 28px 23px;
}
.search_title .sp_h_ttl02 span.bg02 {
	background: url(/sp/img/icon_02.png) no-repeat no-repeat left center;
	-webkit-background-size: 28px 25px;
	-moz-background-size: 28px 25px;
	background-size: 28px 25px;
}
.search_title .serch_total {
	position: absolute;
	right: 10px;
	top: 8px;
	font-size: 11px;
	text-align: right;
}
.search_title .serch_total span {
	color: #ea5300;
	font-size: 16px;
}

.searchBox h3 {
	padding: 10px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e9e9e9), to(#dbdbdb)); 
	background: -webkit-linear-gradient(top, #e9e9e9, #dbdbdb);  
	background: -moz-linear-gradient(top, #e9e9e9, #dbdbdb); 
	background: -o-linear-gradient(top, #e9e9e9, #dbdbdb);
	background: -ms-linear-gradient(top, #e9e9e9, #dbdbdb);
	border-bottom: 1px solid #bababa;
	font-size: 14px;
	font-weight: bold;
}
.searchBox h3 a {
	margin-right: 10px;
}
.searchBox h3 a img {
	width: 65px;
	vertical-align: middle;
}
.searchBox h4 {
	padding: 10px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c9deaf), to(#a4cc75)); 
	background: -webkit-linear-gradient(top, #c9deaf, #a4cc75);  
	background: -moz-linear-gradient(top, #c9deaf, #a4cc75); 
	background: -o-linear-gradient(top, #c9deaf, #a4cc75);
	background: -ms-linear-gradient(top, #c9deaf, #a4cc75);
	border-bottom: 1px solid #bababa;
	font-size: 14px;
	font-weight: bold;
}
.searchBox h5 {
	padding: 10px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#91c84f), to(#75b32c)); 
	background: -webkit-linear-gradient(top, #91c84f, #75b32c);  
	background: -moz-linear-gradient(top, #91c84f, #75b32c); 
	background: -o-linear-gradient(top, #91c84f, #75b32c);
	background: -ms-linear-gradient(top, #91c84f, #75b32c);
	border-bottom: 1px solid #bababa;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
.searchBox .search_key {
	display: table;
	width: 100%;
	background: #f1f1f1;
}
.searchBox .search_key .item {
	display: table-row;
}
.searchBox .search_key .item p {
	display: table-cell;
	width: 50%;
	padding: 0 10px;
	background: #fff;
	border-bottom: 1px solid #c9c9c9;
}
.searchBox .search_key .item p.borderR {
	border-right: 1px solid #c9c9c9;
}
.searchBox .search_key .item p a {
	display: block;
	padding: 10px 15px 10px 0;
	background: url(/sp/img/bg_sp.png) no-repeat right center;
	-webkit-background-size: 32px 20px;
	-moz-background-size: 32px 20px;
	background-size: 32px 20px;
	text-decoration: none;
	color: #393939;
	font-size: 14px;
}
.searchBox .search_key01 {
	padding: 0 10px;
	background: #fff3d9;
	line-height: 1.5;
}
.searchBox .search_key01 a {
	display: block;
	padding: 10px 0;
	background: url(/sp/img/bg_sp.png) no-repeat right center;
	-webkit-background-size: 32px 20px;
	-moz-background-size: 32px 20px;
	background-size: 32px 20px;
	text-decoration: none;
	color: #393939;
	font-size: 14px;
}
.searchBox .search_key01 a .txt_green {
	display: block;
	color: #12885a;
	font-size: 13px;
}

.searchBox .lineList {
}
.searchBox .lineList li {
	padding: 1px 0;	
	border-bottom: 1px solid #c9c9c9;
}
.searchBox .lineList li label {
	display: table;
	width: 100%;
}
.searchBox .lineList li label p {
	display: table-cell;
	padding: 10px 0;
	vertical-align: middle;
}
.searchBox .lineList li label p span {
	color: #ea5300;
	padding-left:10px;
}
.searchBox .lineList li label p.check {
	width: 30px;
	background: #dfdbd4;
	text-align: center;
}
.searchBox .lineList li label p.check input {
	margin: 0;
}
.searchBox .lineList li label p.text {
	padding-left: 10px;
}
.searchBox .lineList01 {
}
.searchBox .lineList01 li {
	padding: 1px 0;	
	border-bottom: 1px solid #c9c9c9;
}
.searchBox .lineList01 li label {
	display: table;
	width: 100%;
}
.searchBox .lineList01 li label span {
	display: table-cell;
	padding: 10px 0;
	vertical-align: middle;
}
.searchBox .lineList01 li label span.check {
	width: 30px;
	background: #fff;
	text-align: center;
}
.searchBox .lineList01 li label span.check input {
	margin: 0;
}
.searchBox .lineList01 li label span.text {
	padding-left: 10px;
}

.searchBox .tabtwocol01 {
	display: table;
	width: 100%;
	border-top: 1px solid #c9c9c9;
}
.searchBox .tabtwocol01 .item {
	display: table-row;
}
.searchBox .tabtwocol01 .item p {
	display: table-cell;
	width: 50%;
	padding: 8px 10px 8px 10px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f0ece2)); 
	background: -webkit-linear-gradient(top, #fff, #f0ece2);  
	background: -moz-linear-gradient(top, #fff, #f0ece2); 
	background: -o-linear-gradient(top, #fff, #f0ece2);
	background: -ms-linear-gradient(top, #fff, #f0ece2);
	border-bottom: 1px solid #c9c9c9;
	text-align: center;
}
.searchBox .tabtwocol01 .item p.borderR {
	border-right: 1px solid #c9c9c9;
}
.searchBox .tabtwocol01 .item p a {
	text-decoration: none;
	color: #545454;
}

#fix-btn01 {
	position: fixed;
	z-index: 10;
	left: 0;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.6); 
	
}
#fix-btn01 p {
	padding: 15px 35px;
}
#fix-btn01 p a{
	color:#ea5300;
	font-size:17px;
	font-weight:bold;
	padding:10px 10px;
	text-align:center;
	border:1px solid #cfc6af;
	border-radius:5px;
	display:block;
	text-decoration:none;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f2eee5)); 
	background: -webkit-linear-gradient(top, #fff, #f2eee5);  
	background: -moz-linear-gradient(top, #fff, #f2eee5);
}
#fix-btn02 {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 5px 0;
	background: rgba(0, 0, 0, 0.6);
}
#fix-btn02 .linetab {
	display: table;
	width: 100%;
	border-collapse: separate;
	border-spacing: 10px;
}
#fix-btn02 .linetab p {
	display: table-cell;
	width: 50%;
}

.detailBox {
	padding: 0 10px;
	border-bottom: 1px solid #c9c9c9;
}
.detail_cate {
	display: table;
	width: 100%;
}
.detail_cate .item_cate {
	display: table-cell;
	width: 52px;
	padding: 8px 0;
}
.detail_cate .item_txt {
	display: table-cell;
	padding: 8px 0 8px 9px;
	font-size: 9px;
	vertical-align: middle;
}
.detail_cate .item_txt .txt_ttl {
	padding-top: 5px;
	font-size: 18px;
	font-weight: bold;
}
.datail_ttl {
	padding-bottom: 10px;
	font-size: 13px;
	font-weight: bold;
}
.datail_ttl .numb {
	margin: 0 5px;
	color: #ea5300;
	font-size: 18px;
}
.datail_ttl .numb img {
	width: 17px;
}
.datail_ttl .btn {
	float: right;
}
.datail_ttl .btn img {
	width: 72px;
	vertical-align: middle;
}

.detail_price {
	padding: 15px 10px;
	background: #fefcea;
	border-top: 1px solid #b3b3b3;
	border-bottom: 1px solid #b3b3b3;
	font-size: 14px;
	position: relative;
}
.detail_price p.txt span {
	color: #ea5300;
	font-size: 23px;
	font-weight: bold;
}
.detail_price .btn {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -20px;
}
.detail_price .btn img {
	width: 81px;
}

.detail_addr {
	padding: 10px;
	background: #fff;
	font-size: 14px;
}

.detail_tab01 {
	display: table;
	width: 100%;
	background: #cfe9db;
	border-bottom: 1px solid #abbfb4;
	border-collapse: separate;
	border-spacing: 10px;
}
.detail_tab01 .item {
	display: table-cell;
	width: 50%;
}

.detail_other p.btn {
	padding: 10px;
	text-align: right;
}
.detail_other p.btn a img {
	width: 111px;
}

.detail_addr01 {
	padding: 10px;
	background: #eff5f5;
}
.detail_addr01 .cate {
	padding-bottom: 5px;
}
.detail_addr01 .cate span {
	display: inline-block;
	margin-right: 5px;
	padding: 0 2px;
	background: #d39021;
	border: 1px solid #b97401;
	color: #fff;
	font-size: 16px;
	line-height: 1.2;
}
.detail_addr01 .text {
	padding-bottom: 10px;
	font-size: 14px;
	line-height: 1.5;
}
.detail_addr01 .text2 {
	padding-bottom: 10px;
	font-size: 14px;
	line-height: 1.5;
	display:none;
}
.detail_addr01 .btn {
	padding-bottom: 15px;
}
.detail_addr01 .btn a {
	display: block;
	padding: 4px 0;
	background: #fff;
	border: 1px solid #1f9b64;
	text-align: center;
}
.detail_addr01 .btn a img {
	width: 125px;
	vertical-align: middle;
}

.detail_tab02 {
	display: table;
	width: 100%;
	margin-bottom: 15px;
	font-size: 14px;
}
.detail_tab02 .item {
	display: table-row;
}
.detail_tab02 .item .item_th,
.detail_tab02 .item .item_td {
	display: table-cell;
	padding: 10px;
	border-bottom: 1px solid #bbbbbb;
}
.detail_tab02 .item .item_th {
	width: 38%;
	background: #eff5f5;	
	font-weight: bold;
	color: #388e3c;
}
.detail_tab02 .item .item_td {
}

.detail_info_wrap {
	display: none;
}
.detail_info {
	padding: 10px;
	background: #fff;
}
.detail_info .sp_h_ttl03 {
	margin-bottom: 12px;
	padding-left: 8px;
	border-left: 2px solid #0f8755;
	color: #0f8755;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.2;
}
.detail_info .infoBox {
	padding: 25px 0 0 0;
	background: #fcf8ea;
}
.detail_info .infoBox .info_img {
	width: 210px;
	margin: 0 auto 25px auto;
	position: relative;
}
.detail_info .infoBox .info_img .txt {
	color: #7a7a7a;
	font-size: 12px;
	font-weight: bold;
}
.detail_info .infoBox .info_img .txt01 {
	position: absolute;
	left: 50%;
	top: -15px;
	margin-left: -2em;
}
.detail_info .infoBox .info_img .txt02 {
	position: absolute;
	right: 0;
	top: 45px;
	margin-right: -1.5em;
}
.detail_info .infoBox .info_img .txt03 {
	position: absolute;
	left: 0;
	top: 45px;
	margin-left: -2em;
}
.detail_info .infoBox .info_img .txt04 {
	position: absolute;
	left: -0.5em;
	bottom: -0.5em;
}
.detail_info .infoBox .info_img .txt05 {
	position: absolute;
	right: -1.5em;
	bottom: -0.5em;
}
.detail_info .infoBox .info_img .dot {
	width: 10px;
	height: 10px;
	background: #ff7900;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.detail_info .infoBox .info_img .dot01 {
	position: absolute;
	left: 100px;
	top: -5px;
}
.detail_info .infoBox .info_img .dot02 {
	position: absolute;
	left: 184px;
	top: 78px;
}
.detail_info .infoBox .info_img .dot03 {
	position: absolute;
	left: 16px;
	top: 78px;
}
.detail_info .infoBox .info_img .dot04 {
	position: absolute;
	left: 47px;
	top: 175px;
}
.detail_info .infoBox .info_img .dot05 {
	position: absolute;
	left: 165px;
	top: 192px;
}
.detail_info .infoBox .info_img .line {
	background: #ff7900;
	height: 1px;
}
.detail_info .infoBox .info_img .line01 {
	position: absolute;
	left: 90px;
	top: 40px;
	width: 115px;
	transform: rotate(44deg);
	-ms-transform: rotate(44deg);
	-webkit-transform: rotate(44deg);
	-o-transform: rotate(44deg);
	-moz-transform: rotate(44deg);
}
.detail_info .infoBox .info_img .line02 {
	position: absolute;
	left: 5px;
	top: 40px;
	width: 115px;
	transform: rotate(134deg);
	-ms-transform: rotate(134deg);
	-webkit-transform: rotate(134deg);
	-o-transform: rotate(134deg);
	-moz-transform: rotate(134deg);
}
.detail_info .infoBox .info_img .line03 {
	position: absolute;
	left: 122px;
	top: 138px;
	width: 115px;
	transform: rotate(100deg);
	-ms-transform: rotate(100deg);
	-webkit-transform: rotate(100deg);
	-o-transform: rotate(100deg);
	-moz-transform: rotate(100deg);
}
.detail_info .infoBox .info_img .line04 {
	position: absolute;
	left: -15px;
	top: 135px;
	width: 105px;
	transform: rotate(71deg);
	-ms-transform: rotate(71deg);
	-webkit-transform: rotate(71deg);
	-o-transform: rotate(71deg);
	-moz-transform: rotate(71deg);
}
.detail_info .infoBox .info_img .line05{
	position: absolute;
	left: 55px;
	top: 190px;
	width: 115px;
	transform: rotate(9deg);
	-ms-transform: rotate(9deg);
	-webkit-transform: rotate(9deg);
	-o-transform: rotate(9deg);
	-moz-transform: rotate(9deg);
}

.detail_info .infoBox .info_tab {
	display: table;
	width: 100%;
	border: 1px solid #0f8755;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.detail_info .infoBox .info_tab .item {
	display: table-row;
}
.detail_info .infoBox .info_tab .item .item_th,
.detail_info .infoBox .info_tab .item .item_td {
	display: table-cell;
	width: 20%;
	padding: 5px 2px;
	border-right: 1px solid #0f8755;
	text-align: center;
	vertical-align: middle;
}
.detail_info .infoBox .info_tab .item .item_th_last,
.detail_info .infoBox .info_tab .item .item_td_last {
	border-right: none;
}
.detail_info .infoBox .info_tab .item .item_th {
	background: #ccf0cf;
	color: #278c54;
	font-size: 10px;
}
.detail_info .infoBox .info_tab .item .item_td {
	padding: 5px;
	background: #fff;
	color: #ff7900;
	font-size: 20px;
	font-weight: bold;
}

.picScroll-left{
	padding: 10px 35px 0 35px;
	overflow:hidden;
	position:relative;
}
.picScroll-left .hd{
	padding:0 10px 5px 10px;
	text-align: center;
	position: relative;
}
.picScroll-left .hd .prev,
.picScroll-left .hd .next{
	display:block;
	width:33px;
	cursor:pointer;	
}
.picScroll-left .hd .prev {
	position: absolute;
	left: -35px;
	top: -120px;
}
.picScroll-left .hd .next{
	position: absolute;
	right: -35px;
	top: -120px;
}
.picScroll-left .bd{
	width: 100%;
	margin: 0 auto 10px auto;
	padding: 5px;
	-webkit-box-shadow: 0 0 3px #e7e6e6;
	-moz-box-shadow: 0 0 3px #e7e6e6;
	box-shadow: 0 0 3px #e7e6e6;
}
.picScroll-left .bd ul{ overflow:hidden; zoom:1; }
.picScroll-left .bd ul li{
	float:left;
	width: 100%;
	_display:inline;
	overflow:hidden;
	text-align:center;
}
.picScroll-left .bd ul li .pic{
	width: 100%;
	text-align:center;
}
.picScroll-left .bd ul li .pic img {
	width: 100%;
}
.picScroll-left .bd ul li .title{ line-height:24px;   }


/*  Slide
=========================================*/
#SlideWrap{
	position:relative;
	padding:7px 37px 3px;
}

#SlideWrap .count{
	text-align:center;
	font-size:12px;
	margin-bottom:5px;
}

#Slider{
	position:relative;
	margin: 0 auto 6px auto;
	padding: 5px;
	-webkit-box-shadow: 0px 0px 5px #e1e0e1;
	-moz-box-shadow: 0 0 5px #e1e0e1;
	box-shadow: 0 0 5px #e1e0e1;
}
#Slider .box{width:100%;height:183px;margin:0px auto;overflow:hidden;position:relative;}
#Slider .box ul li{ width:100%; display:block; position:absolute;left:0px;top:0px;opacity:0;filter:alpha(opacity=0);}
#Slider #btnLeft img,
#Slider #btnRight img{
	width:33px;
}
#Slider #btnLeft{
	position:absolute;
	left:-37px;
	top:50%;
	margin-top:-17px;
	z-index:100;
}
#Slider #btnRight{
	position:absolute;
	right:-37px;
	top:50%;
	margin-top:-17px;
	z-index:100;
}


/************************************************************************/

.search_nav{
	display:table;
	width:100%;
	border-bottom:1px solid #bababa;
}
.search_nav li{
	display:table-cell;
	width:33.3%;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f2eee4)); 
	background: -webkit-linear-gradient(top, #fff, #f2eee4);  
	background: -moz-linear-gradient(top, #fff, #f2eee4); 
	background: -o-linear-gradient(top, #fff, #f2eee4);
	background: -ms-linear-gradient(top, #fff, #f2eee4);
	border-right:1px solid #bababa;
	border-left:1px solid #ffffff;
	padding:5px 8px;
}
.search_nav li.open{
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffef86), to(#ffffb8)); 
	background: -webkit-linear-gradient(top, #ffef86, #ffffb8);  
	background: -moz-linear-gradient(top, #ffef86, #ffffb8); 
	background: -o-linear-gradient(top, #ffef86, #ffffb8);
	background: -ms-linear-gradient(top, #ffef86, #ffffb8);
}
.search_nav li.toggle{
	border-left:0;
}
.search_nav li.item03{
	border-right:0;
}
.search_nav li a{
	color:#545454;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	display:block;
	text-align:center;
}
.search_nav li.toggle a{
	background: url(/sp/common_img/ico001.png) no-repeat left center;
	background-size:11px 7px;
	padding-left:20px;
}
.search_nav li.item02 a{
	background: url(/sp/common_img/ico002.png) no-repeat left center;
	background-size:14px 14px;
	padding-left:20px;
}
.search_nav li.item03 a{
	background: url(/sp/common_img/ico003.png) no-repeat left center;
	background-size:15px 10px;
	padding-left:20px;
}


.search_box01{
	padding:15px 10px;
	background:#ffffb9;
	font-size:14px;
	display:none;
}

.search_box02{}
.search_box02 .inner01{
	margin:10px 10px 0;
}
.search_box02 .inner01 .num{
	float:left;
	width:50%;
	padding-top:5px;
	font-size:12px;
	font-weight:bold;
}
.search_box02 .inner01 .num .red{
	font-size:16px;
	color:#ea5300;
}
.search_box02 .inner01 .select{
	float:right;
	width:50%;
	text-align:right;
	vertical-align:middle;
}
.search_box02 .inner02{
	display:table;
	width:100%;
	border-collapse: separate;
	border-spacing: 10px;
}
.search_box02 .inner02 p{
	display:table-cell;
	width:50%;
}
.fix-btn02 .linetab p:nth-last-of-type(1) {
  margin-right:0;
}

.search_box03{
	padding:10px 5px 0;
	background:#eff3bc;
	border-bottom:3px solid #cad81a;
}
.search_box03 .ttl{
	background: url(/sp/common_img/ico004.png) no-repeat 5px center;
	background-size:15px 15px;
	padding-left:26px;
	color:#1d8b63;
	font-size:18px;
	margin-bottom:8px;
	font-weight:bold;
}
.search_box03 .innerbox{
	border:1px solid #c6c89b;
	-webkit-box-shadow:0px 0px 5px #c6c89b;
	box-shadow:0px 0px 5px #c6c89b;
	border-radius:5px;
	background:#ffffff;
	margin-bottom:10px;
}
.search_box03 .innerbox .title{
	/*border-bottom:1px solid #c7c7c7;*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eaeded)); 
	background: -webkit-linear-gradient(top, #fff, #eaeded);  
	background: -moz-linear-gradient(top, #fff, #eaeded);
	padding:8px 7px 5px 70px;
	border-radius:5px 5px 0 0;
}
.search_box03 .innerbox .title span.type{
	color:#fff;
	font-size:11px;
	border:1px solid #757575;
	background:#8f8f8f;
	padding:2px 3px;
	display:inline-block;
	margin-left:-60px;
	float:left;
	margin-top:8px;
}
.search_box03 .innerbox .title p.txt{
	font-weight:bold;
	font-size:17px;
	color:#045896;
}
.search_box03 .innerbox .title a{
	text-decoration: none !important;
}

.search_box03 .innerbox .title p.sub{
	font-size:9px;
	padding-bottom:5px;
}
.search_box03 .innerbox .conbox{
	padding:10px 5px 5px 10px;
	border-bottom:1px solid #c7c7c7;
}
.search_box03 .innerbox .conbox .list span{
	color:#fff;
	font-size:13px;
	border:1px solid #b97401;
	background:#d39021;
	padding:2px 3px;
	margin-right:4px;
	display:inline-block;
}
.search_box03 .innerbox .conbox .con{
	display:table;
	width:100%;
}
.search_box03 .innerbox .conbox .con .img{
	display:table-cell;
	width:116px;
	vertical-align:top;
	padding-right:8px;
}
.search_box03 .innerbox .conbox .con .conright{
	display:table-cell;
	padding-right:20px;
	background: url(/sp/common_img/ico005.png) no-repeat right center;
	background-size:8px 12px;
}
.search_box03 .innerbox .conbox .con .conright .ttl01{
	font-size:12px;
	color:#030303;
	line-height:16px;
	font-weight:bold;
}
.search_box03 .innerbox .conbox .con .conright .txt02{
	font-size:12px;
	color:#5f5f5f;
	line-height:16px;
}
.search_box03 .innerbox .conbox .con .conright .star {
	padding-bottom: 10px;
	font-size: 12px;
	display:table;
}
.search_box03 .innerbox .conbox .con .conright .star .txt{
	display:table-cell;
	width:50px;
	text-align:center;
	color: #5f5f5f;
	vertical-align:middle;
	padding-right:5px;
}
.search_box03 .innerbox .conbox .con .conright .star .numb {
	display:table-cell;
	margin: 0 5px;
	color: #ea5300;
	vertical-align:middle;
	font-weight: bold;
}
.search_box03 .innerbox .conbox .con .conright .star .numb img {
	width: 12px;
}
.search_box03 .innerbox .checkbox{
	background: #f6f6f6;
	padding:2px 12px 4px 2px;
	border-radius:0 0 5px 5px;
}
.search_box03 .innerbox .checkbox.bg{
	background: #fffea4;
}
.search_box03 .innerbox .checkbox label{
	display:table;
	width:100%;
}
.search_box03 .innerbox .checkbox label .check{
	display:table-cell;
	padding:10px 6px;
	background:#dfdbd4;
	width:30px;
	text-align:center;
	vertical-align:middle;
	border-radius:0 0 0 5px;
}
.search_box03 .innerbox .checkbox.bg label .check{
	background:#fffce7;
}
.search_box03 .innerbox .checkbox label .txt{
	display:table-cell;
	padding:0 5px;
	vertical-align:middle;
	color:#ea5300;
	font-size:18px;
	font-weight:bold;
}
.search_box03 .innerbox .checkbox label .txt2{
	display:table-cell;
	padding-left:10px;
	vertical-align:middle;
	color:#5f5f5f;
	font-size:11px;
	font-weight:bold;
}
.search_box03 .innerbox .checkbox label .list{
	display:table-cell;
	text-align:right;
	vertical-align:middle;
	padding:5px 0;
	border-radius:0 0 5px 0;
}
.search_box03 .innerbox .checkbox label .list .bg01{
	color:#8d8d8d;
	font-size:13px;
	border:1px solid #bdbdbd;
	background:#d7d7d7;
	padding:2px 3px;
	margin-right:4px;
	display:inline-block;
	margin-bottom:10px;
}
.search_box03 .innerbox .checkbox label .list .bg02{
	color:#ffffff;
	font-size:13px;
	border:1px solid #bdbdbd;
	background:#81a585;
	padding:2px 3px;
	margin-right:4px;
	display:inline-block;
}
.search_box04{
	padding:10px 5px 0;
	background:#eeeeee;
	border-bottom:3px solid #c5c3c4;
}
.search_box04 .item{
	border:1px solid #c5c3c4;
	-webkit-box-shadow:0px 0px 5px #c5c3c4;
	box-shadow:0px 0px 5px #c5c3c4;
	border-radius:5px;
	background:#ffffff;
	margin-bottom:5px;
	padding:5px;
}
.search_box04 .item label{
	display:table;
	width:100%;
}
.search_box04 .item label .check{
	display:table-cell;
	padding:10px 6px;
	background:#dfdbd4;
	width:30px;
	text-align:center;
	vertical-align:middle;
}
.search_box04 .item label .con{
	vertical-align:middle;
	padding-right:20px;
	padding-left:15px;
	background: url(/sp/common_img/ico005.png) no-repeat right center;
	background-size:8px 12px;
	border-bottom: 1px solid #c7c7c7;
}
.search_box04 .item label .con span.type{
	color:#fff;
	font-size:11px;
	border:1px solid #757575;
	background:#8f8f8f;
	padding:2px 3px;
	margin-right:4px;
	margin-bottom:5px;
	margin-top:5px;
	display:inline-block;

}
.search_box04 .item label .con p.txt{
	font-weight:bold;
	font-size:17px;
	color:#045896;
	padding:5px 0;
}
.search_box04 .item label a{
	text-decoration: none !important;
}

.search_box04 .item label .con p.sub{
	font-size:9px;
}
.search_box04 .item label .con .conbox{
	display:table;
	width:100%;
}
.search_box04 .item label .con .conbox .img{
	display:table-cell;
	width:106px;
	vertical-align:top;
	padding-right:8px;
}
.search_box04 .item label .con .conbox .conright{
	font-size:12px;
	color:#030303;
	line-height:16px;
	font-weight:bold;
}
.search_box04 .item label .con .conbox .txt02{
	font-size:12px;
	color:#5f5f5f;
	line-height:16px;
}
.search_box04 .item label .con .conbox .star {
	padding-bottom: 10px;
	font-size: 12px;
	display:table;
}
.search_box04 .item label .con .conbox .star .txt{
	display:table-cell;
	width:40px;
	text-align:center;
	color: #5f5f5f;
	vertical-align:middle;
	padding-right:5px;
}

.search_box04 .item label .con .conbox .star .numb {
	display:table-cell;
	margin: 0 5px;
	color: #ea5300;
	vertical-align:middle;
	font-weight: bold;
}
.search_box04 .item label .con .conbox .star .numb img {
	width: 12px;
}
.search_box04 .item .con .list{
	margin: 3px 0;
}
.search_box04 .item .con .list span{
	color:#fff;
	font-size:12px;
	border:1px solid #b97401;
	background:#d39021;
	padding:2px 3px;
	margin-right:4px;
	display:inline-block;
}
.search_box04 .item .price{
	display:table;
	width: 100%;
}
.search_box04 .item .price p.txt{
	display:table-cell;
	padding:15px 10px 10px;
	vertical-align:middle;
	color:#ea5300;
	font-size:18px;
	font-weight:bold;
}
.search_box04 .item .price p.txt2{
	display:table-cell;
	padding-left:10px;
	vertical-align:middle;
	color:#5f5f5f;
	font-size:11px;
	font-weight:bold;
}
.search_box04 .item .price p.list{
	display:table-cell;
	text-align:right;
	vertical-align:middle;
	padding:5px 0;
	border-radius:0 0 5px 0;
}
.search_box04 .item .price p.list span.bg01{
	color:#8d8d8d;
	font-size:12px;
	border:1px solid #bdbdbd;
	background:#d7d7d7;
	padding:2px 3px;
	display:inline-block;
	margin-bottom:3px;
	margin-right:3px;
}
.search_box04 .item .price p.list span.bg02{
	color:#ffffff;
	font-size:12px;
	border:1px solid #bdbdbd;
	background:#81a585;
	padding:2px 3px;
	display:inline-block;
}

.tabBox {
	display:none;
}
.tabBox .ttl{
	color:#fff;
	border-top:1px solid #006a40;
	border-bottom:1px solid #c9c9c9;
	padding:8px 10px;
	font-size:14px;
	font-weight:bold;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#77bf31), to(#8cc748)); 
	background: -webkit-linear-gradient(top, #77bf31, #8cc748);  
	background: -moz-linear-gradient(top, #77bf31, #8cc748);
}
.tabBox ul li{
	border-bottom:1px solid #c9c9c9;
	padding:2px 10px 2px 2px;
	font-size:14px;
}
.tabBox ul li label{
	display:table;
	width:100%;
}
.tabBox ul li label .check{
	display:table-cell;
	padding:10px 6px;
	background:#dfdbd4;
	width:30px;
	text-align:center;
}
.tabBox ul li label .txt{
	display:table-cell;
	padding:5px 10px;
}
.tabBox ul li label .txt .red{
	color:#ea5300;
}

.fix-btn {
	position: fixed;
	z-index: 10;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 5px 0;
	background: rgba(0, 0, 0, 0.6);
}
.fix-btn .linetab {
	display: table;
	width: 100%;
	border-collapse: separate;
	border-spacing: 10px;
}
.fix-btn .linetab p {
	display: table-cell;
	width: 50%;
	text-align:center;
	vertical-align:middle;
}
.fix-btn .linetab p a{
	color:#ea5300;
	font-size:17px;
	font-weight:bold;
	padding:10px 10px;
	text-align:center;
	border:1px solid #cfc6af;
	border-radius:5px;
	display:block;
	text-decoration:none;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f2eee5)); 
	background: -webkit-linear-gradient(top, #fff, #f2eee5);  
	background: -moz-linear-gradient(top, #fff, #f2eee5);
}
.fix-btn .linetab p .num{
	color:#fff;
	font-weight:bold;
	font-size:20px;
}
.fix-btn .linetab p .num span{
	font-size:34px;
}

/*--------追加-------*/

.check1 input[type="checkbox"]{
    -webkit-appearance: none;
	border-radius: 0;
	border:0;
    position: relative;
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url(../images/check1_off.png);
    background-size: 26px;
	background-size:26px;
}

.check1 input[type="checkbox"]:checked:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    display: inline-block;
    width: 26px;
    height: 26px;
}
.check1 input[type="checkbox"]:checked {
    background: url(../images/check1_on.png);
    background-size: 26px 26px;
}


.check2 input[type="checkbox"]{
    -webkit-appearance: none;
	border-radius: 0;
	border:0;
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/check2_off.png);
    background-size: 18px;
	background-size:18px;
}

.check2 input[type="checkbox"]:checked:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    display: inline-block;
    width: 18px;
    height: 18px;
}
.check2 input[type="checkbox"]:checked {
    background: url(../images/check2_on.png);
    background-size: 18px 18px;
}


/*-------addedBC-------*/
.ms{ margin:10px;}
.mb0{ margin-bottom:0px !important;}
.box-adv_sp {
  border: 1px solid #CC0000;
  padding: 15px;
  background-color: #FFEEEE;
}

.box-adv_sp .icon {
  background-image: url(/sp/knowledge/img/icon_adv.png);
  background-repeat: no-repeat;
  background-position: left 0px;
  padding-left: 25px;
}

.box-adv_sp h5 {
  font-size: 16px;
  color: #CC0000;
  margin-bottom: 5px;
  font-weight:bold !important;
}

.box-check h5 { font-weight:bold !important;}
.box-check .icon { background-image: url(/sp/knowledge/img/icon_chk.png)!important;}
.box-att h5 {	font-weight:bold !important;}
.box-att .icon { background-image: url(/sp/knowledge/img/icon_att.png)!important;}
.sp_txt-btn-big a {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #8e1519), color-stop(0.00, #bc4448));
	background: -webkit-linear-gradient(#bc4448, #8e1519);
	background: -moz-linear-gradient(#bc4448, #8e1519);
	background: linear-gradient(#bc4448, #8e1519);
	border:1px solid #b43b3f;
	border-radius:5px;
	width: 80%;
	font-size: 16px;
	color: #FFF;
	display:block;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	padding:7px 0;
	margin:auto;
}

h5.green_sp {
	font-size: 14px;
	color: #299064;
	margin-bottom: 5px;
  font-weight:bold !important;
}
a.arw-link_sp {
  background-image: url(/sp/knowledge/img/icon_arrow01.png);
  background-repeat: no-repeat;
  background-position: left center;
  display: block;
  padding-left: 25px;
  color: #299064;
  text-decoration: none;
  padding-top: 3px;
  padding-bottom: 3px;
}
table.sp{
  width:100%;
}
table.sp tr td strong {
  font-weight: bold !important;
  color: #299064 !important;
}
table.sp tr td {
  padding:5px !important;
  width:50% !important;
}

table.sp tr .img-blk{ text-align: center;}
.sp_img3clm ul { width:100%;}
.sp_img3clm ul li {
	width:31%;
	float:left;
	margin:1%;
	text-align:center;
	font-size:12px;
	margin-bottom:15px;
}

.sp_img3clm ul li img {
	max-height:120px !important;
	max-width:120px !important;
	margin-bottom:5px;
}

.sp_img2clm ul { width:100%;}
.sp_img2clm ul li {
	width:48%;
	float:left;
	margin:1%;
	text-align:center;
	font-size:12px;
	margin-bottom:15px;
}

.sp_img2clm ul li img { margin-bottom:5px;}

.sp_img5clm ul { width:100%;}
.sp_img5clm ul li {
	width:18%;
	float:left;
	margin:1%;
	text-align:center;
	font-size:12px;
	margin-bottom:15px;
}

#search .title, #contents-onecol h5.title {
  padding: 0 4.6875%;
  font-size: 16px;
  font-weight: bold;
  background: url(/sp/img/bg_green-dark.png) repeat-x;
  -webkit-background-size: 320px 105px;
  line-height: 55px;
  color: #fff;
}
sup {
  font-size: 0.5em;
  vertical-align:super;
}
.faq_sp dt {
  background-image: url(/sp/knowledge/img/icon_q.gif);
  background-repeat: no-repeat;
  background-position: left 0px;
  padding-left: 28px;
  color: #5085CF;
  font-weight: bold;
  margin-bottom: 5px;
}
.faq_sp dd {
	background-image: url(/sp/knowledge/img/icon_a.gif);
	background-repeat: no-repeat;
	background-position: left 0px;
	padding-left: 28px;
	margin-bottom: 15px;
}
.sp_FaqTtl ul {
	width:90%;
	margin:auto;
}
.sp_FaqTtl ul li {
	width:50%;
	float:left;
	line-height:200%;
}
.sp_FaqSearch {
  background-color: #F2FFE6;
  border: 2px solid #5BA862;
	width:80%;
	margin:20px auto 0;
	padding:3% 5%;
}
.sp_FaqSearch h3 {
	font-weight:bold;
	text-align:center;
}
.sp_FaqSearch .box{
	padding: 10px 4.6875%;
}
.sp_FaqSearch .box .keywords{
	line-height: 1;
	padding: 5px 0.5em;
	border: solid 2px #cccccc;
	border-radius: 5px;
	width: 100%;
	font-size: 12px;
}
.sp_FaqSearch .box .keywords_wrap{
	margin: 0 100px 0 0;
}
.sp_FaqSearch .box .search-btn2{
	width: 71px;
	height: auto;
	float:right;
	padding:0px;
	background:#ebebeb;
	border:0px;
	cursor:pointer;
	margin:0px;
}
.q-list_sp li a {
  background-image: url(/knowledge/q_a/img/mrk_q.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 0px;
  font-weight: normal;
  line-height: 170%;
  display: block;
}
.answer_sp {
  background-image: url(/knowledge/q_a/img/mrk_a.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding-left: 20px;
  margin-bottom: 20px;
}
p.back_sp {
  text-align: right;
  margin-bottom: 30px;
  margin-right: 10px;
}
.list-glossary_sp li a {
  float: left;
  background-image: url(/sp/knowledge/glossary/images/arw-green.gif);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 12px;
  margin-bottom: 5px;
}

ul.list-abc_sp li a {
  background-image: url(/sp/knowledge/glossary/images/arw-green.gif);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 8px;
  display: block;
  float: left;
  margin-right: 20px;
  margin-bottom:10px;
  color: #299064;
  text-decoration: none;
  font-weight: bold;
  padding-right: 10px;
}
.w50p-tc {
	width:50% !important;
	text-align:center !important;
}
.w30p-tc {
	width:30% !important;
	text-align:center !important;
}
.nav-list_sp li a {
  padding-left: 10px;
  display: block;
  padding-top: 4px;
  padding-bottom: 2px;
}
.nav-list_sp .nav a .txt-date {
  margin-left:10px;
}


/* ページ送り */
.number{
	text-align: center;
	font-size: 14px;
	border-top:1px solid #ddd;
	padding: 10px 0;
}
.number span{
	color: #588F64;
}
.pager{
	text-align: center;
	padding: 0 0 10px;
}
.pager li{
	display: inline-block;
}
.pager li.current a{
	color: #aaa;
}
.pager li a{
	padding: 8px 10px;
	display: block;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	background: #fff;
	border-radius: 3px;
}

.detailBox .detail_cate .item_cate span.type{
	color:#fff;
	font-size:11px;
	border:1px solid #757575;
	background:#8f8f8f;
	padding:2px 3px;
	display:inline-block;
	float:left;
	margin-top:8px;
}
.detailBox .detail_cate .item_cate .bg02{
	color:#ffffff;
	font-size:11px;
	border:1px solid #bdbdbd;
	background:#1e9163;
	padding:2px 3px;
	display:inline-block;
}

/*霊園一覧改修（160913）*/
.search_area_01 {
	background: #fffea4;
	border-bottom: 3px solid #cad81a;
	padding: 10px 5px 0;
}
.search_area_01 .ttl {
	background: url(/sp/common_img/ico004.png) no-repeat 5px center;
	background-size: 15px 15px;
	padding-left: 26px;
	color: #1d8b63;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 8px;
}
.search_area_01 a {
	text-decoration: none;
}
.search_area_01 .innerbox {
	background: #fff;
	border: 1px solid #c6c89b;
	border-radius: 5px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	margin-bottom: 10px;
	position: relative;
}
.search_area_01 .innerbox .box-ttl {
	border-bottom: solid 1px #c7c7c7;
	border-radius: 5px 5px 0 0;
	padding: 5px;
}
.search_area_01 .innerbox .box-ttl .check {
	left: 5px;
	position: absolute;
	top: 5px;
	width: 30px;
}
.search_area_01 .innerbox .box-ttl .sub {
	color: #045896;
	font-size: 9px;
	margin-left: 35px;
	padding-bottom: 5px;
}
.search_area_01 .innerbox .box-ttl .txt {
	color: #045896;
	font-size: 17px;
	font-weight: bold;
	margin-left: 35px;
}
.search_area_01 .innerbox .contbox {
	display: flex;
	justify-content: flex-start;
	margin: 10px;
}
.search_area_01 .innerbox .contbox .cont-l {
	color: #5f5f5f;
	margin-right: 10px;
}
.search_area_01 .innerbox .contbox .cont-l .img {
	position: relative;
	max-width: 160px;
}
.search_area_01 .innerbox .contbox .cont-l .img .icon-osusume {
	bottom: 2px;
	position: absolute;
	right: 5px;
	width: 40%;
}
.search_area_01 .innerbox .contbox .cont-l .img .icon-train {
	position: absolute;
	right: 5px;
	top: 2px;
	width: 40%;
}
.search_area_01 .innerbox .contbox .cont-l .type {
	display: flex;
	font-size: 11px;
	justify-content: space-between;
	margin-top: 10px;
}
.search_area_01 .innerbox .contbox .cont-l .type span {
	border: solid 1px #5f5f5f;
	color: #5f5f5f;
	padding: 2px 5px;
}
.search_area_01 .innerbox .contbox .cont-r {
	clear: both;
	color: #5f5f5f;
}
.search_area_01 .innerbox .contbox .cont-r .icon {
	float: right;
	margin-right: -15px;
}
.search_area_01 .innerbox .contbox .cont-r .icon li {
	width: 60px;
}
.search_area_01 .innerbox .contbox .cont-r .lead {
	color: #030303;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.5;
}
.search_area_01 .innerbox .contbox .cont-r .txt {
	font-size: 10px;
	line-height: 1.5;
}
.search_area_01 .innerbox .contbox .cont-r .txt02 {
	color: #404040;
	font-size: 12px;
	line-height: 1.5;
}
.search_area_01 .innerbox .contbox .cont-r .txt strong {
	color: #ea5300;
	font-size: 16px;
	font-weight: bold;
	padding-left: 5px;
}
.search_area_01 .innerbox .contbox .cont-r .kukaku {
	display: flex;
	flex-wrap: wrap;
	font-size: 10px;
	justify-content: space-around;
	line-height: 1.5;
	margin-top: 5px;
}
.search_area_01 .innerbox .contbox .cont-r .kukaku li {
	padding-left: 15px;
	width: 50%;
}
.search_area_01 .innerbox .contbox .cont-r .kukaku .type-01 {
	background: url(../common_img/ico_1.gif) left no-repeat;
	background-size: 13px;
}
.search_area_01 .innerbox .contbox .cont-r .kukaku .type-02 {
	background: url(../common_img/ico_2.gif) left no-repeat;
	background-size: 13px;
}
.search_area_01 .innerbox .contbox .cont-r .kukaku .type-03 {
	background: url(../common_img/ico_3.gif) left no-repeat;
	background-size: 13px;
}
.search_area_01 .innerbox .contbox .cont-r .kukaku .type-04 {
	background: url(../common_img/ico_4.gif) left no-repeat;
	background-size: 13px;
}
.search_area_01 .innerbox .box-star {
	border-top: solid 1px #c7c7c7;
	font-size: 12px;
	line-height: 1.0;
	padding: 10px 5px 10px;
	position: relative;
}
.search_area_01 .innerbox .box-star .stars {
	margin: 0 5px;
}
.search_area_01 .innerbox .box-star .stars img {
	margin-bottom: 2px;
	width: 12px;
}
.search_area_01 .innerbox .box-star .points {
	color: #ea5300;
	font-size: 15px;
	font-weight: bold;
}
.search_area_01 .innerbox .box-star .hyouka {
	background: url(../img/icon_hyouka.png) left no-repeat;
	background-size: 14px;
	font-size: 14px;
	margin-left: 10px;
	padding-left: 18px;
}
.search_area_01 .innerbox .box-star .btn-detail {
	bottom: 2px;
	position: absolute;
	right: 5px;
	width: 100px;
}

.search_area_02 {
	background: #e3e3e5;
	border-bottom: 3px solid #cad81a;
	padding: 10px 5px 0;
}
.search_area_02 .ttl {
	background: url(/sp/common_img/ico004.png) no-repeat 5px center;
	background-size: 15px 15px;
	padding-left: 26px;
	color: #1d8b63;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 8px;
}
.search_area_02 a {
	text-decoration: none;
}
.search_area_02 .innerbox {
	background: #fff;
	border: 1px solid #c7c7c7;
	border-radius: 5px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	margin-bottom: 10px;
	position: relative;
}
.search_area_02 .innerbox .box-ttl {
	border-bottom: solid 1px #c7c7c7;
	border-radius: 5px 5px 0 0;
	padding: 5px;
}
.search_area_02 .innerbox .box-ttl .check {
	left: 5px;
	position: absolute;
	top: 5px;
	width: 30px;
}
.search_area_02 .innerbox .box-ttl .sub {
	color: #045896;
	font-size: 9px;
	margin-left: 35px;
	padding-bottom: 5px;
}
.search_area_02 .innerbox .box-ttl .txt {
	color: #045896;
	font-size: 17px;
	font-weight: bold;
	margin-left: 35px;
}
.search_area_02 .innerbox .contbox {
	display: flex;
	justify-content: flex-start;
	margin: 10px;
}
.search_area_02 .innerbox .contbox .cont-l {
	color: #5f5f5f;
	margin-right: 10px;
}
.search_area_02 .innerbox .contbox .cont-l .img {
	position: relative;
	max-width: 160px;
}
.search_area_02 .innerbox .contbox .cont-l .img .icon-osusume {
	bottom: 2px;
	position: absolute;
	right: 5px;
	width: 40%;
}
.search_area_02 .innerbox .contbox .cont-l .img .icon-train {
	position: absolute;
	right: 5px;
	top: 2px;
	width: 40%;
}
.search_area_02 .innerbox .contbox .cont-l .type {
	display: flex;
	font-size: 11px;
	justify-content: space-between;
	margin-top: 10px;
}
.search_area_02 .innerbox .contbox .cont-l .type span {
	border: solid 1px #5f5f5f;
	color: #5f5f5f;
	padding: 2px 5px;
}
.search_area_02 .innerbox .contbox .cont-r {
	clear: both;
	color: #5f5f5f;
}

.search_area_02 .innerbox .contbox .cont-r .icon {
	float: right;
	margin-right: -15px;
}
.search_area_02 .innerbox .contbox .cont-r .icon li {
	width: 60px;
}

.search_area_02 .innerbox .contbox .cont-r .lead {
	color: #030303;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.5;
}
.search_area_02 .innerbox .contbox .cont-r .txt {
	font-size: 10px;
	line-height: 1.5;
}
.search_area_02 .innerbox .contbox .cont-r .txt02 {
	color: #404040;
	font-size: 12px;
	line-height: 1.5;
}
.search_area_02 .innerbox .contbox .cont-r .txt strong {
	color: #ea5300;
	font-size: 16px;
	font-weight: bold;
	padding-left: 5px;
}
.search_area_02 .innerbox .contbox .cont-r .kukaku {
	display: flex;
	flex-wrap: wrap;
	font-size: 10px;
	justify-content: space-around;
	line-height: 1.5;
	margin-top: 5px;
}
.search_area_02 .innerbox .contbox .cont-r .kukaku li {
	padding-left: 15px;
	width: 50%;
}
.search_area_02 .innerbox .contbox .cont-r .kukaku .type-01 {
	background: url(../common_img/ico_1.gif) left no-repeat;
	background-size: 13px;
}
.search_area_02 .innerbox .contbox .cont-r .kukaku .type-02 {
	background: url(../common_img/ico_2.gif) left no-repeat;
	background-size: 13px;
}
.search_area_02 .innerbox .contbox .cont-r .kukaku .type-03 {
	background: url(../common_img/ico_3.gif) left no-repeat;
	background-size: 13px;
}
.search_area_02 .innerbox .contbox .cont-r .kukaku .type-04 {
	background: url(../common_img/ico_4.gif) left no-repeat;
	background-size: 13px;
}
.search_area_02 .innerbox .box-star {
	border-top: solid 1px #c7c7c7;
	font-size: 12px;
	line-height: 1.0;
	padding: 10px 5px 10px;
	position: relative;
}
.search_area_02 .innerbox .box-star .stars {
	margin: 0 5px;
}
.search_area_02 .innerbox .box-star .stars img {
	margin-bottom: 2px;
	width: 12px;
}
.search_area_02 .innerbox .box-star .points {
	color: #ea5300;
	font-size: 15px;
	font-weight: bold;
}
.search_area_02 .innerbox .box-star .hyouka {
	background: url(../img/icon_hyouka.png) left no-repeat;
	background-size: 14px;
	font-size: 14px;
	margin-left: 10px;
	padding-left: 18px;
}
.search_area_02 .innerbox .box-star .btn-detail {
	bottom: 2px;
	position: absolute;
	right: 5px;
	width: 100px;
}

/*霊園一覧絞込改修（160927）*/
#TabNavWap {
	background: #fff;
	padding: 0 10px 0;		
}
#TabNavWap02 {
	background: #fff;
	padding: 0 10px 0;		
}
#TabNav,
#TabNav02 {
	display: table;
	position: relative;
	top: 1px;
	width: 100%;
}
#TabNav li,
#TabNav02 li {
	display: table-cell;
	padding-right: 5px;
}
#TabNav li:last-child,
#TabNav02 li:last-child {
	padding-right: 0;
}
#TabNav li a,
#TabNav02 li a {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f1ede2)); 
	background: -webkit-linear-gradient(top, #fff, #f1ede2);  
	background: -moz-linear-gradient(top, #fff, #f1ede2);
	border: 1px solid #cfc6af;
	border-radius: 5px;
	color: #707070;
	display: block;
	font-weight: bold;
	font-size: 14px;
	margin-top: 6px;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
}
#TabNav li a.on,
#TabNav02 li a.on {
	background: #77bf31;
	border-bottom: 0;
	border-color: #006a40;
	border-radius: 5px 5px 0 0;
	color: #fff;
	margin-bottom: 0;
	padding-bottom: 12px;
}
#TabNav li.tab-01,
#TabNav02 li.tab-02 {
	background: #fff;
	display: block;
	padding-right: 0;
}
#TabNav li.tab-01 a {
	background: url(../common_img/ico_h_7.png) 6px no-repeat;
	/*background: url(../common_img/ico_h_7_1.png) 6px no-repeat;*/
	background-size: 12px;
	display: block;
	/*font-size: 12px;*/
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 0;
	padding: 10px 0 10px 30px;
	text-align: left;
	color:#000;
	font-weight: bold;
}
#TabNav02 li.tab-02 a {
	background: url(../common_img/ico_h_2.png) 5px no-repeat;
	/*background: url(../common_img/ico_h_2_1.png) 5px no-repeat;*/
	background-size: 16px;
	display: block;
	/*font-size: 12px;*/
	font-size: 14px;
	font-weight: normal;
	margin-top: 5px;
	padding: 10px 0 10px 30px;
	text-align: left;
	color:#000;
	font-weight: bold;
}
#TabNav li.tab-01 a span,
#TabNav02 li.tab-02 a span {
	color: #1d8b63;
	float: right;
	padding-right: 5px;
	text-align: right;
}
#TabNav li a.on,
#TabNav02 li a.on {
	background: #77bf31;
	border-bottom: none;
	border-color: #006a40;
	border-radius: 5px 5px 0 0;
	color :#fff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0;
	/*padding: 10px 0 10px;*/
	padding: 10px 0 10px 20px;
	text-align: left;
}

.box-num {
	background: #fff;
	clear: both;
	padding: 5px 20px 5px;
}
.box-num .txt-num {
	color: #e60012;
	display: inline-block;
	padding-top: 5px;
}
.box-num select#list-select {
	background-color: #fff;
	color: #404040;
	display: inline-block;
	float: right;
	height: 30px;
	width: 40%;
}

.box-tab.off {
	display:none;
}
.box-tab .ttl {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#77bf31), to(#8cc748));
	background: -webkit-linear-gradient(top, #77bf31, #8cc748);  
	background: -moz-linear-gradient(top, #77bf31, #8cc748);
	border-top: 1px solid #006a40;
	border-bottom: 1px solid #c9c9c9;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 10px;
}
.box-tab ul li {
	border-bottom: 1px solid #c9c9c9;
	font-size: 14px;
	padding: 2px 10px 2px 2px;
}
.box-tab ul li label {
	display: table;
	width: 100%;
}
.box-tab ul li label .check {
	background: #dfdbd4;
	display: table-cell;
	padding: 10px 6px;
	text-align: center;
	width: 30px;
}
.box-tab ul li label .txt {
	display: table-cell;
	padding: 5px 10px;
}
.box-tab ul li label .txt .red {
	color: #ea5300;
}

.btn-fix {
	/*background: rgba(51, 51, 51, 0.4);*/
	background: rgba(51, 51, 51, 0.8);
	bottom: 0;
	left: 0;
	padding: 0 5px;
	position: fixed;
	width: 100%;
	z-index: 999;
}
.btn-fix .linetab {
	display: table;
	border-collapse: separate;
	border-spacing: 5px;
	width: 100%;
}
.btn-fix .linetab p {
	display: table-cell;
	text-align: right;
	vertical-align: middle;
	width: 55%;
}
.btn-fix .linetab p a {
	background: #fff;
	border: 1px solid #cfc6af;
	border-radius: 5px;
	color: #ea5300;
	display: block;
	font-size: 15px;
	font-weight: bold;
	padding: 10px 0 8px;
	text-align: center;
	text-decoration: none;
}
.btn-fix .linetab .txt-num {
	color: #fff;
	display: table-cell;
	font-size: 18px;
	font-weight: bold;
	padding: 10px 0 10px;
	text-align: center;
	width: 45%;
}

/*ボタン部分改修（161220）*/
.search_area_01 .innerbox .box-ttl.checked,
.search_area_02 .innerbox .box-ttl.checked {
	background: #cad81a;
}

.fix-btn01 {
	position: fixed;
	z-index: 10;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0;
	background: rgba(0, 0, 0, 0.6);
}
.fix-btn01 .txt {
	text-align: center;
	font-size: 16px;
	color: #fff;
	font-weight:bold;
	padding: 5px 0 0;
}
.fix-btn01 .linetab {
	display: block;
	width: 310px;
	margin: 0 auto;
	padding: 5px 0 0;
}
.fix-btn01 .linetab p {
	display: block;
	width: 150px;
	margin-right: 10px;
	margin-bottom: 5px;
	float: left;
}
.fix-btn01 .linetab p:nth-last-of-type(1) {
	margin-right: 0;
}

.fix-btn02 {
	position: fixed;
	z-index: 100;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0;
	background: rgba(0, 0, 0, 0.6);
}
.fix-btn02 .txt {
	text-align: center;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	padding: 5px 0 0;
}
.fix-btn02 .linetab {
	display: block;
	width: 310px;
	margin: 0 auto;
	padding: 5px 0 0;
}
.fix-btn02 .linetab p {
	display: block;
	width: 150px;
	margin-right: 10px;
	margin-bottom: 5px;
	float: left;
}
.fix-btn02 .linetab p:nth-last-of-type(1) {
	margin-right: 0;
}

.win-check {
	position: fixed;
	z-index: 20;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
}
.win-check .area-check {
	background: #fff;
	border: solid 2px #c9c9c9;
	height: auto;
	line-height: 1.5;
	margin: 20% auto;
	padding: 5% 0;
	text-align: center;
	vertical-align: middle;
	width: 80%;
}
.win-check .area-check .ttl-check {
	border: solid 1px #118650;
	color: #118650;
	font-size: 16px;
	font-weight: bold;
	margin: 0 2% 2%;
	text-align: center;
}
.win-check .area-check .txt-check {
	font-size: 14px;
	margin-bottom: 10px;
	text-align: center;
}
.win-check .area-check img {
	margin: 0 auto 20px;
	width: 90%;
}
.win-check .area-check .btn-ok img {
	margin: 0 auto;
	text-align: center;
	width: 60%;
}

/*お気に入りページ（161227）*/
.search_area_02 .item .btn-favorite {
	margin: 0 5px 2px;
	text-align: right;
}
.search_area_02 .item .btn-favorite img {
	width: 10%;
}

#cont-favorite {
	background: #ebfbdb;
	clear: both;
	font-size: 14px;
	line-height: 1.4;
	padding: 0 0 5%;
}
#cont-favorite .area-inner {
	background: #faf8ed;
	margin-bottom: 3%;
	padding: 5% 3%;
}
#cont-favorite .lead-favorite {
	background: url(/favorite/img/img_woman.png) left 5% no-repeat;
	background-size: 25%;
	clear: both;
	font-size: 16px;
	height: 7em;
	padding: 3% 0 3% 23%;
}
#cont-favorite .lead-favorite h3 {
	font-size: 24px;
}
#cont-favorite .lead-favorite h3 strong {
	color: #118650;
	font-size: 30px;
}
#cont-favorite .lead-favorite span {
	color: #f00;
}
#cont-favorite li {
	background: #fff;
	border: solid 2px #f39800;
	border-radius: 8px;
	clear: both;
	display: block;
	margin: 0 3% 3%;
	padding: 2%;
}
#cont-favorite li p {
	height: 8em;
	padding: 2% 1% 2% 31%;
}
#cont-favorite li.point01 p {
	background: url(/sp/favorite/img/img_p01.png) left no-repeat;
	background-size: 30%;
}
#cont-favorite li.point02 p {
	background: url(/sp/favorite/img/img_p02.png) left no-repeat;
	background-size: 30%;
}
#cont-favorite li.point03 p {
	background: url(/sp/favorite/img/img_p03.png) left no-repeat;
	background-size: 30%;
}
#cont-favorite li p span {
	background: #f39800;
	border-radius: 8px;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 5px;
}
#cont-favorite .btn-back {
	margin: 0 auto 10px;
	padding-top: 10px;
	text-align: center;
	width: 80%;
}

/*0件表示改修（170307）*/
.box-result {
	background: url(/sp/img/arrow_result.png) center bottom no-repeat;
	margin: 10px 10px;
	padding-bottom: 30px;
}
.box-result .inner {
	align-items: center;
	border: 3px solid #70c39a;
	display: flex;
	flex-wrap: nowrap;
	font-size: 16px;
	justify-content: center;
	line-height: 1.4;
	margin: 0;
	padding: 10px;
}
.box-result .inner .counts {
	bottom: 15px;
	display: inline-block;
	line-height: 1.0;
	margin: 5px 10px;
}
.box-result .inner .counts span {
	color: #be4242;
	font-size: 30px;
	font-weight: bold;
}

.ttl-jyouken {
	background: #14ae67;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	margin: 10px 0 0;
	padding-left: 40px;
}

/*都道府県変更ボタン（170704）*/
.btn-change {
	background: #14ae67;
	border-radius: 5px;
	box-shadow: 0 1px 1px 1px rgba(0,0,0,0.4);
	font-size: 18px;
	font-weight: bold;
	line-height: 1.0;
	margin: 6px 10px 2px;
	text-align: center;
	text-decoration: none;
}
.btn-change a {
	color: #fff;
	display: block;
	padding: 10px 0 7px;
	text-decoration: none;
}
.btn-change a span {
	font-size: 14px;
}

/*現地レポートリンク追加（170905）*/
.area-link-g {
	background: #faf8ed url(/icon_img/icon_next.png) 98% no-repeat;
	font-size: 14px;
	line-height: 1.2;
	margin: 0 0 10px 0;
	padding: 2%;
	text-decoration: none;
	width: 100%;
}
.area-link-g h4 {
	color: #404040;
	margin-bottom: 5px;
}
.area-link-g img {
	display: inline-block;
	margin-right: 2%;
	width: 20%;
}
.area-link-g p {
	display: inline-block;
	vertical-align: top;
	width: 74%;
}

/*一覧改修（170905）*/
.area-search-change {
	clear: both;
	font-size: 14px;
	line-height: 1.2;
	margin-bottom: 10px;
	width: 100%;
}
.area-search-change a,
.area-search-change_b a {
	clear: both;
	text-decoration: none;
}
.area-search-change a .txt-search,
.area-search-change_b a .txt-search {
	font-weight: bold;
}
.area-search-change a .box-001 {
	background: #ebebeb url(/icon_img/icon_next.png) 98% center no-repeat;
	border: solid 1px #bebebe;
	border-collapse: collapse;
	display: inline-block;
	float: left;
	height: 55px;
	margin-left: 1%;
	padding: 10px 10px 0 20px;
	position: relative;
	width: 49%;
}
.area-search-change a .box-002 {
	background: #ebfbdb url(/icon_img/icon_next.png) 98% center no-repeat;
	border: solid 1px #bebebe;
	border-collapse: collapse;
	display: inline-block;
	float: left;
	height: 55px;
	padding: 10px 10px 0 20px;
	position: relative;
	width: 49%;
}
.area-search-change_b {
	font-size: 14px;
	margin-bottom: 10px;
}
.area-search-change_b a .box-002b {
	background: #ebfbdb url(/icon_img/icon_next.png) 98% center no-repeat;
	border: solid 1px #bebebe;
	height: 55px;
	line-height: 35px;
	margin-left: 1%;
	padding: 10px 5px 0 30px;
	position: relative;
	width: 98%;
}
.area-search-change a .box-001 .icon-search,
.area-search-change a .box-002 .icon-search {
	left: 2px;
	position: absolute;
	top: 10px;
}
.area-search-change_b a .box-002b .icon-search {
	left: 5px;
	position: absolute;
	top: 10px;
}

/*一覧改修（170926）*/
.box-num a .btn-infomail {
	background: #fff url(/sp/common_img/icon_infomail.png) 5px no-repeat;
	border: solid 1px #ea5300;
	border-radius: 4px;
	box-shadow: 0 -2px 2px rgba(0,0,0,0.2) inset;
	color: #ea5300;
	display: inline-block;
	float: right;
	font-size: 12px;
	line-height: 12px;
	margin-right: 10px;
	padding: 3px 10px 1px 40px;
	text-align: left;
	text-decoration: none;
}

/*お知らせメール登録（170926）*/
.ttl-infomail {
	font-size: 14px;
	margin: 20px 0 0 94px;
}

#infomail {
	font-size: 14px;
	margin-bottom: 10px;
	padding: 15px 10px 0;
}
#infomail a:hover {
	opacity: .7;
}
#infomail .txt-lead {
	line-height: 1.5;
	margin-bottom: 10px;
	text-align: left;
}
#infomail .txt-lead strong {
	color: #f60;
	font-size: 18px;
}
#infomail .area-select {
	margin: 0 auto 15px;
	width: 100%;
}
#infomail .area-select h2 {
	display: inline-block;
	font-weight: bold;
	width: 50%;
}

#infomail .area-select #TabNav {
	display: inline-block;
	width: 48%;
}
#infomail .area-select #TabNav li.tab-03 {
	background: #ebebeb;
	border-radius: 5px;
	display: inline-block;
	padding-right: 0;
	width: 100%;
}
#infomail .area-select #TabNav li.tab-03 a {
	background-image: none;
	background-size: 12px;
	display: block;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 10px 0 10px;
	text-align: center;
	color:#000;
	font-weight: bold;
}
#infomail .area-select .btn-fix .btn-dec {
	background: #14ae67 url(/icon_img/icon_arr.png) 10% no-repeat;
	border-radius: 5px;
	box-shadow: 0 1px 1px 1px rgba(0,0,0,0.4);
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 5px;
	line-height: 1.0;
	margin: 1% 20% 1%;
	text-align: center;
	text-decoration: none;
}
#infomail .area-select .btn-dec a {
	color: #fff;
	display: block;
	padding: 10px 0 7px;
	text-decoration: none;
}
#infomail .list-area {
	font-size: 16px;
	margin: 10px 0;
}
#infomail .list-area li {
	display: inline-block;
	padding: 5px;
}
#infomail .area-input h2 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
	width: 100%;
}
#infomail .area-input p {
	color: #77bf31;
	font-size: 12px;
	line-height: 1.5;
	margin-bottom: 10px;
	width: 100%;
}
#infomail .area-input input {
	font-size: 16px;
	margin-bottom: 10px;
	padding: 5px;
	width: 100%;
}
#infomail .area-next {
	margin: 0 auto 10px;
	text-align: center;
	width: 100%;
}
#infomail .area-next .txt-att {
	font-size: 12px;
	line-height: 1.5;
	margin-bottom: 10px;
}
#infomail .area-next .btn-next {
	background: #f37e00 url(/icon_img/icon_arr.png) 10px no-repeat;
	border-radius: 5px;
	box-shadow: 0 -2px 2px rgba(0,0,0,0.2) inset;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	margin: 0;
	padding: 15px 5px 13px 20px;
	text-align: center;
	text-decoration: none;
	width: 100%;
}

#end-infomail {
	background: #fff;
	margin-bottom: 20px;
	padding: 20px 20px;
	text-align: center;
}
#end-infomail .img-check {
	width: 40px;
}
#end-infomail .txt-lead {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;
	text-align: center;
}
#end-infomail .area-select {
	line-height: 1.5;
	margin: 0 auto 20px;
	text-align: left;
	width: 100%;
}
#end-infomail .list-area {
	font-size: 16px;
	margin-bottom: 20px;
}
#end-infomail .list-area li {
	display: inline-block;
	padding: 5px;
}
#end-infomail .btn-end {
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 -2px 2px rgba(0,0,0,0.2) inset;
	color: #14ae67;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	margin: 0 auto;
	padding: 10px 20px 8px 20px;
	text-align: center;
	text-decoration: none;
}
#end-infomail .btn-end:hover {
	cursor: pointer;
	opacity: .7;
}

/*アイコン改修（171114）*/
.innerbox .box-ttl .ico-new {
	background: #f10051;
	border-radius: 8px;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	line-height: 1.0;
	margin-left: 5px;
	padding: 4px 8px 2px;
	position: absolute;
	right: 5px;
	text-decoration: none;
	top: 16px;
}
.innerbox .contbox .cont-l .ico-type01 {
	display: flex;
	font-size: 11px;
	justify-content: flex-start;
	margin-top: 10px;
}
.innerbox .contbox .cont-l .ico-type01 li {
	border-radius: 4px;
	color: #5f5f5f;
	margin-right: 2px;
	padding: 3px 10px 1px;
}
.innerbox .contbox .cont-l .ico-type01 .type-m {
	border: solid 1px #118650;
}
.innerbox .contbox .cont-l .ico-type01 .type-z {
	border: solid 1px #501287;
}
.innerbox .contbox .cont-l .ico-type01 .type-f {
	border: solid 1px #875012;
}
.innerbox .contbox .cont-l .ico-type02 {
	display: flex;
	font-size: 10px;
	justify-content: flex-start;
	margin-top: 5px;
}
.innerbox .contbox .cont-l .ico-type02 li {
	border-radius: 4px;
	color: #fff;
	margin-right: 2px;
	padding: 3px 4px 1px;
	white-space: nowrap;
}
.innerbox .contbox .cont-l .ico-type02 .type-e {
	background: #00ace6;
}
.innerbox .contbox .cont-l .ico-type02 .type-p {
	background: #a08d76;
}
.innerbox .contbox .cont-l .ico-type02 .type-g {
	background: #6a9c3a;
}

/*お知らせメールフォーム改修（171128）*/
#infomail .area-lead {
	background: #fef9ae;
	border: solid 4px #f60;
	border-radius: 8px;
	clear: both;
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 10px;
	padding: 10px;
}
#infomail .area-lead strong {
	color: #f60;
	font-size: 20px;
	text-shadow: 1px 1px 0 #fff,
							 -1px 1px 0 #fff,
							 1px -1px 0 #fff,
							 -1px -1px 0 #fff;
}
#infomail .area-lead img.img-mail {
	float: right;
	height: 30%;
	width: 40%;
}

/*路線検索改修（171128）*/
.searchBox .lineList li p.up {
	background: url(/sp/common_img/icon_up.png) 95% no-repeat;
	background-size: 20px;
}
.searchBox .lineList li p.down {
	background: url(/sp/common_img/icon_down.png) 95% no-repeat;
	background-size: 20px;
}

.searchBox .lineList02 li {
	padding: 1px 0;	
	border-bottom: 1px solid #e5e5e5;
}
.searchBox .lineList02 li:last-child {
	border-bottom: none;
}
.searchBox .lineList02 li label {
	display: table;
	padding-left: 10px;
	width: 100%;
}
.searchBox .lineList02 li label p {
	display: table-cell;
	padding: 10px 0;
	vertical-align: middle;
}
.searchBox .lineList02 li label p span {
	color: #404040;
	position: absolute;
	right: 10px;
}
.searchBox .lineList02 li label p.check02 {
	width: 30px;
	text-align: center;
}
.searchBox .lineList02 li label p.check input {
	margin: 0;
}
.searchBox .lineList02 li label p.text {
	padding-left: 10px;
}
.searchBox .lineList02 li p.plus {
	background: url(/sp/common_img/icon_plus.png) 15px no-repeat;
	background-size: 20px;
	border-bottom: 1px solid #e5e5e5;
	padding: 15px 10px 15px 40px;
}
