@charset "utf-8";

/* メイン */
#search .title{
	padding: 0 4.6875%;
	font-size: 20px;
	font-weight: bold;
	background: url(/sp/img/bg_green-dark.png) repeat-x;
	-webkit-background-size: 320px 105px;
	line-height: 55px;
	color: #fff;
}
#search ul{
	background: #d6d6d6;
	padding: 0 0 1px;
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
	margin: 0 0 3px;
}
#search li{
	background: -webkit-gradient(linear, left top, left bottom, from(#fff),  
            color-stop(0.5, #fff),  
            to(#f2f2f2));
  	margin: 0 0 2px;
	border-bottom: 1px solid #eee;
	height: 50px;
	padding: 0 2.5%;
}
#search li:last-child{
	margin: 0;
}
#search li a{
	color: #2c9673;
	font-weight: bold;
	text-decoration: none;
	line-height: 50px;
	padding: 2px 0 0 45px;
	display: block;
}
#search .list01 a{
	background: url(/sp/img/icon_01.png) no-repeat 2px center;
	background-size: 28px auto;
}
#search .list02 a{
	background: url(/sp/img/icon_02.png) no-repeat 2px center;
	background-size: 28px auto;
}
#search .list03 a{
	background: url(/sp/img/icon_03.png) no-repeat 2px center;
	background-size: 28px auto;
}
#search .list04 a{
	background: url(/sp/img/icon_04.png) no-repeat 2px center;
	background-size: 28px auto;
}
#search .list05 a{
	background: url(/sp/img/icon_05.png) no-repeat 2px center;
	background-size: 28px auto;
}
#search .list06 a{
	background: url(/sp/img/icon_06.png) no-repeat 2px center;
	background-size: 28px auto;
}
#search .list07 a{
	background: url(/sp/img/icon_07.png) no-repeat 2px center;
	background-size: 28px auto;
}
#search .list08 a{
	background: url(/sp/img/icon_08.png) no-repeat 0 center;
	background-size: 33px auto;
}
#search .list09 a{
	background: url(/sp/img/icon_09.png) no-repeat 2px center;
	background-size: 28px auto;
}
/* 新規開園 */
#search .list10 a{
	background: url(/sp/img/icon_10.png) no-repeat 2px center;
	background-size: 28px auto;
}
/* 高級霊園・公営霊園 */
#search .list11 a{
	background: url(/sp/img/icon_11.png) no-repeat 2px center;
	background-size: 28px auto;
}
#search .list12 a{
	background: url(/sp/img/icon_12.png) no-repeat 2px center;
	background-size: 28px auto;
}
/* 寺院墓地 */
#search .list13 a{
	background: url(/sp/img/icon_13.png) no-repeat 2px center;
	background-size: 28px auto;
}
/* ガーデニング霊園 */
#search .list14 a{
	background: url(/sp/img/icon_14.png) no-repeat 2px center;
	background-size: 28px auto;
}
/* 一般墓 */
#search .list15 a{
	background: url(/sp/img/icon_15.png) no-repeat 2px center;
	background-size: 28px auto;
}
#search .title_serch{
	color: #2c9673;
}
.keyword-serch{
	background: #e5f4ec;
	padding: 20px 4.6875%;
}
.keyword-serch .title_serch{
	margin: 0 0 10px;
}
.keyword-serch .keywords{
	line-height: 1;
	padding: 9px 0.5em;
	border: solid 2px #c3c3c3;
	border-radius: 5px;
	width: 100%;
	font-size: 16px;
}
.keyword-serch .keywords_wrap{
	margin: 0 120px 0 0;
}
.keyword-serch .search-btn{
	width: 86px;
	height: auto;
	float:right;
	margin: 2px 0 0 10px;
}
.top-bnr{
	padding: 11px 4.0625%;
}
.top-bnr li{
	margin: 0 0 14px;
}
.top-bnr li:last-child{
	margin: 0;
}

/*トップ改修（161018/161115）*/
#search-new {
	background: #e5f4ec;
}
#search-new .keyword-serch .keywords {
	border: solid 2px #14ae67;
	border-radius: 4px;
	display: inline-block;
	font-size: 15px;
	line-height: 1;
	margin: 0;
	width: 105%;
	padding: 10px 5px 8px;
}
#search-new .keyword-serch .search-btn {
	border: none;
	cursor: pointer;
	display: inline-block;
	float: right;
	height: auto;
	margin: 0;
	padding: 0;
}
#search-new ul {
	clear: both;
	padding: 15px 5px 0;
}
#search-new li a {
	background: #fff;
	border: solid 2px #eee;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
	color: #076baf;
	display: block;
	font-size: 18px;
	font-weight: bold;
	height: auto;
	line-height: 1.2;
	margin: 0 2% 2%;
	padding: 5% 15% 3% 5%;
	text-align: right;
	text-decoration: none;
}
#search-new li a strong {
	font-size: 24px;
	font-weight: bold;
}
#search-new .list01 a {
	background: #fff url(../img/icon_map.png) no-repeat 10px center;
	background-size: 14% auto;
}
#search-new .list02 a {
	background: #fff url(../img/icon_train.png) no-repeat 10px center;
	background-size: 14% auto;
}
#search-new .list03 a {
	background: #fff url(../img/icon_point.png) no-repeat center 5px;
	background-size: 80% auto;
}
#search-new .list01,
#search-new .list02 {
	position: relative;
}
#search-new .list01 a img,
#search-new .list02 a img {
	position: absolute;
	right: 15px;
	width: 4%;
}
#search-new ul.popular {
	background: #fff;
}
#search-new ul.popular li a {
	background: #fff;
	border: solid 2px #eee;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
	color: #076baf;
	display: inline-block;
	float: left;
	font-size: 14px;
	font-weight: bold;
	height: 4em;
	line-height: 1.2;
	margin: 0 0 2.5% 2%;
	padding: 5% 5% 5% 0;
	text-align: right;
	text-decoration: none;
}
#search-new ul.popular .list04 a {
	background: #fff url(../img/icon_07.png) no-repeat 5px center;
	background-size: 25% auto;
	display: inline-block;
	padding: 5% 3% 5%;
	width: 47%;
}
#search-new ul.popular .list05 a {
	background: #fff url(../img/icon_14.png) no-repeat 6px center;
	background-size: 25% auto;
	display: inline-block;
	padding: 5% 3% 5%;
	width: 47%;
}
#search-new ul.popular .list06 a {
	background: #fff url(../img/icon_02.png) no-repeat 4px center;
	background-size: 30% auto;
	padding: 5% 3% 5%;
	width: 47%;
}
#search-new ul.popular .list07 a {
	background: #fff url(../img/icon_10.png) no-repeat 4px center;
	background-size: 30% auto;
	padding: 5% 3% 5%;
	width: 47%;
}
#search-new ul.popular .list08 a {
	background: #fff url(../img/icon_15.png) no-repeat 7px center;
	background-size: 27% auto;
	padding: 5% 3% 5%;
	width: 47%;
}
#search-new ul.popular .list09 a {
	background: #fff url(../img/icon_06.png) no-repeat 7px center;
	background-size: 27% auto;
	padding: 5% 3% 5%;
	width: 47%;
}
#search-new ul.popular .list10 a {
	background: #fff url(../img/icon_04.png) no-repeat 6px center;
	background-size: 28% auto;
	padding: 5% 3% 5%;
	width: 47%;
}
#search-new ul.popular .list11 a {
	background: #fff url(../img/icon_05.png) no-repeat 2px center;
	background-size: 33% auto;
	padding: 5% 3% 5%;
	width: 47%;
}

/*リスト追加（170113）*/
#search-new ul.popular .list12 a {
	background: #fff url(../img/icon_12.png) no-repeat 7px center;
	background-size: 27% auto;
	padding: 5% 3% 5%;
	width: 47%;
}
#search-new ul.popular .list13 a {
	background: #fff url(../img/icon_13.png) no-repeat 7px center;
	background-size: 27% auto;
	padding: 5% 3% 5%;
	width: 47%;
}
#search-new ul.popular .list14 a {
	background: #fff url(../img/icon_08.png) no-repeat 6px center;
	background-size: 33% auto;
	padding: 5% 3% 5%;
	width: 47%;
}
#search-new ul.popular .list16 a {
	background: #fff url(../img/icon_16.png) no-repeat 7px center;
	background-size: 27% auto;
	padding: 5% 3% 5%;
	width: 47%;
}
#search-new ul.popular .list17 a {
	background: #fff url(../img/icon_17.png) no-repeat 7px center;
	background-size: 28% auto;
	padding: 5% 3% 5%;
	width: 47%;
}
#search-new ul.popular .list18 a {
	background: #fff url(../img/icon_18.png) no-repeat 6px center;
	background-size: 29% auto;
	padding: 5% 3% 5%;
	width: 47%;
}

#search-new .top-bnr {
	background: #fff;
	padding: 0 4.0625% 11px 4.0625%;
}

.section .title-osusume {
	background: url(../img/bg_green.png) repeat-x;
	border: none;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	line-height: 55px;
	padding: 0 4.6875%;
}

.area-about {
	background: #faf8ed;
}
.area-about .txt-about {
	font-size: 13px;
	line-height: 1.5;
	padding: 10px;
}

/*探すページ改修（161115）*/
#search ul.list-popular {
	background: #fff;
	-webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
	clear: both;
	padding: 15px 2.5% 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#search ul.list-popular li {
	background: #fff;
	border-bottom: none;
	height: 4em;
	padding: 0;
	width: 50%;
}
#search ul.list-popular li a {
	background: #fff;
	border: solid 2px #eee;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
	color: #076baf;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	height: 4em;
	line-height: 1.2;
	margin: 0 2% 0;
	text-align: right;
	text-decoration: none;
	width: 96%;
}
#search ul.list-popular .list04 a {
	background: #fff url(../img/icon_07.png) no-repeat 5px center;
	background-size: 25% auto;
	display: inline-block;
	padding: 8% 3% 5%;
}
#search ul.list-popular .list05 a {
	background: #fff url(../img/icon_14.png) no-repeat 6px center;
	background-size: 25% auto;
	display: inline-block;
	padding: 8% 3% 5%;
}
#search ul.list-popular .list06 a {
	background: #fff url(../img/icon_02.png) no-repeat 4px center;
	background-size: 30% auto;
	padding: 8% 3% 5%;
}
#search ul.list-popular .list07 a {
	background: #fff url(../img/icon_10.png) no-repeat 4px center;
	background-size: 30% auto;
	padding: 10% 3% 5%;
}
#search ul.list-popular .list08 a {
	background: #fff url(../img/icon_15.png) no-repeat 7px center;
	background-size: 27% auto;
	padding: 10% 3% 5%;
}
#search ul.list-popular .list09 a {
	background: #fff url(../img/icon_06.png) no-repeat 7px center;
	background-size: 27% auto;
	padding: 10% 3% 5%;
}
#search ul.list-popular .list10 a {
	background: #fff url(../img/icon_04.png) no-repeat 6px center;
	background-size: 28% auto;
	padding: 10% 3% 5%;
}
#search ul.list-popular .list11 a {
	background: #fff url(../img/icon_05.png) no-repeat 2px center;
	background-size: 33% auto;
	padding: 10% 3% 5%;
}

/*リスト追加（170113）*/
#search ul.list-popular .list12 a {
	background: #fff url(../img/icon_12.png) no-repeat 7px center;
	background-size: 27% auto;
	padding: 5% 3% 5%;
}
#search ul.list-popular .list13 a {
	background: #fff url(../img/icon_13.png) no-repeat 7px center;
	background-size: 27% auto;
	padding: 5% 3% 5%;
}
#search ul.list-popular .list14 a {
	background: #fff url(../img/icon_08.png) no-repeat 6px center;
	background-size: 33% auto;
	padding: 5% 3% 5%;
}
#search ul.list-popular .list16 a {
	background: #fff url(../img/icon_16.png) no-repeat 7px center;
	background-size: 27% auto;
	padding: 5% 3% 5%;
}
#search ul.list-popular .list17 a {
	background: #fff url(../img/icon_17.png) no-repeat 7px center;
	background-size: 28% auto;
	padding: 5% 3% 5%;
}
#search ul.list-popular .list18 a {
	background: #fff url(../img/icon_18.png) no-repeat 6px center;
	background-size: 29% auto;
	padding: 5% 3% 5%;
}

/*トップ改修（170117）*/
.area-lead {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0 3%;
}
.area-lead #lead {
	border: solid 2px #14ae67;
	border-radius: 4px;
	font-size: 12px;
	line-height: 20px;
	margin: 5px 0;
	padding: 4px 4px 2px;
	text-align: center;
	width: 82%;
	white-space: nowrap;
}
.area-lead a.btn-tel {
	margin: 5px 0 5px 10px;
	width: 50px;
}

#search-new .title {
	background: url(../img/bg_green.png) repeat-x;
	clear: both;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	line-height: 55px;
	padding: 0;
}
#search-new .ttl-new {
	background: url(../img/bg_green.png) repeat-x;
	clear: both;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	line-height: 36px;
	padding: 0 4.6875%;
}
#search-new ul.area-line {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin: 0 auto;
	padding: 5px 0 10px;
	width: 85%;
}
#search-new ul.area-line li {
	float: none;
	margin: 0;
	width: 45%;
}
#search-new ul.area-line li a {
	background: #fff;
	border: solid 2px #eee;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
	color: #a22f1d;
	float: none;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	line-height: 1.2;
	text-align: center;
	text-decoration: none;
	width: 100%;
}
#search-new ul.area-line .list01-new a {
	background: #fff url(../img/icon_map.png) no-repeat center 8px;
	background-size: 60% auto;
	padding: 70% 0 0 0;
}
#search-new ul.area-line .list02-new a {
	background: #fff url(../img/icon_train.png) no-repeat center 5px;
	background-size: 60% auto;
	margin-left: -5%;
	padding: 70% 0 0 0;
}

#search-new .area-search-top {
	background: none;
	margin: 0;
	padding: 0;
}
#search-new .area-search-top .keyword-serch {
	background: none;
	margin: 0;
	padding: 0 3%;
}
#search-new .area-search-top .keyword-serch .keywords_wrap {
	margin: 0 10px 0 0;
}
#search-new .area-search-top .keyword-serch .keywords {
	line-height: 1;
	padding: 10px 0.5em 8px 0.5em;
	border-radius: 4px;
	margin: 0;
	width: 73%;
	font-size: 16px;
}
#search-new .area-search-top .keyword-serch .search-btn2 {
	background: none;
	border: none;
	cursor: pointer;
	float: right;
	height: auto;
	margin: 7px 0 0;
	padding: 0;
	width: 71px;
}
#search-new .lead-txt {
	color: #14ae67;
	font-size: 18px;
	line-height: 2.0;
	margin: 10px auto 0;
	position: relative;
	text-align: center;
	width: 10em;
}
#search-new .lead-txt:before {
	bottom: -10px;
	content: url(../img/border_l.png);
	display: block;
	left: 0;
	position: absolute;
}
#search-new .lead-txt:after {
	bottom: -10px;
	content: url(../img/border_r.png);
	display: block;
	position: absolute;
	right: 0;
}

.section h2.ttl-osusume {
	background: url(/sp/img/bg_green-left-arrow.png) no-repeat 0 center;
	background-size: cover;
	border: none;
	line-height: 36px;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	padding: 0 0 0 14.0625%;
}

.area-about .title {
	background: url(../img/bg_green.png) repeat-x;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	line-height: 36px;
	padding: 0 4.6875%;
}

.moreprice a {
    display: block;
    font-size: 14px;
    text-align: center;
    color: #333;
    text-decoration: none;
    line-height: 1.3;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #fefefe;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fefefe), to(#f6f6f6));
    background: -webkit-linear-gradient(#fefefe, #f6f6f6);
    background: -moz-linear-gradient(#fefefe, #f6f6f6);
    background: -ms-linear-gradient(#fefefe, #f6f6f6);
    background: -o-linear-gradient(#fefefe, #f6f6f6);
    background: linear-gradient(#fefefe, #f6f6f6);
    padding: 6px 10px;
    position: relative;
}

.moreprice a:after {
    content: "";
    width: 12px;
    height: 8px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -4px;
    background: url(../detail/img/arrow.png) no-repeat 0 0;
}

.moreprice a span {
    display: block;
    font-size: 10px;
}

/*トップ改修（170912）*/
.area-lead-new {
	background: #118650;
	color: #fff;
	font-size: 15px;
	line-height: 1.2;
	margin: 0;
	padding: 10px 5px 10px;
}
.area-lead-new .box-count {
	background: #fff;
	border-radius: 4px;
	color: #404040;
	display: inline-block;
	font-size: 14px;
	padding: 2px 5px 0;
	text-align: center;
}
.area-lead-new .box-count span {
	color: #f14f0f;
	font-size: 15px;
	font-weight: bold;
}
.area-lead-new .txt-lead {
	display: inline;
}

.area-btn-search {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin: 0 auto;
	padding: 10px 0 10px;
	width: 96%;
}
.area-btn-search li {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #eee), color-stop(1.00, #fff));
	background: -webkit-linear-gradient(#eee, #fff);
	background: -moz-linear-gradient(#eee, #fff);
	background: -o-linear-gradient(#eee, #fff);
	background: -ms-linear-gradient(#eee, #fff);
	background: linear-gradient(#eee, #fff);
	border: solid 1px #ccc;
	border-radius: 4px;
	/*box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);*/
	margin: 0;
	white-space: nowrap;
	width: 49%;
}
.area-btn-search li a {
	color: #404040;
	float: none;
	font-size: 16px;
	font-weight: bold;
	height: auto;
	line-height: 2.0;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}
.area-btn-search .btn-area a {
	background: url(../img/icon_map.png) no-repeat 2%;
	background-size: 22% auto;
	display: block;
	padding: 10% 0 10% 20%;
}
.area-btn-search .btn-line a {
	background: url(../img/icon_train.png) no-repeat 5%;
	background-size: 22% auto;
	display: block;
	padding: 10% 0 10% 20%;
}

#search-new .area-keyword {
	background: #efefef;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}
#search-new .area-keyword .keyword-serch {
	background: #efefef;
	margin: 0;
	padding: 2%;
	width: 100%;
}
#search-new .area-keyword .keyword-serch .keywords {
	border: solid 1px #ccc;
	display: inline-flex;
	font-size: 16px;
	line-height: 1;
	padding: 9px 5px 6px;
	border-radius: 4px;
	margin-top: -4px;
	width: 77%;
}
#search-new .area-keyword .keyword-serch .btn-kensaku {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #118650), color-stop(1.00, #14ae67));
	background: -webkit-linear-gradient(#118650, #14ae67);
	background: -moz-linear-gradient(#118650, #14ae67);
	background: -o-linear-gradient(#118650, #14ae67);
	background: -ms-linear-gradient(#118650, #14ae67);
	background: linear-gradient(#118650, #14ae67);
	border: solid 1px #118650;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	line-height: 1;
	padding: 10px 5px 8px;
	width: 20%;
}
#search-new .list-toku {
	margin: 0 0 10px;
	padding: 0;
}
#search-new .list-toku li a {
	align-items: center;
	background: #fff url(/sp/common_img/icon_link.png) no-repeat 98%;
	border: none;
	border-bottom: solid 1px #ccc;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	box-shadow: 0 0 0 0 rgba(0,0,0,0);
	-webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
	-moz-box-shadow: 0 0 0 0 rgba(0,0,0,0);
	color: #404040;
	display: flex;
	flex-flow: nowrap;
	font-size: 16px;
	font-weight: normal;
	justify-content: flex-start;
	line-height: 1.4;
	margin: 0;
	padding: 2%;
	text-align: left;
	text-decoration: none;
}
#search-new .list-toku li a .icon-img {
	height: 15%;
	width: 20%;
}
#search-new .list-toku li a p {
	margin-left: 5%;
	width: 70%;
}
#search-new .list-toku li a p strong {
	font-size: 16px;
	font-weight: bold;
}

/*top改修（171003）*/
.area-search-plus {
	font-size: 14px;
	line-height: 1.2;
	margin: 0 auto 0;
	width: 96%;
}
.area-search-plus a {
	text-decoration: none;
}
.area-search-plus a .box-001 {
	align-items: center;
	background: #ebebeb url(/icon_img/icon_next.png) 98% center no-repeat;
	border: solid 1px #bebebe;
	border-collapse: collapse;
	display: flex;
	flex-wrap: wrap;
	height: 50px;
	justify-content: flex-start;
	line-height: 1.0;
	margin-bottom: 5px;
	padding-left: 15%;
	position: relative;
	width: 100%;
}
.area-search-plus a .box-001 p {
	display: block;
	font-weight: bold;
	margin-top: 5px;
}
.area-search-plus a .box-001 ul {
	display: block;
	width: 100%;
}
.area-search-plus a .box-001 li {
	align-items: center;
	border-right: solid 1px #076baf;
	display: inline-block;
	margin-right: 5px;
	padding-right: 5px;
}
.area-search-plus a .box-001 li:last-child {
	border-right: none;
}
.area-search-plus a .box-002 {
	align-items: center;
	background: #ebfbdb url(/icon_img/icon_next.png) 98% center no-repeat;
	border: solid 1px #bebebe;
	border-collapse: collapse;
	display: flex;
	height: 50px;
	justify-content: flex-start;
	line-height: 1.0;
	margin-bottom: 5px;
	padding-left: 15%;
	position: relative;
	text-align: left;
	width: 100%;
}
.area-search-plus a .box-002 p {
	display: block;
	font-weight: bold;
}
.area-search-plus a .box-001 .icon-search,
.area-search-plus a .box-002 .icon-search {
	left: 5%;
	margin: 0;
	position: absolute;
	top: 8px;
}

/*トップ改修（171004）*/
.area-search-btn {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin: 0 auto;
	padding: 10px 0 10px;
	width: 96%;
}
.area-search-btn li {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #eee), color-stop(1.00, #fff));
	background: -webkit-linear-gradient(#eee, #fff);
	background: -moz-linear-gradient(#eee, #fff);
	background: -o-linear-gradient(#eee, #fff);
	background: -ms-linear-gradient(#eee, #fff);
	background: linear-gradient(#eee, #fff);
	border: solid 1px #ccc;
	border-radius: 4px;
	/*box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);*/
	margin: 0;
	white-space: nowrap;
	width: 49%;
}
.area-search-btn li a {
	color: #404040;
	float: none;
	font-size: 28px;
	font-weight: bold;
	height: auto;
	line-height: 1.0;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}
.area-search-btn .btn-area a {
	background: url(../img/icon_map.png) no-repeat 10%;
	background-size: 45% auto;
	display: block;
	padding: 17% 0 15% 40%;
}
.area-search-btn .btn-line a {
	background: url(../img/icon_train.png) no-repeat 10%;
	background-size: 45% auto;
	display: block;
	padding: 17% 0 15% 40%;
}
.area-search-btn .btn-area a span,
.area-search-btn .btn-line a span {
	font-size: 16px;
}

/*リード文改修（180116）*/
.txt-tv {
	background: #fdff9a url(/icon_img/icon_tv.png) no-repeat 6px;
	background-size: 20px;
	border-radius: 4px;
	color: #ea5300;
	font-size: 15px;
	font-weight: bold;
	left: 30px;
	line-height: 1.0;
	margin: 5px auto -5px;
	padding: 4px 0 2px 30px;
	width: 96%;
}
