/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
nav ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
/* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
/* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
table {
	/* [disabled]border-collapse:collapse;
*/
	/* [disabled]border-spacing:0;
*/
}
/*
Reset Stylesheet End
*/

/*
=========================================================
etc
=========================================================
*/
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}
input, select {
	vertical-align: middle;
}
img {
	vertical-align: bottom;
	width: 100%;
	height: auto;
}

#conversion_area img {
	vertical-align:auto;
	width: 0px;
	height: 0px;
	display:none;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.clearfix {
	min-height: 1px;
}
* html .clearfix {
	height: 1px;/*¥*//*/
	height: auto;
	overflow: hidden;
	/**/
}
/*
=========================================================
margin
=========================================================
*/
.m0 {
	margin: 0 !important;
}
.mt5 {
	margin-top: 5px;
}
.mt10 {
	margin-top: 10px;
}
.mt15 {
	margin-top: 15px;
}
.mt20 {
	margin-top: 20px;
}
.mt25 {
	margin-top: 25px;
}
.mt30 {
	margin-top: 30px;
}
.mt35 {
	margin-top: 35px;
}
.mt40 {
	margin-top: 40px;
}
.mb5 {
	margin-bottom: 5px;
}
.mb6 {
	margin-bottom: 6px;
}
.mb7 {
	margin-bottom: 7px;
}
.mb8 {
	margin-bottom: 8px;
}
.mb9 {
	margin-bottom: 9px;
}
.mb5 {
	margin-bottom: 5px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb12 {
	margin-bottom: 12px;
}
.mb15 {
	margin-bottom: 15px;
}
.mb18 {
	margin-bottom: 18px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb25 {
	margin-bottom: 25px;
}
.mb30 {
	margin-bottom: 30px;
}
.mb35 {
	margin-bottom: 35px;
}
.mb40 {
	margin-bottom: 40px;
}
.mb50 {
	margin-bottom: 50px;
}
.ml5 {
	margin-left: 5px;
}
.ml7 {
	margin-left: 7px;
}
.ml10 {
	margin-left: 10px;
}
.ml15 {
	margin-left: 15px;
}
.ml20 {
	margin-left: 20px;
}
.ml25 {
	margin-left: 25px;
}
.mr5 {
	margin-right: 5px;
}
.mr7 {
	margin-right: 7px;
}
.mr10 {
	margin-right: 10px;
}
.mr15 {
	margin-right: 15px;
}
.mr20 {
	margin-right: 20px;
}
.mr25 {
	margin-right: 25px;
}
/*
=========================================================
padding
=========================================================
*/
.pt5 {
	padding-top: 5px;
}
.pt10 {
	padding-top: 10px;
}
.pt15 {
	padding-top: 15px;
}
.pt20 {
	padding-top: 20px;
}
.pt25 {
	padding-top: 25px;
}
.pt27 {
	padding-top: 27px;
}
.pt30 {
	padding-top: 30px;
}
.pt35 {
	padding-top: 35px;
}
.pt40 {
	padding-top: 40px;
}
.pb5 {
	padding-bottom: 5px;
}
.pb10 {
	padding-bottom: 10px;
}
.pb15 {
	padding-bottom: 15px;
}
.pb20 {
	padding-bottom: 20px;
}
.pb25 {
	padding-bottom: 25px;
}
.pb30 {
	padding-bottom: 30px;
}
.pb35 {
	padding-bottom: 35px;
}
.pb40 {
	padding-bottom: 40px;
}
.ps10 {
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
.ps15 {
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
}
.ps20 {
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
}
/*
=========================================================
line-height
=========================================================
*/
.lh110 {
	line-height: 110%;
}
.lh120 {
	line-height: 120%;
}
.lh130 {
	line-height: 130%;
}
.lh140 {
	line-height: 140%;
}
.lh150 {
	line-height: 150%;
}
.lh160 {
	line-height: 160%;
}
.lh170 {
	line-height: 170%;
}
.lh180 {
	line-height: 180%;
}
.lh190 {
	line-height: 190%;
}
.lh200 {
	line-height: 200%;
}
/*
=========================================================
txt-worp
=========================================================
*/
.no-warp {
	overflow: hidden;
}
/*
=========================================================
font
=========================================================
*/
body, textarea {
	font-family: "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
}
input, select {
	font-family: Arial, "ＭＳ Ｐゴシック", sans-serif;
}
.fs10 {
	font-size: 10px;
}
.fs11 {
	font-size: 11px;
}
.fs12 {
	font-size: 12px;
}
.fs13 {
	font-size: 13px;
}
.fs14 {
	font-size: 14px;
}
.fs15 {
	font-size: 15px;
}
.fs16 {
	font-size: 16px;
}
.fs17 {
	font-size: 17px;
}
.fs18 {
	font-size: 18px;
}
.fs19 {
	font-size: 19px;
}
.fs20 {
	font-size: 20px;
}
.fs21 {
	font-size: 21px;
}
.fs22 {
	font-size: 22px;
}
.fs23 {
	font-size: 23px;
}
.fs24 {
	font-size: 24px;
}
.fs25 {
	font-size: 25px;
}
.fs26 {
	font-size: 26px;
}
/*
=========================================================
font-style
=========================================================
*/
.red {
	color: #d53b47;
}
.bl {
	color: #006699;
}

.orange {
	color: #E55D19;
}
.gr {
	color: #2c9269;
}
.bold {
	font-weight: bold;
}
/*
=========================================================
float-etc
=========================================================
*/
.imgL, .left {
	float: left;
}
.imgR, .right {
	float: right;
}
.imgC, .txtC {
	text-align: center;
}
.txtL {
	text-align: left;
}
.txtR {
	text-align: right;
}
.txt-i {
	padding-left: 1em;
	text-indent: -1em;
}

.fixed {
  position: fixed;
  width: 100%;
  height: 100%;
}
