@charset "utf-8";

/* リセット */
* {
	-webkit-text-size-adjust: none;
	box-sizing: border-box;
}

.green-block {
    padding: 15px 12px 5px;
    background-color: #eaf9f2;
    border-bottom: 5px solid #14ae67;
    margin-bottom: 12px;
    border-top: 5px solid #14ae67;
}

.green-banner {
    padding: 12px 12px 2px;
    background-color: #eaf9f2;
}

.green-section {
    padding: 12px 12px 20px;
    background-color: #eaf9f2;
}

/*
.bread-bottom {
    background: #f5f5f5;
    font-size: 13px;
    padding: 6px 12px 4px;
    margin-bottom: 20px;
}
*/
/*----bread-bottom----*/
.bread-bottom {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
		font-size:90%;
}
.bread-bottom > li {
  display: inline-block;
  line-height: 1.5;
}
.bread-bottom > li + li:before {
  content: ">";
  padding: 0 5px;
  color: #666;
}
.bread-bottom > .active {
  color: #999999;
}


/* -- =====================================================================

160229 修正

====================================================================  -- */

#slide .slide-inner{
	position: relative;
    /*test
    height: 180px;
    overflow: hidden;*/
}
/*#slide .slide-inner li img{
    margin-top:-10%;
}
test*/
#slide .slide-inner .arrow_left{
	position: absolute;
	width: 10%;
	top: 35%;
	left: 10px;
}

#slide .slide-inner .arrow_right{
	position: absolute;
	width: 10%;
	top: 35%;
	right: 10px;
}

#slide .slide-inner p{
	position: absolute;
	width: 100%;
	padding: 10px 20px;
	left: 0;
	bottom: 0;
	color: #fff;
	background: #000;
	opacity: 0.7;
}



/*160301追記*/

#slide .slide-inner ul{
    height: 180px;
    overflow: hidden;
}

#slide .slide-inner ul li{
    text-align: center;
    vertical-align: middle;
    width: 100%;
    max-height: 180px;
}

/*#slide .slide-inner ul li img.w{
    width: 100%;
    height: auto;
    margin-top: -8%;

}*/

#slide .slide-inner ul li img{
    width: auto;
    height: 180px;
	margin:0 auto;
	display:block;
}


/* -------------------------------------------------------------------- */

.paging {
    height: 10px;
    font-size: 0;
    margin-top: 5px;
}

.paging ul {
    text-align: center;
}

.paging li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;
}

.paging li:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 4px;
}

.paging li.active:after {
    background-color: #13ae66;
}

.banner-text {
    margin: 0 -5px 5px;
}
.banner-text a {
    text-decoration:none;
    color:#333;
}
.banner-text li {
    float: left;
    width: 50%;
    padding: 0 5px;
    text-align: center;
}

.banner-text li .inner {
    background: #f9f9f9;
    border: 1px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 0 15px 0 9px;
    position: relative;
    min-height: 77px;
    line-height: 1.3;
}

.banner-text li .inner:after {
    content: "";
    background: url(../common_img/ico-arrow-1.png) no-repeat 0 0;
    background-size: cover;
    width: 8px;
    height: 14px;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -7px;
}

.banner-text li .img-title {
    padding: 5px 10px 0;
}

.banner-text li + li .img-title {
    padding: 5px 18px;
}

.banner-text li .img-title img {
    width: 100%;
    max-width: 107px;
}

.banner-text li + li .img-title img {
    max-width: 88px;
}

.banner-text li .img-star span,
.banner-text li .txt-price {
    font-size: 15px;
    color: #e60012;
    font-weight: 700;
}

.banner-text li .txt-price {
    padding: 5px 0 0;
}

.banner-text li .txt-price + div {
    font-size: 10px;
    text-align: left;
}

.banner-text li .img-star {
    padding: 0 0 5px;
}

.banner-text li .img-star img {
    width: 15px;
    vertical-align: -2px;
}

.banner-text li .txt-review {
    font-size: 11px;
    font-weight: 700;
    color: #118650;
}

.banner-text li .txt-review img {
    vertical-align: middle;
    width: 64px;
    height: auto;
}

.banner-text li .txt-review + span {
    color: #e60012;
    font-size: 12px;
    font-weight: 700;
}

.banner-text li .txt-review + span + span {
    font-size: 8px;
    color: #e60012;
}

.banner {
    padding-bottom: 5px;
}

ul.banner {
    margin: 0 -6px;
}

.banner li {
    float: left;
    width: 50%;
    padding: 2px 2px;
    box-sizing: border-box;
}

.banner img {
    width: 100%;
    height: auto;
}

.button-list {
    margin: 0 -5px 20px;
}

.button-list li {
    float: left;
    width: 60%;
    padding: 0 5px;
}

.button-list li + li {
    width: 40%;
}

.tabs {
    border-bottom: 5px solid #14ae67;
    padding: 0 10px;
    margin-bottom: 10px;
}

.tabs li {
    float: left;
    width: 25%;
    padding: 0 2px;
}

.tabs li a {
    display: block;
}

.tabs li img {
    width: 100%;
    height: auto;
}

.label-text {
    margin-bottom: 8px;
}

.label-text img {
    width: 235px;
}

.note {
    margin-bottom: 10px;
}

.note a {
    background: #fff;
    display: block;
    border: 1px solid #b7b7b7;
    color: #e60012;
    font-weight: 700;
    font-size: 12px;
    text-decoration: underline;
    padding: 5px 0 5px 57px;
    position: relative;
    line-height: 1.5;
}

.note a:before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url(../common_img/ico_note.png) no-repeat 0 0;
    background-size: 100% 100%;
    position: absolute;
    left: 12px;
    top: 6px;
}

.section {
	box-sizing: border-box;
}
.section h2 {
    background: #ececec;
    border-top: 1px solid #b7b7b7;
    border-bottom: 2px solid #b7b7b7;
    padding: 9px 12px;
    font-size: 14px;
    font-weight: 700;
    position: relative;
}

.section h2 a {
    position: absolute;
    right: 0;
    top: 11px;
    font-size: 12px;
    padding-right: 15px;
}

.section h2 a:after {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    background: url(../common_img/ico-arrow-down.png) no-repeat 0 0;
    background-size: 100% 100%;
    margin-left: 5px;
}

.section h2 span.pos {
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    right: 12px;
    top: 11px;
}

.section h2 img {
    width: 13px;
    height: auto;
    vertical-align: middle;
    margin-right: 6px;
}



.section h4 {
    background: #ececec;
    border-top: 1px solid #b7b7b7;
    border-bottom: 2px solid #b7b7b7;
    padding: 9px 12px;
    font-size: 14px;
    font-weight: 700;
    position: relative;
}

.section h4 a {
    position: absolute;
    right: 0;
    top: 11px;
    font-size: 12px;
    padding-right: 15px;
}

.section h4 a:after {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    background: url(../common_img/ico-arrow-down.png) no-repeat 0 0;
    background-size: 100% 100%;
    margin-left: 5px;
}

.section h4 span.pos {
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    right: 12px;
    top: 11px;
}

.section h4 img {
    width: 13px;
    height: auto;
    vertical-align: middle;
    margin-right: 6px;
}



.section h6 {
    background: #ececec;
    border-top: 1px solid #b7b7b7;
    border-bottom: 2px solid #b7b7b7;
    padding: 9px 12px;
    font-size: 14px;
    font-weight: 700;
    position: relative;
}

.section h6 a {
    position: absolute;
    right: 0;
    top: 11px;
    font-size: 12px;
    padding-right: 15px;
}

.section h6 a:after {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    background: url(../common_img/ico-arrow-down.png) no-repeat 0 0;
    background-size: 100% 100%;
    margin-left: 5px;
}

.section h6 span.pos {
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    right: 12px;
    top: 11px;
}

.section h6 img {
    width: 13px;
    height: auto;
    vertical-align: middle;
    margin-right: 6px;
}


.section h5 {
    background: #ececec;
    border-top: 1px solid #b7b7b7;
    border-bottom: 2px solid #b7b7b7;
    padding: 9px 12px;
    font-size: 14px;
    font-weight: 700;
    position: relative;
}

.section h5 a {
    position: absolute;
    right: 0;
    top: 11px;
    font-size: 12px;
    padding-right: 15px;
}

.section h5 a:after {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    background: url(../common_img/ico-arrow-down.png) no-repeat 0 0;
    background-size: 100% 100%;
    margin-left: 5px;
}

.section h5 span.pos {
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    right: 12px;
    top: 11px;
}

.section h5 img {
    width: 13px;
    height: auto;
    vertical-align: middle;
    margin-right: 6px;
}



.float-style img {
    float: left;
    margin-top: 2px;
}

.float-style span {
    float: left;
    width: calc(100% - 22px);
}

.service-list {
    margin: 0 -5px;
    padding: 12px 0 10px 0;
}

.service-list li {
    float: left;
    width: 25%;
    padding: 0 5px 10px;
}

.h-section {
    font-size: 14px;
    font-weight: 700;
    color: #118650;
    margin-bottom: 6px;
}

.section-item {
    padding: 10px 12px;
    border-bottom: 1px solid #cccccc;
    font-size: 10px;
}

.section-item:nth-child(even) {
    background-color: #eaf9f2;
}

.section-item .left {
    float: left;
    width: 70%;
}
.section-item .left a {
    text-decoration:none;
    color:#000000;
}
.section-item .left div {
    font-size: 13px;
    font-weight: 700;
    padding-bottom: 3px;
}
.section-item .left div span {
    margin-right: 5px;
}

.section-item .left div span.tomb img {
    width: 62px;
}

.section-item .left div span.general-tomb img {
    width: 42px;
}

.section-item .left .lead {
    font-size: 12px;
}

.section-item .thumb {
    float: right;
    width: 30%;
}

.section-item .price {
    color: #e60012;
    font-size: 14px;
    font-weight: 700;
}

.caption-price {
    background-color: #fff;
    border: 3px solid #d6d6d6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    font-size: 12px;
    padding: 3px 12px 5px;
    float: left;
    width: 50%;
}

.caption-price:after {
    content: "";
    width: 23px;
    height: 18px;
    right: -23px;
    top: 50%;
    position: absolute;
    margin-top: -9px;
    background: url(../detail/img/bg_arrow.png) no-repeat 0 0;
}

.caption-price + p {
    color: #e60012;
    font-size: 30px;
    font-weight: 700;
    float: left;
    width: 50%;
    padding-left: 25px;
    padding-top: 13px;
    line-height:1.0;
}

.caption-price + p span {
    font-size: 19px;
    line-height:1.0 !important;
}
.block {
    border: 1px solid #ccc;
    padding: 8px 10px 10px;
}

.block .label {
    display: inline-block;
    margin-bottom: 3px;
}

.block .label img {
    width: 68px;
}

.block h3 {
    font-size: 14px;
    color: #118650;
    font-weight: 700;
    margin-bottom: 8px;
}

.block h5 {
    font-size: 14px;
    color: #118650;
    font-weight: 700;
    margin-bottom: 8px;
}

.block .left,
.block .right {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.block .left {
    width: 35%;
    padding-right: 20px;
}

.block .left img {
    padding: 1px;
    border: 1px solid #ccc;
    -moz-box-shadow: 0 0 5px #ddd;
    -webkit-box-shadow: 0 0 5px #ddd;
    box-shadow: 0 0 5px #ddd;
}

.block .right {
    width: 63%;
    background: #f5f4f4;
    font-size: 12px;
    padding: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.block-top {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 8px 33px 8px 8px;
    position: relative;
    font-size: 10px;
}

.block-top:after {
    content: "";
    width: 30px;
    height: 100%;
    background: #999 url(../detail/img/bg_arrow_down.png) no-repeat center bottom;
    position: absolute;
    right: 0;
    top: 0;
}

.block-top .in p {
    float: left;
    width: 50%;
    padding-right: 5px;
    line-height: 1.3;
    padding-bottom: 4px;
}

.block-top .in p + p {
    padding-bottom: 8px;
}

.block-top .in p span {
    margin-right: 5px;
    float: left;
    width: 58px;
}

.block-top .in p span + span {
    float: left;
    padding: 0;
    border: none;
    color: #333;
    margin: 3px 0 0 0;
    width: 47%;
    text-align: left;
}

.block-top .in p span + .boxcolor {
    margin: 0;
}

.block-top .in p span + .boxcolor.second {
    margin-top: 2px;
}

.block-top .in p span + .boxcolor img {
    width: 50px;
}

.block-top .b-in p {
    float: left;
}

.block-top .b-in p span {
    margin-right: 5px;
    float: left;
    width: 58px;
}

.block-top .b-in p span.ic_reien {
    width: auto !important;
    background:#dfb773;
    color:#FFFFFF;
    padding: 3px 5px 2px 5px;
    line-height:1.2;
}

.block-top .b-in p span.ic_relig {
    width: auto !important;
    background:#4a89bc;
    color:#FFFFFF;
    padding: 3px 5px 2px 5px;
    line-height:1.2;
}
.block-top .b-in div {
    float: left;
    width: 184px;
}

.block-top .b-in div ul {
    float: left;
    border-right: 1px solid #b9b9b9;
    width: 122px;
    margin-right: 5px;
    padding-right: 5px;
    font-size: 8px;
}

.block-top .b-in div ul li {
    float: left;
    width: 50%;
    text-indent: -15px;
    padding-left: 15px;
}

.block-top .b-in div ul li img {
    width: 12px;
    vertical-align: -2px;
}

.block-top .b-in div ul + span {
    float: left;
}

.block-top .b-in div ul + span img {
    width: 48px;
}

.review-block {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 8px 33px 8px 10px;
    position: relative;
}

.review-block:before {
    content: "";
    width: 30px;
    height: 100%;
   /* background: #999 url(../detail/img/bg_arrow_down.png) no-repeat center bottom;*/
    background: #999 url(../detail/img/bg_arrow_right.png) no-repeat center bottom;
    /*background-position: 50% 87%;*/
    background-position: 50% 50%;
    position: absolute;
    right: 0;
    top: 0;
}

.review-block .avatar {
    float: left;
    width: 20%;
    padding-right: 5px;
}

.review-block .view {
    float: left;
    width: 80%;
    padding-left: 5px;
    font-size: 10px;
}

.review-block .view h3 {
    font-weight: 700;
    font-size: 13px;
    color: #118650;
}

.review-block .view h5 {
    font-weight: 700;
    font-size: 13px;
    color: #118650;
}

.review-block .view h4 {
    font-weight: 700;
    font-size: 13px;
    color: #118650;
}

.review-block .view .img-star {
    font-size: 15px;
    font-weight: 700;
    color: #e60012;
    line-height: 1;
    margin-bottom: 5px;
}

.review-block .view .img-star img {
    width: 15px;
    vertical-align: -2px;
}

.text-detail {
    position: absolute;
    right: 6px;
    top: 45%;
    margin-top: -10px;
    height: 20px;
    width: auto;
    z-index: 1;
}

.product-list li {
    border-bottom: 1px solid #ccc;
	font-size: 13px;
	line-height: 1.5;
    padding: 10px 12px;
}

.product-list li h3 {
    margin-bottom: 10px;
}

.product-list li h3 a {
    font-size: 15px;
    font-weight: 700;
    color: #118650;
}

.product-list .thumb {
    float: left;
    width: 35%;
}

.product-list .right {
    float: right;
    width: 65%;
    padding-left: 10px;
}

.product-list .right .price {
    display: block;
    color: #e60012;
    font-size: 15px;
    font-weight: 700;
}

.product-list .right .price + span {
    display: block;
    color: #e60012;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 3px;
}

.product-list .right .price + span img {
    width: 15px;
    vertical-align: -2px;
    margin-right: 0;
}

.product-list .right .price + span + span {
    margin-bottom: 3px;
    display: block;
}

.style-table {
    font-size: 12px;
    border: none;
    border-collapse: none;
    width: 100%;
    margin-bottom: 20px;
}

.style-table th,
.style-table td {
    border-bottom: 1px solid #ccc;
    padding: 7px 12px;
    vertical-align: top;
}

.style-table th {
    background-color: #faf8ed;
    border-right: 1px solid #ccc;
    width: 30%;
    text-align: left;
    color: #333;
}

.style-table td img {
    width: auto;
    height: auto;
}

.style-table td .btn-map {
    text-align: center;
    display: block;
    padding: 9px 0;
}

.style-table td .btn-map img {
    width: 50%;
}

.btn-back {
    padding: 0 12px;
}

.btn-back img {
    width: 95px;
}

.map-detail {
    border-top: 1px solid #ccc;
}

/* -- =========================================================================

 160229 修正 

========================================================================= -- */

.map_name{
	padding: 14px 12px;
	background: #ececec;
	border-top: 1px solid #b7b7b7;
	border-bottom: 1px solid #b7b7b7;
}

.map_name p{
	display: inline-block;
	vertical-align: middle;
}

.map_name h2{
	display: inline-block;
	vertical-align: middle;
}

.map_name_txt{
	width: 88%;
	font-size: 130%;
}

.map_name_btn{
	width: 10%;
}

/* -- =================================================================== -- */

.imgstar {
    width: 99px;
    vertical-align: -4px;
    margin: 0 5px;
}

.imgbuyer {
    width: 91px;
    vertical-align: middle;
}

.imgbuyer + span {
    vertical-align: -2px;
    padding-left: 4px;
}

.imgbuyer + span img {
    width: 20px;
    vertical-align: -2px;
}

.p-buy {
    text-align: center;
}

.p-buy span + span {
    color: #e60012;
    font-weight: 700;
    font-size: 19px;
    vertical-align: middle;
    line-height: 1;
}

.post {
    font-size: 14px;
    font-weight: 700;
}

.table-voice {
    border-collapse: none;
    text-align: center;
    margin-bottom: 10px;
}

.table-voice th,
.table-voice td {
    border: 1px solid #ccc;
    border-right: none;
}

.table-voice td {
    border-top: none;
    padding: 4px 0;
}

.table-voice tr th:last-child,
.table-voice tr td:last-child {border-right: 1px solid #ccc;}

.price-item {
    border: 1px solid #ccc;
}

.price-item h3 {
    font-size: 15px;
    font-weight: 700;
    color: #118650;
    padding: 7px 10px;
    border-bottom: 1px solid #ccc;
    background: #faf8ed;
    position: relative;
}

.price-item h3 span {
    position: absolute;
    right: 0;
    top: 6px;
    width: 90px;
    font-size: 14px;
    color: #333;
    line-height: 1.3;
    font-weight: 300;
}

.price-item h3 span.icon-1 {
    top: 12px;
}

.price-item h3 span img {
    width: 12px;
    vertical-align: middle;
}


.price-item h5 {
    font-size: 15px;
    font-weight: 700;
    color: #118650;
    padding: 7px 10px;
    border-bottom: 1px solid #ccc;
    background: #faf8ed;
    position: relative;
}

.price-item h5 span {
    position: absolute;
    right: 0;
    top: 6px;
    width: 90px;
    font-size: 14px;
    color: #333;
    line-height: 1.3;
    font-weight: 300;
}

.price-item h5 span.icon-1 {
    top: 12px;
}

.price-item h5 span img {
    width: 12px;
    vertical-align: middle;
}


.pitem-bottom {
    background: #f8f8f8;
    padding: 10px;
    font-size: 12px;
}

.pitem-bottom p {
    padding-bottom: 8px;
}

.pitem-bottom dl dt {
    font-weight: 700;
}

.pitem-bottom dl dd {
    padding-bottom: 8px;
}

.icon-1,.icon-2,.icon-3,.icon-4 {
    /*
	background: url(../detail/img/ico_1.gif) no-repeat 0 center;
    background-size: 12px 12px;
    padding-left: 15px;
	*/
}

.icon-2 {
    /*background-image: url(../detail/img/ico_2.gif);*/
}

.icon-3 {
    /*background-image: url(../detail/img/ico_3.gif);*/
}

.icon-4 {
    /*background-image: url(../detail/img/ico_4.gif);*/
}

sup {
    font-size: 8px;
}

.moreprice a {
    display: block;
    font-size: 14px;
    text-align: center;
    color: #333;
    text-decoration: none;
    line-height: 1.3;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #fefefe;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fefefe), to(#f6f6f6));
    background: -webkit-linear-gradient(#fefefe, #f6f6f6);
    background: -moz-linear-gradient(#fefefe, #f6f6f6);
    background: -ms-linear-gradient(#fefefe, #f6f6f6);
    background: -o-linear-gradient(#fefefe, #f6f6f6);
    background: linear-gradient(#fefefe, #f6f6f6);
    padding: 6px 10px;
    position: relative;
}

.moreprice a:after {
    content: "";
    width: 12px;
    height: 8px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -4px;
    background: url(../detail/img/arrow.png) no-repeat 0 0;
}

.moreprice a span {
    display: block;
    font-size: 10px;
}

.voice-detail {
    padding-bottom: 5px;
}

.voice-detail h3 {
    font-size: 14px;
    color: #118650;
    font-weight: 700;
    border-bottom: 1px dotted #118650;
    margin-bottom: 8px;
}

.voice-detail h4 {
    font-size: 13px;
    font-weight: 700;
    position: relative;
    line-height: 1.3;
    padding-left: 8px;
    margin-bottom: 6px;
}

.voice-detail h4:before {
    content: "";
    background: #dadada;
    width: 2px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.voice-detail h6 {
    font-size: 13px;
    font-weight: 700;
    position: relative;
    line-height: 1.3;
    padding-left: 8px;
    margin-bottom: 6px;
}

.voice-detail h6:before {
    content: "";
    background: #dadada;
    width: 2px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.voice-detail ul li {
    overflow: hidden;
    min-height: 145px;
    margin-bottom: 10px;
}

.voice-detail ul li:last-child {
    margin-bottom: 0;
}

.voice-detail ul li p {
    padding-left: 91px;
    font-size: 12px;
}

.voice-detail ul li img {
    float: left;
    width: 80px;
    padding-top: 4px;
}

.review-block-detail {
    margin-top: 7px;
    margin-bottom: 15px;
}

.review-block-detail .avatar {
    display: inline-block;
    width: 45px;
    vertical-align: middle;
}

.review-block-detail .view {
    display: inline-block;
    width: 78%;
    vertical-align: middle;
    padding-left: 8px;
}

.review-block-detail .view p {
    font-size: 10px;
}

.review-block-detail .view .img-star img {
    width: 98px;
    vertical-align: -2px;
}

.review-block-detail .view .img-star span {
    font-size: 15px;
    font-weight: 700;
    color: #118650;
    display: inline-block;
}

.review-block-detail .view .img-star img {
    width: 20px;
}

.review-block-detail .view .img-star span + span + span {
    font-size: 19px;
    color: #e60012;
}

.review-block-detail .view .img-star + div {
    line-height: 1.3;
    font-size: 12px;
}

.table-voicedetail {
    border: 1px solid #ccc;
    font-size: 10px;
    text-align: left;
    width: 100%;
    border-right: none;
    border-bottom: none;
    margin-bottom: 15px;
}

.table-voicedetail td,
.table-voicedetail th {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 2px 3px;
    vertical-align: top;
}

.table-voicedetail th {
    width: 23%;
    background: #faf8ed;
}

.table-voicedetail td {
    width: 15.5%;
}

.table-voicedetail td.bg {
    background: #faf8ed;
    font-size: 9px;
    text-align: center;
}

.table-voicedetail .subtable{
    padding: 0;
}

.table-voicedetail .subtable table {
    border: none;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    width: 70px;
    height: 35px;
    margin: 0 auto;
    display: block;
    background: #faf8ed;
}

.table-voicedetail .subtable table td {
    border: none;
    padding: 4px 5px;
}

.button-label {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 31px;
    font-size: 0;
    z-index: 2;
}

.block-top {}

/*-- レイアウト調整 --*/
.content-title {
    line-height: 1.0 !important;
	padding: 0 12px 2px !important;
}
span.content-title {
	font-size: 9px !important;
	padding: 2px 12px !important;
}
.map_name span{
	font-size: 9px !important;
    padding-bottom:5px;
    font-weight: 700;
    display:block;
}
.map_name_txt{
    line-height: 1.2 !important;
    font-weight: 700;
}
.mb4 {
    margin-bottom:4px !important;
}
.bread {
    display:block;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
    padding:5px 10px;
}
.bread .hd_bread {
    float:left;
    height:26px;
    width:131px;
    background:  url(../common_img/head-arrow.png) no-repeat;
    background-size: 131px;
    padding:4px 4px 4px 0 !important;
}
.bread .hd_bread a {
    text-decoration:none;
    color:#333333;
    font-size:12px;
    font-weight:bold;
    float:right;
    width:110px;
    height:18px;
    overflow:hidden;
    text-align:center;
}
.bread .hd_tel img {
    float:right;
    width:47%;
}
.detail_ttl {
    padding: 0 10px 2px;
    background: #2c9e66;
    line-height:1.2;
    border-bottom: solid 1px #ccc;
}
.detail_ttl span {
    color:#ffffff;
    font-weight:bold;
    font-size:9px;
}

.icon_elements li {
	box-sizing: content-box;
}

/*header変更（160524）*/
#header-main-02 {
	border-top: 3px solid #1f9058;
	position: relative;
	z-index: 12;
}
#header-main-02 .header-area {
	padding: 4px 5px 5px 5px;
	background: url(../common_img/bg_header01.gif) repeat-x left top;
	-webkit-background-size: 5px 4px;
	-moz- background-size: 5px 4px;
	background-size: 5px 4px;
	-webkit-box-shadow: 0 0 3px #d5d5d4;
	-moz-box-shadow: 0 0 3px #d5d5d4;
	box-shadow: 0 0 3px #d5d5d4;
	border-top: 1px solid #fff;
}
#header-main-02 .header-area .logo {
    float: left;
    height: auto;
    margin: 5px 0 0;
    width: 122px;
}
#header-main-02 .header-area .header_txt {
	float: left;
	padding: 5px 0 0 10px;
	color: #207515;
	font-size: 10px;
	letter-spacing: -1px;
	line-height: 1.4;
	white-space: nowrap;
}
#header-main-02 .header-area .menu01 {
    background: url(../common_img/bg_menu.png) no-repeat;
	-webkit-background-size: 42px 33px;
	-moz- background-size: 42px 33px;
	background-size: 42px 33px;
    border-radius: 5px;
    color: #fff;
    float: right;
    font-size: 10px;
	font-weight: bold;
	padding: 0;
	width: 42px;
	height: 33px;
	text-align: center;
	cursor: pointer;
}
#header-main-02 .header-area .menu01 span {
    background: url(../common_img/icon_menu01.png) no-repeat center 4px;
	-webkit-background-size: 25px 13px;
	-moz- background-size: 25px 13px;
	background-size: 25px 13px;
    display: block;
    padding: 20px 0 0 0;
	letter-spacing: -1px;
}
#header-main-02 .header-area .menu01 span.close {
	background: url(../common_img/icon_menu01_close.png) no-repeat center 4px;
	-webkit-background-size: 13px 13px;
	-moz- background-size: 13px 13px;
	background-size: 13px 13px;
}

/*お客様の声・口コミ欄改修（160712）*/
.review-block .label-txt,
.block .label-txt {
	background: #ccc;
	clear: both;
	color: #000;
	font-size: 10px;
	line-height: 1.0;
	padding: 4px 4px 2px;
	text-align: center;
	width: 68px;
}

/*スタッフのおすすめ追加（160712）*/
.area-comment {
	clear: both;
	margin-bottom: 10px;
}
.area-comment .box-staff {
	clear: both;
	text-align: center;
}
.area-comment .box-staff figure {
	float: left;
	margin: 0 20px 10px;
	width: 30%;
}
.area-comment .txt-staff {
	color: #6a654b;
	float: left;
	line-height: 1.2;
	margin-top: 20px;
}
.arrow-box {
	position: relative;
	background: #faf8ed;
	border: 5px solid #88c2a6;
	border-radius: 20px;
	display: inline-block;
	padding: 10px;
	width: 100%;
}
.arrow-box:after,
.arrow-box:before {
	bottom: 100%;
	left: 25%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow-box:after {
	border-color: rgba(250, 248, 237, 0);
	border-bottom-color: #faf8ed;
	border-width: 13px;
	margin-left: -13px;
}
.arrow-box:before {
	border-color: rgba(136, 194, 166, 0);
	border-bottom-color: #88c2a6;
	border-width: 20px;
	margin-left: -20px;
}
.arrow-box .txt-lead {
	border-bottom: solid 1px #88c2a6;
	color: #118650;
	font-weight: bold;
	margin-bottom: 10px;
}

/*お客様の声文章追加（160719）*/
.review-block .comment {
	clear: both;
	padding-top: 5px;
}

/*価格欄改修（161206）*/
.pitem-top {
    padding: 4px 10px;
    border-bottom: 1px solid #ccc;
}

.pitem-top ul {
    /*overflow: hidden;*/
    margin-bottom: 5px;
}

.pitem-top ul li {
    text-align: center;
    float: left;
    width: 40%;
    margin: 5px 0 5px 7px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 12px;
    position: relative;
}

.pitem-top ul li span {
    display: block;
    padding: 4px 5px;
}

.pitem-top ul li span:first-child {
    border-bottom: 1px solid #ccc;
    background: #f6f6f6;
    border-radius: 6px 6px 0 0;
}

.pitem-top ul li:first-child:after {
    content: "+";
    position: absolute;
    font-size: 26px;
    right: -32px;
    top: 7px;
    font-weight: 700;
    color: #999;
}

.pitem-top ul li:last-child {
    margin: 5px 7px 5px 40px;
}

.pitem-top ul li:last-child:after {
    display: none;
}

.pitem-price {
    padding-bottom: 0;
}

.pitem-price span {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
   /* width: 50%;*/
}

.pitem-price span + span {
    color: #e60012;
    font-size: 18px !important;
    font-weight: 700;
    padding: 0 0 0 10px;
    float:right;
    text-align:right;
    line-height:1.2;
}
.pitem-price .red {
	color: #e60012;
}

.pitem-price.first span {
    width: auto;
    font-weight: 700;
    font-size: 14px;
}

.pitem-allow span {
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    width: 62%;
}

.pitem-allow span img {
    padding-top:5px;
    width: 64px;
    display: block;
}

.pitem-allow span + span {
    color: #118650;
    font-weight: 700;
    background: #d9ffed;
    width: 38%;
    text-align: center;
    padding: 3px 3px;
}

.pitem-link {
    font-size: 12px;
    padding-top: 2px;
}

.pitem-link a:before {
    content: "";
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    background: url(../common_img/ico-arrow-down.png) no-repeat 0 0;
    background-size: 100% 100%;
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    margin-right: 5px;
}

#price_list .ttl-type {
	background: #eaf9f2;
	clear: both;
	padding: 4px 0 4px 10px;
}
#price_list .ttl-type .type-01 {
	background: url(../detail/img/ico_1.gif) left no-repeat;
	background-size: 20px;
	font-size: 14px;
	font-weight: bold;
	padding-left: 24px;
}
#price_list .ttl-type .type-02 {
	background: url(../detail/img/ico_2.gif) left no-repeat;
	background-size: 20px;
	font-size: 14px;
	font-weight: bold;
	padding-left: 24px;
}
#price_list .ttl-type .type-03 {
	background: url(../detail/img/ico_3.gif) left no-repeat;
	background-size: 20px;
	font-size: 14px;
	font-weight: bold;
	padding-left: 24px;
}
#price_list .ttl-type .type-04 {
	background: url(../detail/img/ico_4.gif) left no-repeat;
	background-size: 20px;
	font-size: 14px;
	font-weight: bold;
	padding-left: 24px;
}

#price_list #TabNavWap {
	background: #fff;
	padding: 0 10px 0;		
}
#price_list #TabNav {
	display: table;
	position: relative;
	top: 1px;
	width: 100%;
}
#price_list #TabNav li {
	display: table-cell;
	padding-right: 5px;
}
#price_list #TabNav li:last-child {
	padding-right: 0;
}
#price_list #TabNav li a {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f1ede2)); 
	background: -webkit-linear-gradient(top, #fff, #f1ede2); 
	background: -moz-linear-gradient(top, #fff, #f1ede2);
	border: 1px solid #cfc6af;
	border-radius: 5px;
	display: block;
	font-weight: bold;
	font-size: 14px;
	margin-top: 6px;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
}
#price_list #TabNav li a.on {
	background: #77bf31;
	border-bottom: 0;
	border-color: #006a40;
	border-radius: 5px 5px 0 0;
	color: #fff;
	margin-bottom: 0;
	padding-bottom: 12px;
}
#price_list #TabNav li.tab-01 {
	background: #fff;
	display: block;
	padding-right: 0;
}
#price_list #TabNav li.tab-01 a {
	background: url(../common_img/icon_kukaku.png) 6px no-repeat;
	background-size: 24px;
	display: block;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 0;
	padding: 6px 0 6px 36px;
	text-align: left;
	color:#000;
	font-weight: bold;
}
#price_list #TabNav li.tab-01 a span {
	color: #1d8b63;
	float: right;
	padding-right: 5px;
	text-align: right;
}
#price_list #TabNav li a.on {
	background: #77bf31;
	border-bottom: none;
	border-color: #006a40;
	border-radius: 5px 5px 0 0;
	color :#fff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0;
	padding: 6px 0 6px 36px;
	text-align: left;
}

#price_list .box-tab.off {
	display:none;
}
#price_list .box-tab .ttl {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#77bf31), to(#8cc748));
	background: -webkit-linear-gradient(top, #77bf31, #8cc748);  
	background: -moz-linear-gradient(top, #77bf31, #8cc748);
	border-top: 1px solid #006a40;
	border-bottom: 1px solid #c9c9c9;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 10px;
}
#price_list .box-tab ul li {
	border-bottom: 1px solid #c9c9c9;
	font-size: 14px;
	padding: 2px 10px 2px 2px;
}
#price_list .box-tab ul li label {
	display: table;
	width: 100%;
}
#price_list .box-tab ul li label .check {
	background: #dfdbd4;
	display: table-cell;
	padding: 10px 6px;
	text-align: center;
	width: 30px;
}
#price_list .box-tab ul li label .txt {
	display: table-cell;
	padding: 5px 10px;
}
#price_list .box-tab ul li label .txt .red {
	color: #ea5300;
}
#price_list .box-btn {
	background: rgba(51, 51, 51, 0.8);
	bottom: 0;
	left: 0;
	padding: 0 5px;
	position: fixed;
	width: 100%;
	z-index: 999;
}
#price_list .box-btn .linetab {
	display: table;
	border-collapse: separate;
	border-spacing: 5px;
	width: 100%;
}
#price_list .box-btn .linetab p {
	display: table-cell;
	vertical-align: middle;
}
#price_list .box-btn .linetab p a {
	background: #fff;
	border: 1px solid #cfc6af;
	border-radius: 5px;
	color: #ea5300;
	display: block;
	font-size: 15px;
	font-weight: bold;
	margin: 0 10px;
	padding: 10px 0 8px;
	text-align: center;
	text-decoration: none;
}

#price_list .box-change {
	clear: both;
	margin: 10px 5px 0;
}
#price_list .box-change select#list-select {
	background-color: #fff;
	color: #404040;
	display: inline-block;
	float: right;
	height: 30px;
	margin-bottom: 10px;
	width: 50%;
}

/*お気に入りボタン（161227）*/
.area-ttl {
	clear: both;
}
.area-ttl .btn-favorite img {
	float: right;
	margin: 5px 5px 5px 0;
	width: 15%;
}

/*まとめて申込（170502）*/
.box-matome {
	font-size: 15px;
	position: relative;
	background: #faf8ed;
	border: 2px solid #118650;
	border-radius: 5px;
	margin: 0 5px 8px;
	padding: 2px 5px;
}
.box-matome:after, .box-matome:before {
	top: 100%;
	left: 7%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.box-matome:after {
	border-color: rgba(250, 248, 237, 0);
	border-top-color: #faf8ed;
	border-width: 7px;
	margin-left: -7px;
}
.box-matome:before {
	border-color: rgba(17, 134, 80, 0);
	border-top-color: #118650;
	border-width: 10px;
	margin-left: -10px;
}

.box-matome  label input {
	height: 24px;
	width: 24px;
}

.list-osusume li {
    border: 1px solid #ccc;
	border-radius: 5px;
	display: flex;
	flex-flow: nowrap;
	font-size: 13px;
	justify-content: flex-start;
	line-height: 1.5;
	margin: 0 5px 5px;
    padding: 0;
}
.list-osusume li .box-check {
	background: #bdc8ca;
	border-radius: 4px 0 0 4px/4px 0 0 4px;
	position: relative;
	text-align: center;
	width: 36px;
}
.list-osusume li .box-check label {
	display: inline-block;
	/*height: 100%;*/
	width: 36px;
}
.list-osusume li .box-check label input {
	height: 18px;
	left: 4px;
	margin-top: -9px;
	position: absolute;
	top: 50%;
	width: 18px;
}
.list-osusume li .box-detail {
	background: none;
	border: none;
	margin: 0;
	padding: 5px;
	position: relative;
	text-align: left;
}
.list-osusume li .box-detail h5.ttl-reien {
	background: none;
	border: none;
	display: block;
	line-height: 1.2;
	margin: 0;
	padding: 0;
	width: 100%;
}
.list-osusume li .box-detail h5.ttl-reien a ,
.list-osusume a li .box-detail h5.ttl-reien{
	background: none;
	border: none;
	color: #118650;
	font-size: 15px;
	font-weight: 700;
	left: 5px;
	position: absolute;
	top: 5px;
    text-decoration: underline;
}
.list-osusume li .box-detail h5.ttl-reien a:after,
.list-osusume a li .box-detail h5.ttl-reien:after{
	background: none;
	border: none;
}
.list-osusume li .box-detail .box-inner {
	display: flex;
	margin-top: 30px;
	width: 100%;
}
.list-osusume li .box-detail .box-inner .thumb {
	margin-right: 5px;
	width: 40%;
}
.list-osusume li .box-detail .box-inner .txt-price {
    color: #e60012;
    font-size: 15px;
    font-weight: 700;
	white-space: nowrap;
}
.list-osusume li .box-detail .box-inner .txt-price img {
	vertical-align: baseline;
	width: 80px;
}
.list-osusume .box-detail .box-inner .list-icons {
	display: flex;flex-wrap: wrap;
	justify-content: flex-start;
}
.list-osusume .box-detail .box-inner .list-icons li {
	border: none;
	border-radius: 0;
	color: #fff;
	display: inline-block;
	font-weight: normal;
	line-height: 16px;
	height: 16px;
	margin: 0 2px 2px 0;
	padding: 1px 2px 0;
	text-align: center;
	white-space: nowrap;
}
.list-osusume .box-detail .box-inner .txt-p {
	color: #e60012;
	font-size: 15px;
	font-weight: 700;
	line-height: 1.2;
	white-space: nowrap;
}
.list-osusume .box-detail .box-inner .txt-p img {
	vertical-align: baseline;
	width: 80px;
}
.list-osusume .box-detail .box-inner ul.list-icons li.icon-eki {
	background: #00ace6;
	font-size: 12px;
}
.list-osusume .box-detail .box-inner ul.list-icons li.icon-garden {
	background: #6a9c3a;
	font-size: 9px;
}
.list-osusume .box-detail .box-inner ul.list-icons li.icon-staff {
	background: #e60012;
	font-size: 7px;
}
.list-osusume .box-detail .box-inner ul.list-icons li.icon-pet {
	background: #a08d76;
	font-size: 11px;
}

.fix-btn02 {
	position: fixed;
	z-index: 100;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0;
	background: rgba(0, 0, 0, 0.6);
}
.fix-btn02 .txt {
	text-align: center;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	padding: 5px 0 0;
}
.fix-btn02 .linetab {
	display: block;
	width: 310px;
	margin: 0 auto;
	padding: 5px 0 0;
}
.fix-btn02 .linetab p {
	display: block;
	width: 150px;
	margin-right: 10px;
	margin-bottom: 5px;
	float: left;
}
.fix-btn02 .linetab p:nth-last-of-type(1) {
	margin-right: 0;
}

/*似たオススメ霊園追加（170512）*/
#area-other-rec {
	margin: 5px auto;
	width: 98%;
}
#area-other-rec h3 {
	color: #ffa800;
	font-size: 16px;
}
#area-other-rec ul {
	border: solid 1px #ffa800;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}
#area-other-rec ul li {
	padding: 5px 0;
}
#area-other-rec ul li .img-other-rec img {
	display: inline-block;
	margin-right: 1%;
	/*max-height: 30%;*/
	max-width: 40%;
}
#area-other-rec ul li .detail-other-rec {
	display: inline-block;
	width: 50%;
}
#area-other-rec ul li .detail-other-rec .rank img {
	width: 80%;
}
#area-other-rec ul li .detail-other-rec .price {
	color: #e60012;
	font-weight: bold;
}

.box-btn-other01 {
	background: #bbb;
	margin-bottom: 10px;
	padding: 10px 0;
	text-align: center;
}
.box-btn-other01 .lead {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}
.box-btn-other01 .btn {
	margin: 0 auto;
	width: 90%;
}

/*タブ改修（170516）*/
.tabs-detail {
    border-bottom: 5px solid #14ae67;
	display: flex;
	flex-wrap: nowrap;
	/*justify-content: space-between;*/
    padding: 0 10px;
    margin-bottom: 10px;
}
.tabs-detail li {
    margin: 0 2px;
	text-align: center;
    width: 25%;
}
.tabs-detail li a {
	background: #faf8ed;
	border-top: solid 1px #14ae67;
	border-right: solid 1px #14ae67;
	border-left: solid 1px #14ae67;
	border-radius: 4px 4px 0 0 / 4px 4px 0 0;
	color: #14ae67;
    display: block;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}
.tabs-detail li a img {
	height: auto;
	margin: 10% auto 0;
    width: 25%;
}
.tabs-detail li a.active {
	background: #14ae67;
	border-top: solid 1px #14ae67;
	border-right: solid 1px #14ae67;
	border-left: solid 1px #14ae67;
	border-radius: 4px 4px 0 0 / 4px 4px 0 0;
	color: #fff;
    display: block;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}

/*見学時の注意リンク（170606）*/
.note-att {
    margin: 0 auto 5px;
	padding: 5px 0;
	text-align: center;
}
.note-att a {
	font-size: 14px;
    line-height: 1.0;
    text-decoration: underline;
}
.note-att a img {
	margin: 0 5px 4px 0;
	vertical-align: middle;
	width: 16px;
}

/*詳細にフォーム設置（170627）*/
#form-ohaka h2 {
    background: #ececec;
    border-top: 1px solid #b7b7b7;
    border-bottom: 2px solid #b7b7b7;
    font-size: 14px;
    font-weight: 700;
	margin-bottom: 10px;
    padding: 9px 12px;
    position: relative;
}
#form-ohaka h2 img {
    width: 13px;
    height: auto;
    vertical-align: middle;
    margin-right: 6px;
}
#form-ohaka .bar-flow {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	margin: 0 auto 10px;
	text-align: center;
	width: 90%;
}
#form-ohaka .bar-flow li.icon-01 {
	background: url(/img/bar_flow01.png) center no-repeat;
	background-size: 80%;
	color: #fff;
	line-height: 2.0;
	padding-top: 2px;
	width: 50%;
}
#form-ohaka .bar-flow li.icon-02 {
	background: url(/img/bar_flow02.png) center no-repeat;
	background-size: 80%;
	line-height: 2.0;
	padding-top: 2px;
	width: 50%;
}
#form-ohaka form {
	margin: 0 10px;
}
#form-ohaka form .input-table input {
	background: #ffffe5;
	border: solid 1px #a2a2a2;
}
#form-ohaka form .input-table span.icon-nes {
	background: #ee4c4c;
	color: #fff;
	display: inline-block;
	font-size: 11px;
	font-weight: 600;
	line-height: 1.0;
	padding: 3px 3px 3px;
	position: absolute;
	right: 10px;
	top: 10px;
}
#form-ohaka form .area-check span.icon-nes01 {
	background: #9a9a9a;
	color: #fff;
	display: inline-block;
	font-size: 11px;
	font-weight: 600;
	padding: 3px 3px 3px;
	position: absolute;
	right: 10px;
	top: 0;
}
.section .btn-next {
	margin: 0 10px 10px;
}
.section .btn-next button {
	background: none;
	border: none;
	padding: 0;
}

/*現地レポート改修（170725）*/
.section-greport {
	background: #b9b9b9;
	margin-bottom: 20px;
	padding-bottom: 5px;
}
.section-greport h2 {
    background: #ececec;
    border-top: 1px solid #b7b7b7;
    border-bottom: 2px solid #b7b7b7;
    font-size: 14px;
    font-weight: 700;
    padding: 9px 12px;
    position: relative;
}
.section-greport h2 img {
    height: auto;
    margin-right: 6px;
    vertical-align: middle;
    width: 13px;
}
.section-greport .area-greport {
	background: #fff;
	clear: both;
	display: flex;
	flex-flow: nowrap;
	justify-content: space-between;
	margin: 10px 5px 10px;
	padding: 5px;
}
.section-greport .area-greport .img-main {
	display: inline-block;
	height: 40%;
	margin-right: 1%;
	text-align: center;
	vertical-align: middle;
	width: 40%;
}
.section-greport .area-greport .img-main img {
	max-height: 100%;
	max-width: 100%;
}
.section-greport .area-greport .box-greport {
	width: 60%;
}
.section-greport .area-greport .box-greport .ttl-greport {
	background: #4a89bc;
	color: #fff;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 5px 3px 3px;
}

.evaluate{
	margin: 10px 0 0;
}
.evaluate img{
	width: 16px;
}
.evaluate span{
	color: #299064;
	font-size: 16px;
	font-weight: bold;
	margin-right: 10px;
}
.evaluate .val{
	font-weight: bold;
	color: #404040;
	margin-left: 0.5em; 
}

.itemized{
	vertical-align: middle;
	border: 1px solid #299064;
	font-size: 15px;
	color: #299064;
	border-collapse: collapse;
	width: 100%;
	margin: 10px 0;
}
.itemized th{
	background: #D5F1E3;
	border-top: 1px solid #299064;
	border-right: 1px solid #299064;
	font-size: 12px;
	padding: 5px 0;
	vertical-align: middle;
}
.itemized td{
	border-bottom: 1px solid #299064;
	border-right: 1px solid #299064;
	color: #404040;
	font-weight: bold;
	text-align: center;
	padding: 10px 0;
}

.main-rep {
	background: #4a89bc;
	color: #fff;
}
.main-rep h2 {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	line-height: 2.0;
	text-align: center;
}
.main-rep figure {
	color: #fff;
	font-size: 14px;
	margin-bottom: 10px;
	padding: 0 5%;
	position: relative;
	text-align: center;
}
.main-rep figure img {
	height: auto;
	margin: 0 auto;
	width: 100%;
}
.main-rep figure figcaption {
	background-color: rgba(0,0,0,0.5);
	bottom: 5px;
	color: #fff;
	display: block;
	height: auto;
	left: 5%;
	line-height: 20px;
	position: absolute;
	text-align: center;
	width: 90%;
}
.main-rep .txt-lead {
	font-size: 14px;
	line-height: 1.5;
	padding: 0 5% 5%;
}

.cont-rep {
	font-size: 14px;
	line-height: 1.5;
	margin: 0 0 20px;
}
.cont-rep h3 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
}
.cont-rep figure {
	color: #fff;
	font-size: 14px;
	margin-bottom: 10px;
	padding: 0 5%;
	position: relative;
	text-align: center;
}
.cont-rep figure img {
	height: auto;
	margin: 0 auto;
	max-width: 320px;
	text-align: center;
}
.cont-rep figure figcaption {
	background-color: rgba(0,0,0,0.5);
	bottom: 5px;
	color: #fff;
	display: block;
	height: auto;
	left: 5%;
	line-height: 20px;
	position: absolute;
	text-align: center;
	width: 90%;
}

/*特集リンク設置（170912）*/
.link-bread {
	align-items: center;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
  padding: 5px 5px;
}
.link-bread .hd_bread {
	background: url(/sp/common_img/bg_link_01.png) no-repeat;
	height: 30px;
	text-align: center;
	width: 45%;
	padding: 4px 4px 4px 0 !important;
}
.link-bread .hd_bread a {
	color: #333;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	height: auto;
	overflow: hidden;
	width: 45%;
}
.link-bread .hd_special {
	background: url(/sp/common_img/bg_link_02.png) no-repeat;
	height: 30px;
	text-align: center;
	width: 55%;
	padding: 4px 4px 4px 0 !important;
}
.link-bread .hd_special a {
	color: #333;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	height: auto;
	overflow: hidden;
	width: 55%;
}

/*詳細ページ改修（171107）*/
#slide {
	padding: 0 12px;
	margin-bottom: 0px;
}
#slide .slide-inner .bx-wrapper .bx-controls .bx-pager-item {
	display: none;
}
#slide .slide-inner p.cap-new {
	position: absolute;
	width: 100%;
	padding: 7px 5px 12px;
	left: 0;
	bottom: 0;
	color: #fff;
	background: #000;
	opacity: 0.7;
	text-align: center;
}
#slide .slide-inner p.cap-new span.num-list {
	background: #666;
	border-radius: 4px;
	bottom: 15px;
	font-size: 11px;
	left: 5px;
	padding: 2px 4px 0;
	position: absolute;
}
#slide .slide-inner p.cap-new span.txt-cap {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}

.tabs-detail02 {
  border-top: 5px solid #14ae67;
	display: flex;
	flex-wrap: nowrap;
  padding: 0 10px;
  margin: 10px 0;
}
.tabs-detail02 li {
    margin: 0 2px;
	text-align: center;
    width: 25%;
}
.tabs-detail02 li a {
	background: #faf8ed;
	border-bottom: solid 1px #14ae67;
	border-right: solid 1px #14ae67;
	border-left: solid 1px #14ae67;
	border-radius: 0 0 4px 4px / 0 0 4px 4px;
	color: #14ae67;
  display: block;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}
.tabs-detail02 li a img {
	height: auto;
	margin: 10% auto 0;
  width: 25%;
}
.tabs-detail02 li a.active {
	background: #14ae67;
	border-bottom: solid 1px #14ae67;
	border-right: solid 1px #14ae67;
	border-left: solid 1px #14ae67;
	border-radius: 0 0 4px 4px / 0 0 4px 4px;
	color: #fff;
  display: block;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}

.review-block .view h3.ttl-com {
	color: #118650;
	font-size: 13px;
	font-weight: 700;
	height: 3em;
	overflow: hidden;
}
.review-block .txt-com {
	clear: both;
	height: 6em;
	overflow: hidden;
	padding-top: 5px;
}

/*更新日追加（171114）*/
.content-title span.ico-new {
	background: #f10051;
	border-radius: 8px;
	color: #fff;
	display: inline-block;
	font-size: 11px;
	line-height: 1.0;
	margin-left: 5px;
	padding: 3px 8px 1px;
}
span.content-title {
	font-size: 9px !important;
	padding: 2px 12px !important;
}

.bar-date {
	background: #f5f5f5;
	margin-bottom: 5px;
	padding: 5px 10px 3px;
}
